/* base */
html, body {height: 100%; width: 100%; margin: 0; padding: 0; background-color: #fff; color: #000; font: normal 12px Arial, Helvetica, sans-serif;}
div, form, p, h1, h2, h3, h4, ul, ol {margin: 0; padding: 0;}
a {color: #027cb2; text-decoration: underline;}
a:hover {color: #027cb2; text-decoration: none;}
img {border: 0;}
li {list-style: none;}

body .q_small {font-size: 11px;}
body .q_bold {font-weight: bold;}
body .q_nobr {white-space: nowrap;}
body .q_hidden {display: none;}
body .q_abs {position: absolute;}
body .q_fl {float: left;}
body .q_fr {float: right;}
body .q_cl {clear: left;}
body .q_cr {clear: right;}
body .q_cb {clear: both;}

body .q_alt {text-align: left;   vertical-align: top;}
body .q_alm {text-align: left;   vertical-align: middle;}
body .q_alb {text-align: left;   vertical-align: bottom;}
body .q_act {text-align: center; vertical-align: top;}
body .q_acm {text-align: center; vertical-align: middle;}
body .q_acb {text-align: center; vertical-align: bottom;}
body .q_art {text-align: right;  vertical-align: top;}
body .q_arm {text-align: right;  vertical-align: middle;}
body .q_arb {text-align: right;  vertical-align: bottom;}

/* box shadow */
body .q_plate {
	-webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0, 0.3);
	   -moz-box-shadow: 2px 2px 3px -1px rgba(0,0,0, 0.3);
	        box-shadow: 2px 2px 3px -1px rgba(0,0,0, 0.3);
}
/* //base */


/* main */
.qip_main_wrapper {margin: 0 auto; min-width: 1000px; max-width: 1280px; min-height: 100%;}
* html .qip_main_wrapper {height: 100%;}
.qip_main_wrapper .qip_foot_wrap {clear: both; padding-top: 20px; height: 46px;}

.qip_row {clear: both; padding: 0 20px;}

.qip_left  {float: left; padding: 0 20px 0 0;  width: 200px;}
.qip_right {float: right; padding: 0 0 0 20px; width: 240px;}
.qip_center {}
.qip_with_left {margin-left: 220px;}
.qip_with_right {margin-right: 260px;}

.qip_main_wrapper .q_mt5  {margin-top:  5px;}
.qip_main_wrapper .q_mt10 {margin-top: 10px;}
.qip_main_wrapper .q_mt15 {margin-top: 15px;}
.qip_main_wrapper .q_mt20 {margin-top: 20px;}
.qip_main_wrapper .q_mt25 {margin-top: 25px;}
.qip_main_wrapper .q_mt30 {margin-top: 30px;}
.qip_main_wrapper .q_mb5  {margin-bottom:  5px;}
.qip_main_wrapper .q_mb10 {margin-bottom: 10px;}
.qip_main_wrapper .q_mb15 {margin-bottom: 15px;}
.qip_main_wrapper .q_mb20 {margin-bottom: 20px;}
.qip_main_wrapper .q_mb25 {margin-bottom: 25px;}
.qip_main_wrapper .q_mb30 {margin-bottom: 30px;}

.qip_main_wrapper h1 {font: normal 18px/30px Arial,sans-serif;}
.qip_main_wrapper h2 {font: normal 18px/22px Tahoma,Arial,sans-serif; margin-bottom: 10px;}
.qip_main_wrapper h3 {font: bold 14px/16px Arial;}
/* //main */


/* head */
.qip_head .qh_auth,
.qip_head_auth .qh_unauth {display: none;}
.qip_head_auth .qh_auth {display: block;}

.qip_head {padding: 4px 20px; min-width: 960px; height: 12px; overflow: hidden; font: normal 11px/11px Arial,sans-serif; border-bottom: 1px solid #ccc;
	//line-height: 12px;
}
.qip_head a {outline: none; text-decoration: underline;}
.qip_head a:hover {text-decoration: none;}

.qip_head a,
.qip_head a:hover,
.qip_head .qh_user_block,
.qip_head .qh_menu {color: #231f20;}

.qh_user_block {margin: 0; padding: 0; height: 12px;}
.qh_user_block li {float: left; margin: 0 0 0 6px; padding: 0; height: 12px; list-style-type: none; line-height: 11px;
	//line-height: 12px;
}
.qh_user_block li.qhu_delimiter {color: #808285;}
.qh_user_block .qhu_mail_top,
.qh_user_block .qhu_mail_top:hover {color: #027cb2;}
.qh_user_block .qhu_logout {color: #808285;}
.qh_user_block .qhu_avatar {position: absolute; top: 0; margin-left: -25px; width: 20px; vertical-align: middle;}

.qh_menu {margin: 0; padding: 0; height: 12px;}
.qh_menu li {float: left; margin: 0 10px 0 0; padding: 0; height: 12px; list-style-type: none; line-height: 11px;
	//line-height: 12px;
}
.qh_menu a {font-weight: normal; white-space: nowrap;}

.qh_menu .qm_list {z-index: 11;}
.qh_menu .qm_link {z-index: 12; font-size: 9px; text-decoration: none;}
.qh_menu .qm_link span {height: 11px; font-size: 11px;}
.qh_menu .qm_inactive .qm_link span,
.qh_menu .qm_inactive .qm_link:hover span {border-bottom-color: #000;}

.qh_menu #qhm_2011 a {color: #c4161c; font-weight: bold;}
.qip_head_auth .qh_menu #qhm_mail,
.qip_head_auth .qh_menu #qhm_horo {display: none;}

.qm_langs {position: absolute; top: 0; z-index: 9; margin: 0 0 0 -5px; padding: 16px 4px 1px 4px; background-color: #fff; border: #ccc solid 1px; border-top-width: 0;}

/* login form */
.qh_login {padding: 10px; width: 400px; top: 18px; right: 10px; z-index: 15; font: normal 12px/12px Arial,sans-serif; background-color: #fff; border: #ccc solid 1px;}
form.qh_login a {color: #0b98ca; text-decoration: underline;}
form.qh_login a:hover {color: #0b98ca; text-decoration: none;}
.qh_login .qhl_error {margin-bottom: 5px; color: #ff0000;}
.qh_login .qhl_splitter {margin: 10px 0; height: 1px; background-color: #ccc; overflow: hidden;}

.qh_login input,
.qh_login select {vertical-align: middle;}

.qh_login .qhl_field {padding: 1px; width: 102px; height: 16px; border: 1px #999 solid;}
.qh_login .qhl_field_inact {color: #888;}
.qh_login .qhl_host {width: 95px; height: 20px; border: 1px #999 solid;}
.qh_login .qhl_domain {display: inline-block; width: 105px; height: 20px; line-height: 20px;}
.qh_login .qhl_button {width: 61px; height: 20px; border: 0; background: #efefef url(../i/button.gif) no-repeat 0 0;}

.qh_login .qhl_extra {text-align: center;}
.qh_login .qhl_extra input {margin: 0; width: 14px; height: 14px;}
/* //head */


/* logo */
.q_logo {margin: 0 auto; width: 200px; height: 70px; background: transparent url(../i/logo/index.png) left top no-repeat;}
.q_logo .ql_master,
.q_logo .ql_slave {display: block; height: 48px;}
.q_logo .ql_master {width: 146px;}
.q_logo .ql_caption,
.q_logo .ql_caption a {margin: 5px 0 0 0; padding: 0; color: #808285; font: bold 16px/16px Arial,sans-serif; text-decoration: none;}
.q_logo .ql_caption a:hover {color: #505255; text-decoration: none;}



/* qip dload button */
.qip_dload {margin-top: 5px; height: 50px;}
.qip_dload a {display: block; width: 240px; height: 43px; background: transparent url(../i/index/qip_dload.png) left top no-repeat;
	-moz-border-radius: 5px;
	     border-radius: 5px;
	-webkit-box-shadow: 2px 3px 6px -1px #eb7f7f;
	   -moz-box-shadow: 2px 3px 6px -1px #eb7f7f;
	        box-shadow: 2px 3px 6px -1px #eb7f7f;
}

.q_dload,
.q_dload .qdl_1,
.q_dload .qdl_2 {display: block; text-decoration: none;}
.q_dload {width: 240px; cursor: pointer; cursor: hand;}
.q_dload .qdl_1 {
	border: rgba(255, 255, 255, 0.6) solid 1px;
	//border: #fff solid 1px;
	-moz-border-radius: 7px;
	     border-radius: 7px;
}
.q_dload .qdl_2 {height: 44px; font: normal 20px/44px Tahoma,Arial,sans-serif; text-align: center; text-decoration: none;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
	background: transparent url(../i/dload_button.png) left top repeat-x; border: #ee7c5f solid 1px;
	-moz-border-radius: 6px;
	     border-radius: 6px;
}
.q_dload_green .qdl_2 {background-position: left -45px; border-color: #c5de6e;}
.q_dload .qdl_2,
a .q_dload .qdl_2,
a:hover .q_dload .qdl_2 {color: #fff;}


/* more list */
li.q_more {margin-right: 0; height: 15px;}
ul.q_search_tabs li.q_more ul.qm_list{position: absolute; z-index: 9; margin: -5px 0 0 -8px; padding: 25px 7px 3px; width: 85px; height: auto; background-color: #fff; border: #ccc solid 1px; text-align: left;}
ul.qh_menu li.q_more {margin-top:-4px;padding-top:4px;*padding-top:3px;height:16px;width:50px;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
ul.qh_menu li.q_more.qm_inactive{border-left:1px solid transparent;border-right:1px solid transparent;}
ul.qh_menu li.q_more .qm_link{margin-left:10px;}
.qm_inactive .qm_list {display: none;}
ul.qh_menu li.q_more .qm_list {position: absolute; z-index: 1500; margin: 16px 0 0 -172px;background-color: #fff;}
ul.qm_list li {float: none; margin: 0; padding: 0; height: auto; list-style: none; line-height: 16px;}
.qm_list li a {padding: 0; text-align: left; text-decoration: underline;}
.qm_list li a:hover {text-decoration: none;}
.qm_list li.qml_services {margin-top: 10px;}

.qm_link {position: relative; height: 15px; z-index: 10; text-decoration: none; cursor: pointer; cursor: hand;}
.qm_link .qm_dotted {display: inline-block; height: 12px; border-bottom: #fff dotted 1px;}
.qm_inactive .qm_link .qm_dotted {border-bottom: #027cb2 dotted 1px;}
.qm_inactive .qm_link:hover .qm_dotted {border-bottom: #027cb2 solid 1px;}


/* search form */
.q_search {height: 70px;}

.q_search_tabs {margin: 0; height: 16px; overflow: hidden; font: normal 12px/16px Arial,sans-serif;}
.q_search_tabs li {float: left; padding-right: 11px; line-height: 12px;}
.q_search_tabs .q_more li {line-height: 18px;}

.q_search_form table {
	width: 100%;
	_width: 98%;
	_text-align: center;
}
.qs_tfield {display: block; padding: 0 1%; height: 30px; width: 98%; font: bold 16px/32px Arial,sans-serif; color: #222; background-color: #fff; border: #ccc solid 1px;
	-moz-border-radius: 3px;
	     border-radius: 3px;
	//padding: 0 5px;
	//height: 29px;
	//zoom: 1;
}
@-moz-document url-prefix() {
	.qs_tfield {padding-right: 0; padding-left: 6px;}
}
.qs_submit_cell {padding-left: 13px; width: 77px;}
.qs_submit {display: block; margin: 0; width: 77px; height: 30px; color: #fff; font: bold 16px/16px Arial,sans-serif; text-align: center; background-color: #02b0ef; border: none;
	-moz-border-radius: 3px;
	     border-radius: 3px;
}
.qs_example {margin-right: 90px; height: 16px; color: #808285; line-height: 18px;}
.qs_example span {color: #027cb2; border-bottom: #027cb2 dotted 1px; cursor: pointer; cursor: hand;}


/* search suggests */
#qip_suggest {display: none; position: absolute; margin-top: -2px; width: 72%; z-index: 5; text-align: left; border: 1px solid #ccc;
	background: #fff;
	background: rgba(255,255,255, 0.98);
	-moz-border-radius: 0 0 3px 3px;
	     border-radius: 0 0 3px 3px;
}
#qip_suggest a {display: block; clear: both; padding: 3px 4px; height: 14px; line-height: 14px; overflow: hidden; text-decoration: none;}
#qip_suggest a.selected {color: #fff; background: #1fafe4;}
#qip_suggest a b {margin: 0px 2px; font-weight: normal;}
#qip_suggest a b.pr {font-weight: bold;}
#qip_suggest a b.pr,
#qip_suggest a i {font-style: normal; font-weight: bold;}
#qip_suggest .sclose {display: block; margin-right: 2px; color: #28bb63; text-align: right;}
#qip_suggest .sclose:hover {text-decoration: underline;}
#qip_suggest .sugwiz {display: block; height: 28px; font-size: 11px;}
#qip_suggest .sugwiz img {float: left; margin: 0 6px 0 0; width: 16px; height: 16px;}
#qip_suggest .sugwiz b {margin: 0; font-size: 12px;}
#qip_suggest .sugwiz b b {font-weight: bold;}
#qip_suggest .sugwiz span {color: #666;}
#qip_suggest .selected b,
#qip_suggest .selected span {color: #fff;}
#qip_suggest div {padding: 0 5px 0; text-align: right;}
#qip_suggest div a {display: inline; color: #28bb63;}


/* downloads */
.q_dloads li {margin: 6px 0; font: normal 13px/16px Arial,sans-serif; color: #99cc33;}
.q_dloads span {float: right; color: #000; color: #000;}
.q_dloads span,
.q_dloads a {font-family: Tahoma,Arial,sans-serif;}


/* mail login block */
.q_login_mail .qlm_auth,
.q_login_mail_auth .qlm_unauth {display: none;}
.q_login_mail_auth .qlm_auth {display: block;}

.q_login_mail .qlm_wrap {background-color: #03b0ef;
	-moz-border-radius: 7px;
	     border-radius: 7px;
}
.q_login_mail .qlm_wrap,
.q_login_mail .qlm_wrap h2,
.q_login_mail .qlm_wrap a,
.q_login_mail .qlm_wrap a:hover {color: #fff;}

.q_login_mail .qlm_wrap h2 {margin-bottom: 0; font: normal 18px/22px Tahoma,Arial,sans-serif;}
.q_login_mail .qlm_wrap h2 .qlm_at {font-family: Arial,sans-serif;}

.q_login_mail input {vertical-align: middle;}

.q_login_mail .qlm_row {padding: 7px 10px;}
.q_login_mail .qlm_row_split {border-top: #fff solid 1px;}

.q_login_mail .qlm_controls {line-height: 24px;}
.q_login_mail .qlm_controls form {display: inline;}
.q_login_mail .qlm_controls a {margin: 4px 0;}

.q_login_mail .qlm_button {width: 61px; height: 24px; border: 0; color: #fff; font: bold 14px/22px Arial,sans-serif; background-color: #a6ce39; border: #fff solid 1px;
	-moz-border-radius: 3px;
	     border-radius: 3px;
}
@-moz-document url-prefix() {
	.q_login_mail .qlm_button {padding-bottom: 0.1em;}
}

.q_login_mail .qlm_tfield {margin: 0 0 5px 0; padding: 1px 2%; height: 16px; border: #eee solid 1px;
	width: 95%;
	//width: 94%;
}
.q_login_mail .qlm_checkbox {margin-top: 1px;}
.q_login_mail .qlm_help {padding: 0 10px;}

.q_login_mail .qlm_messages li {margin: 5px 0;}
.q_login_mail .qlm_messages .q_sms,
.q_login_mail .qlm_messages .q_sms:hover {color: yellow;}


/* teasers */
.q_teaser {padding: 0 0 20px 0; min-height: 50px;}

.q_teaser .qt_0,
.q_teaser .qt_1,
.q_teaser .qt_2,
.q_teaser .qt_3,
.q_teaser .q_teaser_1,
.q_teaser .q_teaser_2,
.q_teaser .qt_block {float: left;}

.q_teaser .qt_0 {margin: 0 51% 0 0; width: 49%;}

.q_teaser .qt_wide,
.q_teaser .qt_1,
.q_teaser .qt_2 {border: #ccc solid 1px;
	-moz-border-radius: 8px;
	     border-radius: 8px;
}
.q_teaser .qt_wide {padding: 0.6em;}
.q_teaser .qt_1,
.q_teaser .qt_2 {margin: -1px; width: 100%;}

.q_teaser .qt_2 {
	margin-left: 104%;
	margin-left: 103.5%\9;
}

.q_teaser .qt_3 {margin-left: -106%; width: 208%;}

.q_teaser .q_teaser_1,
.q_teaser .q_teaser_2,
.q_teaser .qt_block {width: 50%;}
* html .q_teaser .q_teaser_2 { width:49%; }
* +html .q_teaser .q_teaser_2 { width:49%; }

.q_teaser .qt_content {margin: 0 2%; padding: 0.6em; overflow: hidden;}
.q_teaser .qt_content * {font: normal 11px/12px Tahoma,Arial,sans-serif;}

.q_teaser .qt_content img {float: left; margin-right: 15px;}
.q_teaser .qt_content .qtc_text {display: inline-block;}
.q_teaser .qt_content p {margin-bottom: 5px;}
.q_teaser .qt_content p a {color: #000; font-weight: bold;}
.q_teaser_clear {height: 0px; overflow: hidden;}


/* teasers ie6-7 */
* html .q_teaser {width: 100%; _width: 98.5%; _overflow: hidden;}
* html .q_teaser .qt_0 {_margin-right: 0; _position: relative;}
* html .q_teaser .qt_1 {_display: inline; _position: relative;}
* html .q_teaser .qt_2 {margin-left: 103.5%; _position: relative; _display: inline;}
* html .q_teaser .qt_3 {_position: relative; _margin-left: -104%; _width: 204%;}
* html .q_teaser .q_teaser_1,
* html .q_teaser .q_teaser_2,
* html .q_teaser .qt_block {width: 49.99%; _display: inline;}
* html .q_teaser .qt_content {_margin: 0 1%;}

/*pager history, news, skins etc.*/
.q_pager a {padding:0 3px 0 3px;}
.q_pager .qp_arrows{
	background-image: url('img/sprite_arrows.gif');
	display: inline-block;
	height: 9px;
	padding: 0px;
	vertical-align: middle;
}
.q_pager .qp_first_a {background-position: -18px 0; width:12px;}
.q_pager .qp_first {background-position: -30px 0px; width:12px;}
.q_pager .qp_prev {background-position: -9px 0px; width: 9px;}
.q_pager .qp_prev_a {background-position: 0px 0px; width: 9px;}
.q_pager .qp_next_a {background-position: -42px 0; width: 9px;}
.q_pager .qp_next {background-position: -51px 0; width: 9px;}
.q_pager .qp_last_a {background-position: -60px 0; width:12px;}
.q_pager .qp_last {background-position: -72px 0; width:12px;}


/* footer */
.qip_footer {margin: -46px auto 0 auto; padding: 7px 10px; width: 980px; min-width: 980px; font: normal 11px/31px Arial,sans-serif; border-top: 1px solid #737373;}
.qf_stretch {width: auto; max-width: 1260px;}

.qip_footer,
.qf_left,
.qf_right,
.qf_center {height: 31px;}

.qf_left  {float: left;  width: 100px; text-align: left;}
.qf_right {float: right; width: 350px; text-align: right;}
.qf_center {text-align: center;}

.qf_right .qf_counter {padding-right: 5px;}
.qf_right img {display: block; border: none;}
.qf_right table, .qf_right td {border-collapse:collapse;padding:0;}

.qf_c31x31 {width: 31px; height: 31px;}
.qf_c88x31 {width: 88px; height: 31px;}

.qf_bigmir {padding: 1px; width: 86px; height: 29px; color: #027cb2; font: normal 10px/10px Tahoma,Arial,sans-serif; background-color: #f0f0f0;
	-moz-border-radius: 2px;
	     border-radius: 2px;
}
.qf_bigmir .qf_bm_m {padding: 2px 0; height: 25px; overflow: hidden;
	background: transparent url(data:image/gif;base64,R0lGODlhAwADAIAAAPj4+P///yH5BAAAAAAALAAAAAADAAMAAAIERB5mBQA7) left top repeat;
	//background-image: url(../i/index/base64/bigmir.gif);
	-moz-border-radius: 1px;
	     border-radius: 1px;
}
.qf_bigmir .qf_bm_m .qf_bm_logo {height: 13px; text-align: center;}
.qf_bigmir .qf_bm_m .qf_bm_data {padding: 0 6px; height: 12px; color: #666;}
.qf_bigmir .qf_bm_logo a {text-decoration: none;}
.qf_bigmir .qf_bm_logo span {color: #f00;}
.qf_bigmir .qf_bm_data .qf_bm_hosts {float: left;}
.qf_bigmir .qf_bm_data .qf_bm_hits {float: right;}

.qf_socials {display: inline-block; background: transparent url(../i/socials.png) no-repeat; vertical-align: top;}
.qf_tw {background-position: left -62px;}
.qf_vk {background-position: left -31px;}
.qf_fb {background-position: left 0px;}
.qf_middot {font-weight: bold;}
/* Projects menu */
table.qs_all.qm_list.q_plate{
	-webkit-box-shadow:2px 2px 2px #999 !important;
	-moz-box-shadow:2px 2px 2px #999 !important;
	-ms-box-shadow:2px 2px 2px #999 !important;
	box-shadow:2px 2px 2px #999 !important;
	border-spacing:0px;
	width:386px !important;
	height:300px !important;
	border-collapse:collapse;
}
.qs_all a{
	font:normal 11px/normal Arial, sans-serif;
	color:#231f20;
	display:block;
	width:100%;
	height:100%;
}
.qs_all td{
	width:128px;
	height:24px;
	text-align:left;
	margin:0;
	padding:0;
	vertical-align:middle;
	border:1px solid #d3d5d6;
}
.qs_all td[colspan]{
	width:384px;
}
.qs_all_icon{
	width:24px;
	height:24px;
	float:left;
	border:none;
	background: #a7a6a6 url(../i/index/projects_aside.png) no-repeat;
}
.qs_all_pointer{
	display:none;
	width:0;
	height:0;
	margin-top:8px;
	float:left;
	border-color:#eaeaea;
	border-style:solid;
	border-width:4px;
}
.qs_all_title{padding:5px 0 0 36px;}
.qs_all td:hover{background:#eaeaea;}
.qs_all td a:hover{text-decoration:none;}
.qs_all td a:hover .qs_all_pointer{display:block;}

.qs_ic_mail		{background-position:0 0;}
.qs_ic_video	{background-position:0 -24px;}
.qs_ic_love		{background-position:0 -48px;}
.qs_ic_file		{background-position:0 -72px;}
.qs_ic_foto		{background-position:0 -96px;}
.qs_ic_flink	{background-position:0 -120px;}
.qs_ic_oboi		{background-position:0 -144px;}
.qs_ic_avatars	{background-position:0 -168px;}
.qs_ic_5ballov	{background-position:0 -192px;}
.qs_ic_afisha	{background-position:0 -216px;}
.qs_ic_mblogi	{background-position:0 -240px;}
.qs_ic_memori	{background-position:0 -264px;}
.qs_ic_horo		{background-position:0 -288px;}
.qs_ic_job		{background-position:0 -312px;}
.qs_ic_history	{background-position:0 -336px;}
.qs_ic_kards	{background-position:0 -360px;}
.qs_ic_aeterna	{background-position:0 -384px;}
.qs_ic_realty	{background-position:0 -408px;}
.qs_ic_hosting	{background-position:0 -432px;}
.qs_ic_auto		{background-position:0 -456px;}
.qs_ic_ziza		{background-position:0 -480px;}
.qs_ic_measure	{background-position:0 -504px;}
.qs_ic_ip		{background-position:0 -528px;}
.qs_ic_maps		{background-position:0 -552px;}
.qs_ic_sport	{background-position:0 -576px;}
.qs_ic_voip		{background-position:0 -600px;}
.qs_ic_fun		{background-position:0 -624px;}
.qs_ic_radio	{background-position:0 -648px;}
.qs_ic_news		{background-position:0 -672px;}
.qs_ic_klever	{background-position:0 -696px;}
.qs_ic_search	{background-position:0 -720px;}
.qs_ic_i			{background-position:0 -744px;}
.qs_ic_stars	{background-position:0 -768px;}
.qs_ic_games	{background-position:0 -792px;}
.qs_ic_pip		{background-position:0 -816px;}
.qs_ic_services{background-position:0 -840px;}
.qs_ic_b			{background-position:0 -888px;}
.qs_ic_paint	{background-position:0 -864px;}
.qs_ic_skidki	{background-position:0 -912px;}
.qs_ic_how	{background-position:0 -936px;}

.qs_all td a:hover .qs_ic_mail		{background-color:#64a4d9;}
.qs_all td a:hover .qs_ic_video		{background-color:#666666;}
.qs_all td a:hover .qs_ic_love		{background-color:#ff69b0;}
.qs_all td a:hover .qs_ic_file		{background-color:#666666;}
.qs_all td a:hover .qs_ic_foto		{background-color:#4d5e80;}
.qs_all td a:hover .qs_ic_flink		{background-color:#0093ba;}
.qs_all td a:hover .qs_ic_oboi		{background-color:#a3238f;}
.qs_all td a:hover .qs_ic_avatars		{background-color:#00adef;}
.qs_all td a:hover .qs_ic_5ballov		{background-color:#2c3c8f;}
.qs_all td a:hover .qs_ic_afisha		{background-color:#e62d24;}
.qs_all td a:hover .qs_ic_mblogi		{background-color:#a6ce39;}
.qs_all td a:hover .qs_ic_memori		{background-color:#ee356c;}
.qs_all td a:hover .qs_ic_horo		{background-color:#ff5ff8;}
.qs_all td a:hover .qs_ic_job			{background-color:#5fc6c9;}
.qs_all td a:hover .qs_ic_history		{background-color:#a67c52;}
.qs_all td a:hover .qs_ic_kards		{background-color:#d32027;}
.qs_all td a:hover .qs_ic_aeterna		{background-color:#ff9b00;}
.qs_all td a:hover .qs_ic_realty		{background-color:#ed1c24;}
.qs_all td a:hover .qs_ic_hosting		{background-color:#47a5ae;}
.qs_all td a:hover .qs_ic_auto		{background-color:#c62026;}
.qs_all td a:hover .qs_ic_ziza		{background-color:#f58245;}
.qs_all td a:hover .qs_ic_measure		{background-color:#7570b3;}
.qs_all td a:hover .qs_ic_ip			{background-color:#55c5cf;}
.qs_all td a:hover .qs_ic_maps		{background-color:#faa14a;}
.qs_all td a:hover .qs_ic_sport		{background-color:#1c8f45;}
.qs_all td a:hover .qs_ic_voip		{background-color:#93d015;}
.qs_all td a:hover .qs_ic_fun			{background-color:#54a175;}
.qs_all td a:hover .qs_ic_radio		{background-color:#37c5d6;}
.qs_all td a:hover .qs_ic_news		{background-color:#0b377a;}
.qs_all td a:hover .qs_ic_klever		{background-color:#276023;}
.qs_all td a:hover .qs_ic_search		{background-color:#486998;}
.qs_all td a:hover .qs_ic_i			{background-color:#0bb0ed;}
.qs_all td a:hover .qs_ic_stars		{background-color:#ff69b0;}
.qs_all td a:hover .qs_ic_games		{background-color:#f36822;}
.qs_all td a:hover .qs_ic_pip			{background-color:#a6ce39;}
.qs_all td a:hover .qs_ic_services	{background-color:#231f20;}
.qs_all td a:hover .qs_ic_b			{background-color:#2e6eb6;}
.qs_all td a:hover .qs_ic_paint		{background-color:#d32027;}
.qs_all td a:hover .qs_ic_skidki		{background-color:#952546;}
.qs_all td a:hover .qs_ic_how			{background-color:#46d224;}

.qs_all td a:hover .qs_ic_mail		+ .qs_all_pointer{border-left-color:#64a4d9;}
.qs_all td a:hover .qs_ic_video		+ .qs_all_pointer{border-left-color:#666666;}
.qs_all td a:hover .qs_ic_love		+ .qs_all_pointer{border-left-color:#ff69b0;}
.qs_all td a:hover .qs_ic_file		+ .qs_all_pointer{border-left-color:#666666;}
.qs_all td a:hover .qs_ic_foto		+ .qs_all_pointer{border-left-color:#4d5e80;}
.qs_all td a:hover .qs_ic_flink		+ .qs_all_pointer{border-left-color:#0093ba;}
.qs_all td a:hover .qs_ic_oboi		+ .qs_all_pointer{border-left-color:#a3238f;}
.qs_all td a:hover .qs_ic_avatars		+ .qs_all_pointer{border-left-color:#00adef;}
.qs_all td a:hover .qs_ic_5ballov		+ .qs_all_pointer{border-left-color:#2c3c8f;}
.qs_all td a:hover .qs_ic_afisha		+ .qs_all_pointer{border-left-color:#e62d24;}
.qs_all td a:hover .qs_ic_mblogi		+ .qs_all_pointer{border-left-color:#a6ce39;}
.qs_all td a:hover .qs_ic_memori		+ .qs_all_pointer{border-left-color:#ee356c;}
.qs_all td a:hover .qs_ic_horo		+ .qs_all_pointer{border-left-color:#ff5ff8;}
.qs_all td a:hover .qs_ic_job			+ .qs_all_pointer{border-left-color:#5fc6c9;}
.qs_all td a:hover .qs_ic_history		+ .qs_all_pointer{border-left-color:#a67c52;}
.qs_all td a:hover .qs_ic_kards		+ .qs_all_pointer{border-left-color:#d32027;}
.qs_all td a:hover .qs_ic_aeterna		+ .qs_all_pointer{border-left-color:#ff9b00;}
.qs_all td a:hover .qs_ic_realty		+ .qs_all_pointer{border-left-color:#ed1c24;}
.qs_all td a:hover .qs_ic_hosting		+ .qs_all_pointer{border-left-color:#47a5ae;}
.qs_all td a:hover .qs_ic_auto		+ .qs_all_pointer{border-left-color:#c62026;}
.qs_all td a:hover .qs_ic_ziza		+ .qs_all_pointer{border-left-color:#f58245;}
.qs_all td a:hover .qs_ic_measure		+ .qs_all_pointer{border-left-color:#7570b3;}
.qs_all td a:hover .qs_ic_ip			+ .qs_all_pointer{border-left-color:#55c5cf;}
.qs_all td a:hover .qs_ic_maps		+ .qs_all_pointer{border-left-color:#faa14a;}
.qs_all td a:hover .qs_ic_sport		+ .qs_all_pointer{border-left-color:#1c8f45;}
.qs_all td a:hover .qs_ic_voip		+ .qs_all_pointer{border-left-color:#93d015;}
.qs_all td a:hover .qs_ic_fun			+ .qs_all_pointer{border-left-color:#54a175;}
.qs_all td a:hover .qs_ic_radio		+ .qs_all_pointer{border-left-color:#37c5d6;}
.qs_all td a:hover .qs_ic_news		+ .qs_all_pointer{border-left-color:#0b377a;}
.qs_all td a:hover .qs_ic_klever		+ .qs_all_pointer{border-left-color:#276023;}
.qs_all td a:hover .qs_ic_search		+ .qs_all_pointer{border-left-color:#486998;}
.qs_all td a:hover .qs_ic_i			+ .qs_all_pointer{border-left-color:#0bb0ed;}
.qs_all td a:hover .qs_ic_stars		+ .qs_all_pointer{border-left-color:#ff69b0;}
.qs_all td a:hover .qs_ic_games		+ .qs_all_pointer{border-left-color:#f36822;}
.qs_all td a:hover .qs_ic_pip			+ .qs_all_pointer{border-left-color:#a6ce39;}
.qs_all td a:hover .qs_ic_services	+ .qs_all_pointer{border-left-color:#231f20;}
.qs_all td a:hover .qs_ic_b			+ .qs_all_pointer{border-left-color:#2e6eb6;}
.qs_all td a:hover .qs_ic_paint		+ .qs_all_pointer{border-left-color:#d32027;}
.qs_all td a:hover .qs_ic_skidki		+ .qs_all_pointer{border-left-color:#952546;}
.qs_all td a:hover .qs_ic_how			+ .qs_all_pointer{border-left-color:#46d224;}

.qs_all_icon,
.qs_all_pointer,
.qs_all_title{
padding-bottom:0 !important;
}
#q_searchtabs_more{
	outline:0;
	border:0;
}