/* Common definitions (begin) */
* {
	font-size:100%;
	margin:0;
}
html{
    height:100%;
}
body{
	position:relative;
	z-index:0;
	margin:0;
	min-width:1000px;
}
table{
	border-collapse:collapse;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
th,
td{
	padding:0;
	border-collapse:collapse;
	text-align:left;
	vertical-align:top;
}
ul,ol,li{
	padding:0;
	list-style:none;
}
img{
	border:none
}
a{
	cursor:pointer;
	color:#038CBE;
}
b{
	font-weight:normal;
}
i{
	font-style:normal;
}
textarea, input, select, option{
	font-family: Arial,sans-serif;
}
.v14_layout{
	position:relative;
	overflow:hidden;
	width:100%;
	min-height:100%;
	background:transparent url(img/v14/v14_bg.png) 0 0 repeat;
}
.v14_layout_head{
	width:100%;
	height:30px;
	background:#fff;
}
.v14_layout .qip_head,
.qip_footer{
	width:auto;
	border-bottom:none;
	background-color:white;
}
.qip_footer{
	margin:auto;
	border-top:none;
}
.v14_layout .qip_head{
	margin:0 auto;
	max-width:1280px;
}
.v14_footer{
	position:relative;
	margin-top:-46px;
	width:100%;
	background:#fff;
}
.v14_layout_content{
	margin:0 auto;
	max-width:1260px;
	padding:0 10px;
}

/* Common definitions (end) */

/* Page (begin) */
.v14_layout_decor{
	position:relative;
	width:100%;
	background:transparent url(img/v14/layout_decor.png) repeat-x;
	height:127px;
}
.v14_layout_decor_shadow{
	position:absolute;
	width:100%;
	left:0;
	background:transparent url(img/v14/layout_decor_shadow.png) repeat-x;
	height:22px;
}
.v14_layout_top{
	max-width:1280px;
	height:100%;
	margin:0 auto;
	background:transparent url(img/v14/layout_top_middle.png) 50% 0 no-repeat;
}
.v14_logo{
	width:224px;
	height:70px;
	margin:17px 0 0 20px;
	float:left;
	background-image:url(img/v14/v14_logo.png);
}
.v14_logo_14{
	display:block;
	float:left;
	width:50px;
	height:41px;
	margin-top:15px;
}
.v14_logo_qip{
	display:block;
	margin-left:51px;
	width:174px;
	height:70px;
}
.v14_layout_top_right{
	float:right;
	width:171px;
	height:115px;
	background:transparent url(img/v14/layout_top_right.png) 0 -10px no-repeat;
}

/* Навигация */
.v14_navigation{
	width:100%;
	text-align:justify;
	text-align-last:justify;
	cursor:default;
}
.v14_navigation:after{
	content: '';
	display:inline-block;
	width:100%;
	height:0;
	overflow:hidden;
}
.v14_navigation li{
	display:inline-block;
}
*+html .v14_navigation{
	text-justify:newspaper;
	zoom:1;
}
*+html .v14_navigation li{
	display:inline;
	zoom:1;
	text-align:center;
}
.v14_navigation li a{
	display:block;
	margin-top:10px;
}
.v14_menu_secret a{
	width:179px;
	height:78px;
	background:transparent url(img/v14/menu_secret.png) 0 0 no-repeat;
}
.v14_menu_horo a{
	width:155px;
	height:74px;
	background:transparent url(img/v14/menu_horo.png) 0 0 no-repeat;
}
.v14_menu_tests a{
	width:155px;
	height:73px;
	background:transparent url(img/v14/menu_tests.png) 0 0 no-repeat;
}
.v14_menu_music a{
	width:157px;
	height:86px;
	margin-top:5px !important;
	background:transparent url(img/v14/menu_music.png) 0 0 no-repeat;
}
.v14_menu_more a{
	width:155px;
	height:76px;
	background:transparent url(img/v14/menu_more.png) 0 0 no-repeat;
}

/* Контент */
.v14_content{
	margin:30px auto 50px;
	max-width:1280px;
}
.v14_main_content_photo,
.v14_main_content_cards,
.v14_main_content_love{
	height:320px;
}
.v14_main_content_photo{
	float:left;
	width:292px;
	background:transparent url(img/v14/main_photo.png) 0 0 no-repeat;
}

.v14_main_services_content{
	padding-bottom:50px;

}

.v14_main_content_cards{
	margin:0 auto;
	width:305px;
	background:transparent url(img/v14/main_cards.png) 0 0 no-repeat;
}
.v14_main_content_love{
	float:right;
	position:relative;
	width:277px;
	background:transparent url(img/v14/main_love.png) 0 0 no-repeat;
}
.v14_main_content_photo_link,
.v14_main_content_cards_link,
.v14_main_content_love_link{
	display:block;
	height:60px;
	width:245px;
	color:#d63941;
	font:normal 24px/30px Georgia, serif;
	text-align:center;
	margin:0 auto;
	padding:240px 30px 0;
}
.v14_main_content_photo_link:hover,
.v14_main_content_cards_link:hover,
.v14_main_content_love_link:hover{
	color:#d63941;
}
.v14_main_content_love_man{
	position:absolute;
	width:170px;
	height:70px;
	top:25px;
	left:30px;
	overflow:hidden;
}
.v14_main_content_love_woman{
	position:absolute;
	width:170px;
	height:70px;
	top:120px;
	left:105px;
	overflow:hidden;
}
.v14_main_content_love_man a,
.v14_main_content_love_woman a{
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
}
.v14_main_content_love_man_border,
.v14_main_content_love_woman_border{
	width:64px;
	height:64px;
	overflow:hidden;
	float:left;
	border-radius:5px;
}
.v14_main_content_love_man_border img,
.v14_main_content_love_woman_border img{
	width:64px;
}
.v14_main_content_love_man a p,
.v14_main_content_love_woman a p{
	margin-left:84px;
	font:normal 11px/13px Arial, sans-serif;
	color:#fff;
}
.v14_main_content_love_man_name{
	font:bold 12px/14px Arial, sans-serif;
	color:#1b4f95;
}
.v14_main_content_love_woman_name{
	font:bold 12px/14px Arial, sans-serif;
	color:#a11a1a;
}
/* Сервисы */
.v14_main_services{
	height:225px;
	margin-top:25px;
	padding:0 10px;
	text-align:justify;
	text-align-last:justify;
	cursor:default;
	background:#f9acab;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5YWNhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmNjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,  #f9acab 0%, #ffcccc 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9acab), color-stop(100%,#ffcccc));
	background:-webkit-linear-gradient(top,  #f9acab 0%,#ffcccc 100%);
	background:-o-linear-gradient(top,  #f9acab 0%,#ffcccc 100%);
	background:-ms-linear-gradient(top,  #f9acab 0%,#ffcccc 100%);
	background:linear-gradient(top,  #f9acab 0%,#ffcccc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9acab', endColorstr='#ffcccc',GradientType=0 );
	border:1px solid #f66169;
	border-radius:10px;
	box-shadow:inset 0 0 10px rgba(0,0,0,0.75);
}
.v14_main_services:after{
	content: '';
	display:inline-block;
	width:100%;
	height:0;
	overflow:hidden;
}
.v14_main_services li{
	display:inline-block;
	height:206px;
	width:178px;
	margin-top:10px;
}
*+html .v14_main_services{
	text-justify:newspaper;
	zoom:1;
}
*+html .v14_main_services li{
	display:inline;
	zoom:1;
	text-align:center;
}
.v14_main_services li a{
	display:block;
	width:178px;
	height:206px;
	color:#d64045;
	overflow:hidden;
}
.v14_main_services li a div{
	height:206px;
	position:relative;
	width:100%;
}
.v14_main_services li a div p{
	position:absolute;
	font:normal 18px/22px Georgia, serif;
	color:#d64045;
	text-align:center;
	padding:0 10px;
	width:158px;
	top:150px;
	left:0;
	text-decoration:underline;
	text-align-last:center;
}
.v14_main_services_radio a div{background:transparent url(img/v14/services_radio.png) 50% 10px no-repeat;}
.v14_main_services_games a div{background:transparent url(img/v14/services_games.png) 50% 10px no-repeat;}
.v14_main_services_wallpapers a div{background:transparent url(img/v14/services_wallpapers.png) 50% 10px no-repeat;}
.v14_main_services_avatars a div{background:transparent url(img/v14/services_avatars.png) 50% 10px no-repeat;}
.v14_main_services_pairs a div{background:transparent url(img/v14/services_pairs.png) 50% 10px no-repeat;}
.v14_main_services li:hover{
	background:transparent url(img/v14/services_hover.png) 0 0 no-repeat;
}
.v14_main_services li:hover a,
.v14_main_services li:hover a p{
	text-decoration:none;
	color:#fff;
}

/* блок тайного признания (начало)*/
.b-secret-rec{
	font-size:1.3em;
	width:695px;
	margin:0 auto;
	border:2px solid #F9A5C4;
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	background: #FEF2F6; /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFBFD), to(#FDE1EB)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFBFD,  #FDE1EB); /* for firefox 3.6+ */
}
.b-secret-rec__step0{
	position:relative;
	padding:140px 1em 2em;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	background:url(img/v14/welcome_secret_bg.jpg) 0 0 no-repeat;
}
.b-secret-rec__step0 .crazy-hearts{
	position:absolute;
	top:-20px;
	left:20px;
	display:block;
	overflow:hidden;
	width:184px;
	height:104px;
	background:url(img/v14/welcome_secret_hearts.png);
}
.b-secret-rec__form{
	padding-top:1em;
}
.b-secret-rec__form dt{
	float:left;
	clear:left;
	margin-bottom:1em;
	width:30%;
}
.b-secret-rec__form .hint{
	font-size:0.8em;
	display:block;
	color:#808285;
}
.b-secret-rec__form dd{
	float:left;
	width:60%;
}
.b-secret-rec__form .text, .b-secret-rec textarea{
	padding:0.4em 0.2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
	box-shadow:inset 1px 1px 1px #C4C4C4;
	-moz-box-shadow:inset 1px 1px 1px #C4C4C4;
	-webkit-box-shadow:inset 1px 1px 1px #C4C4C4;
	border:none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.b-secret-rec textarea{
	font-size:0.85em;
	margin-bottom:1em;
	background:#fff;
	resize:none;
}
.b-secret-rec__form .text{
	width:100%;
}
.b-secret-rec__form dt label{
	font-weight:bold;
}
.b-secret-rec .pseudo-submit{
	font-size:1.1em;
	font-weight:bold;
	font-family:Tahoma;
	display:-moz-inline-box;
	display:inline-block;
	padding:0.3em;
	cursor:pointer;
	text-transform:uppercase;
	color:#fff;
	border:2px solid #fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#EF3E73;
}
.b-secret-rec__step0 .pseudo-submit{
	margin-top:1em;
}
.b-secret-rec__step1{
	padding:1em;
	text-align:center;
}
.b-secret-rec__step1 .questions-counter{
	font-size:0.9em;
	font-weight:bold;
	display:block;
	margin-bottom:1em;
	text-align:right;
}
.b-secret-rec__step1 .questions-counter .current{
	display:inline-block;
	width:30px;
	height:20px;
	padding-top:3px;
	text-align:center;
	color:#fff;
	background-image:url(img/v14/count_bg.png);
}
.b-secret-rec .question{
	font-weight:bold;
	overflow: hidden;
	text-overflow: ellipsis;
}
.b-secret-rec .recipient{
	color:#EF4076;
}
.b-secret-rec__step1 .controls{
	font-size:1.45em;
	font-family:Tahoma;
	margin-bottom:1em;
}
.b-secret-rec__step1 .controls span{
	display:inline-block;
	margin-left:0.1em;
	padding:3px 16px;
	box-shadow:1px 1px 1px #C6BCC0;
	-moz-box-shadow:1px 1px 1px #C6BCC0;
	-webkit-box-shadow:1px 1px 1px #C6BCC0;
	cursor:pointer;
	background:#EDEDEE;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDEE)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #EDEDEE); /* for firefox 3.6+ */
}
.b-secret-rec__step1 .controls .control-yes{
	font-weight:bold;
	color:#01B516;
	border-radius:9px 0 0 9px;
	-moz-border-radius:9px 0 0 9px;
	-webkit-border-radius:9px 0 0 9px;
}
.b-secret-rec__step1 .controls .control-no{
	font-weight:bold;
	color:#B90C13;
	border-radius:0 9px 9px 0;
	-moz-border-radius:0 9px 9px 0;
	-webkit-border-radius:0 9px 9px 0;
}
.b-secret-rec__step1 .controls .control-maybe{
	color:#808285;
}

.b-secret-rec__step1 .b-pseudo-link{
	color:#C10C14;
}
.b-secret-rec h3{
	font-weight:bold;
	margin-bottom:1em;
	color:#929292;
}
.b-secret-rec__step4{
	padding:1em;
}
.b-secret-rec__step4 textarea{
	width:100%;
}
.b-secret-rec__step4 .answers{
	margin-bottom:1em;
}
.b-secret-rec__step4 .answers li{
	margin-bottom:0.5em;
	padding:0.5em 0;;
	border-bottom:1px dashed #999;
	overflow:hidden;
	text-overflow:ellipsis;
}
.b-secret-rec__step4 .answers .answer-0{
	color:#C00C13;
}
.b-secret-rec__step4 .answers .answer-1{
	color:#01B415;
}
.b-secret-rec__step4 .answers .answer-2{
	color:#7F8184;
}
.b-secret-rec__step4 .answers p{
	margin-bottom:0.2em;
}
.b-secret-rec__step3{
	padding:1em;
	text-align:center;
}
.b-secret-rec__step3__content{
	padding-bottom:230px;
	background:url(img/v14/secret_finish.png) 70% 50% no-repeat;
}
.b-secret-rec__step2__content{
	padding:8em 0;
	text-align:center;
}
.b-pseudo-link{
	position:relative;
	text-decoration:underline;
	cursor:pointer;
}
.b-informers__item__tests .question{
	font-weight:bold;
	display:block;
	margin-bottom:1em;
}
.g-clear{
	font-size:0;
	clear: both;
	overflow: hidden;
	height: 1px;
}
.g-hidden{
	display:none !important;
}
.b-pseudo-link{
	position:relative;
	text-decoration:underline;
	cursor:pointer;
}
.b-secret-rec__form input{
	background:#fff;
}
/* Музыка */
.music-content-table{
	width:695px;
	margin:0 auto;
	border:1px solid #f6a6a2;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	color:#000;
}
.music-content-table thead tr td{
	font:bold 16px/16px "Trebuchet MS", "Helvetica CY", sans-serif;
	color:#fff;
	background:#f78389;
	padding:8px;
	border:1px solid #f6a6a2;
}
.music-content-table tbody tr td{
	padding:8px;
	background:#fff;
	border-left:1px solid #f6a6a2;
	border-right:1px solid #f6a6a2;
}
.music-content-table tbody tr.odd td{
	background:#ffe7ee;
}
.music-content-table tbody tr td.none{
	text-align:center;
}
.music-content-table a{
	color:#d41820;
}

/*---новости ЕЩЕ----*/
.news_main_tape a{
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #047bc1;
	font-weight: bold;
}

.news_main_tape{
	border:1px solid #f6a6a2;
	border-top:none;
}

.news_main_date {
	padding-top:5px;
	color: #999999;
	font-family: Tahoma,sans-serif;
	font-size: 12px;
	line-height: normal;
}

.v14_news_title{
	background:#f78288;
	font-family: Tahoma, sans-serif;
	font-size: 22px;
	line-height: 16px;
	color: #fff;
	font-weight: bold;
	padding: 5px 10px;
}

.v14_news_cont_pink{
	background:#FFEDF5;
	padding:15px 45px;
}

.v14_news_cont{
	padding:15px 45px;
}

.v14_news_content{
	margin:30px auto 86px;
	max-width:1280px;
	padding:0 225px;
}

.news_white{
	background:#ffffff;
}

.news_main_tape_comm{
	margin-top: 10px;
}

.news_main_tape p a img{
	padding:10px 20px 5px 0px;
}

.qnews_block{
	padding:1px 0 0 2px;
	display:block;
}

.news_main_tape_comm2{
	font-family: Arial, sans-serif;
	font-size: 13px;
	padding-top: 5px;
	line-height: 18px;
}
/* -----------*/