html, body {height: 100%; width: 100%; margin: 0; padding: 0;}
html {
	background-color: #05b1ef;
	background-image: -webkit-gradient(linear, top, bottom, from(#059ed4), to(#05b1ef));
	background-image: -webkit-linear-gradient(#059ed4, #05b1ef);
	background-image:    -moz-linear-gradient(#059ed4, #05b1ef);
	background-image:     -ms-linear-gradient(#059ed4, #05b1ef);
	background-image:      -o-linear-gradient(#059ed4, #05b1ef);
	background-image:         linear-gradient(#059ed4, #05b1ef);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#059ED4', EndColorStr='#05B1EF')";
}
body {background: transparent url(../i/qipsocial/radial.png) center top no-repeat;}

.qip_main_wrapper {margin: 0 auto; min-width: 800px; max-width: 1280px; min-height: 100%;}
* html .qip_main_wrapper {height: 100%;}
.qip_main_wrapper .qip_foot_wrap {clear: both; padding-top: 20px; height: 46px;}

.qip_footer {margin: -46px auto 0 auto; width: 780px; min-width: 780px;}


.content .download {padding-top: 330px; height: 88px; background: transparent url(../i/qipsocial/logo.png) center -4px no-repeat; text-align: center;}

.content .download .button {
	display: inline-block; width: 160px; height: 40px;
	font: bold 22px/40px Arial; color: #087d0f; text-decoration: none; text-shadow: 0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.8);
	border-radius: 20px;
	border: #035800 solid 1px;
	background-color: #35b42e;
	box-shadow:
		0 0 60px 10px rgba(255,255,255,0.9),
		0 0 0 1px rgba(255,255,255,0.4) inset,
		0 1px 0 0 rgba(255,255,255,0.7) inset,
		0 60px 40px -40px #70f176 inset;
}
.content .download .note {font: normal 11px/2.4em Arial; color: #7a7c7c;}


.content .screenshots {padding-top: 15px; height: 310px; background: transparent url(../i/qipsocial/screenshots-bg.png) center top no-repeat;}

.content .screenshots .caption {margin: 0; font: bold 18px/1.2em Arial; color: #004c69; text-shadow: 0 1px 0 rgba(255,255,255,0.5); text-align: center;}

.content .screenshots .list {margin: 2em auto; width: 800px;}
.content .screenshots .list li {display: inline-block; margin: 0 8px;}

.qip_footer {font: bold 18px/1.2em Arial; color: #fff;}
