body{
	background-image:url("img/y2011/body-back.png");
	background-color:#1e3e87;
}
.qip2011-top-tease{
	background-image:url("img/y2011/top-teaser.jpg");
}
.aside-menu{
	background: #d41820; /* for non-css3 browsers */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe6c1d', endColorstr='#b00008'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fe6c1d), to(#b00008)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fe6c1d,  #b00008); /* for firefox 3.6+ */	
}

