body{
	background-position:50% 0;
	background-repeat:repeat-y;
	height:auto;
}
.qip2011-top-tease{
	background-position:50% 21px;
	background-repeat:no-repeat;
}
.qip_main_wrapper h2{
	font:bold 2em Tahoma, Arial, Helvetica, sans-serif;
	color:#d41820;
	margin-bottom:1em;
}
p{
	margin-bottom:1em ;
}
ul.mdash, ol, ul.disc{
	padding: 1em 0;
}

ul.mdash li:before {
	content: '\2014\a0';
}

ul.mdash li {
	text-indent: -1.3em;
	margin-left: 1.3em;
	margin-bottom: 1em;
}

ol {
	padding-left: 1.7em;
}
ol li{
	list-style: decimal outside;
}
.disc {
	padding-left:1.3em;

}
.disc li{
	list-style-type: disc;
}
.article p img{
	margin:0 2em 1em 0;
	float:left;
}
.article p img.right{
	margin:0 0 1em 2em;
	float:right;
}
.article img.center{
	display:block;
	margin: 0 auto 1em;
}
.article ul{
	margin:1em 0;
}
.article h3{
	clear:both;
}
h3{
	margin-bottom:1em;
	color:#D41820;
}
h4{
	margin:1.5em 0 1em;
}
.navigation-path{
	margin:0;
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
	color:#d41820;
	overflow:hidden;
	clear:both;
}
.navigation-path li{
	display:inline;
}
.navigation-path li b{
	color:black;
}
.navigation-path li a{
	color:#d41820;
}
.navigation-path li img{
	float:left;
	position:relative;
	margin-top:-2px;
}
.qip_main_wrapper{
	background:url("img/y2011/star-body-back.png") 50% 0 repeat-y;
	overflow:hidden;
	position:relative;
	z-index:1;
}
.q_mt20{
	height:368px;
}
.qip_footer{
	position:relative;
	z-index:2;
}
.qip_head, .qip_footer{
	background:white;
}
.qip2011-width{
	width:1000px;
	margin:0 auto;
}
.q_logo{
	background-image:url("../i/logo/2011qip.png");
}
.qip2011-wrap{
	background:white;
	clear:left;
	padding:23px 20px 0;
	position:relative;
}
.qip2011-left-side-snow{
	width:960px;
	padding:0 0px 0 23px;
	background:url("img/y2011/left-side-snow.png") 0 0 repeat-y;
	left:-63px;
	position:relative;
}
.qip2011-right-side-snow{
	width:960px;
	padding-right:79px;
	background:url("img/y2011/right-side-snow.png") 100% 0 repeat-y;
	right:-38px;
	position:relative;
}
.qip2011-bottom-side-snow{
	width:1090px;
	height:176px;
	margin:-89px auto 0;
	background:url("img/y2011/bottom-side-snow.png") 100% 0 repeat-y;
}
.qip2011-nav{
	margin-top:-40px;
	position:relative;
}
.qip2011-nav-list{
	margin:0 0 1em 0;
	color:#c6161d;
	width:100%;
	height:6em;
	text-align:center;
	overflow:hidden;
	position:relative;
}
.qip2011-nav-list dt{
	font:bold 1.25em 'Trebuchet MS',Arial,sans-serif;
	text-transform:uppercase;
	margin-left:2em;
	position:relative;
	display:-moz-inline-stack;
	display:inline-block;
}
.qip2011-nav-list dt:first-child{
	margin-left:0;
}
.qip2011-nav-list  dt.selected {
	z-index:3;
	cursor:auto;
}
.qip2011-nav-list dt.selected a.pseudo-link{
	color:#c6161d;
}
.qip2011-nav-list dt.selected a.pseudo-link{
	background:url("img/y2011/nav-pointer.png") 50% 22px no-repeat;
	padding-bottom:10px;
	position:relative;
}
.qip2011-nav-list dt a{
	color:black;
}
.qip2011-nav-list dt.first{
	margin-left:0;
}
.qip2011-nav-list dd{
	display:none;
	float:right;
	width:100%;
	margin:2.75em 0 0 -100%;
	position:relative;
	z-index:2;
}
.qip2011-nav-list dd.selected{
	display:block;
}
.qip2011-nav-list dd{
	color:#c6161d;
	font:1.2em 'Trebuchet MS',Arial,sans-serif;
}
.qip2011-nav-list dd span, .qip2011-nav-list dd a{
	display:inline-block;
	margin-left:1.5em;
	white-space:nowrap;
}
.qip2011-nav-list dd a:hover{
	text-decoration:underline;
	color:#c6161d;
}
.qip2011-content{
	margin:0 260px 0 0;
}
.qip2011-content-wrap{
	float:left;
	width:100%;
}
.qip2011-aside{
	width:243px;
	float:right;
}
.teaser-list li{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:bottom;
	margin:0 8px 1em 0;
}
.clear {
	clear: both;
	font-size: 0;
	height: 1px;
	overflow: hidden;
}
.qip2011-informers{
	margin-top:2em;
}
.qip2011-informers h2{
	font:1.85em 'Trebuchet MS',Arial,sans-serif;
	margin-bottom:0.2em;
	color:black;
}
.qip2011-informers .informer{
	float:left;
	width:182px;
	margin-left:12px;
}
.qip2011-informers .first{
	margin-left:0;
}
.qip2011-informers .informer .qii_content{
	height:180px;
	background:url("img/y2011/informer-back.jpg");
	border:1px solid #00d2ff;
	padding:10px 5px 5px;
	text-align:center;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	overflow:hidden;
}
.qip2011-informers .informer img{
	border:1px solid white;
	display:block;
	margin:0 auto 0.5em;
}
.qip2011-informers .qiic_mini img{
	display:inline;
	margin:3px 3px 0 0;
}
.qip2011-informers .qi_love select{
	width:7em;
	font-size:0.9em;
}
.qip2011-informers .qi_love .qiic_submit{
	background:none;
	border:none;
	color:#027CB2;
	cursor:pointer;
	margin-top:0.2em;
}
.qip2011-informers .qi_love h3{
	margin-bottom:0;
}
.qip2011-informers .qi_love p, .qip2011-informers .qi_love h3, .qip2011-informers .qi_humor span.title{
	height:1.1em;
	overflow:hidden;
	display:block;
}

.qip2011-informers .qi_photo p{
	margin-top: 0em;
}
.qip2011-informers .qi_video img, .qip2011-informers .qi_love img, .qip2011-informers .qi_video img.qiic_picture, .qip2011-informers .qi_humor img.qiic_picture{
	width:120px;
	height:90px;
}
.qip2011-informers .qiic_mini img{
	width:56px;
	height:40px;
}
.qip2011-informers .qi_tests .q_alm{
	margin-top:0.5em;
}
.qip2011-informers .qi_tests .q_alm li{
	margin:7px 0;
}
.qip2011-informers .qi_tests .q_alm input{
	float:left;
	vertical-align:middle;
}
.qip2011-informers .qi_tests .q_alm li span{
	display:block;
	padding-left:24px;
}
.xmas-kards{
	background:white url("img/y2011/xmas-kards-back.jpg") 0 0 no-repeat;
	width:224px;
	border:3px solid #93cffa;
	padding:5.3em 0 0 11px;
	margin:0.5em 0 1.2em;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
}
.xmas-kards a{
	margin:0 1em 1em 0;
	display:-moz-inline-stack;
	display:inline-block;
	text-align:right;
	color:#c6161d;
}
.xmas-kards a img{
	display:block;
	border:1px solid #a1d7fc;
	margin-bottom:0.2em;
}
ul.articles-list li{
	padding-left:180px;
	position:relative;
	clear:both;
	margin-bottom:1em;
}
ul.articles-list li img{
	position:relative;
	left:-180px;
	float:left;
	margin-right:-100%;
	width:160px;
}
.aside-menu{
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	color:#f2e385;
	font:1.2em Tahoma, Arial,sans-serif;
	padding:1em;
}
.aside-menu li{
	background:url(img/y2011/aside-menu-bullet.png) 0 0 no-repeat;
	padding:0 0 0.5em 25px;
}
.aside-menu li a{
	color:white;
}
.rbc-news-2011 img{
	width:48px;
	height:48px;
	float:left;
	position:relative;
	left:-56px;
	margin-right:-100%;
}
.rbc-news-2011 h3{
	font:bold 1.25em Tahoma,Arial,sans-serif;
	margin-bottom:0.5em;
}
.rbc-news-2011 h3 a{
	color:#c50e0e;
}
.rbc-news-2011 ul a{
	text-decoration:none;
	color:black;
}
.rbc-news-2011 span{
	text-decoration:underline;
}
.rbc-news-2011 ul li{
	padding:0 0 1em 56px;
	clear:both;
	overflow:hidden;
}
.music-content-table{
	width:100%;
	border:1px solid #dfdfdf;
}
.music-content-table td{
	padding:0.7em;
	border-right:1px solid #ccc;
}
.music-content-table td.none{
	border:none;
	text-align:center;
}
.music-content-table tr.odd td{
	background:#F5F8FB;
}
.music-content-table a{
	color:#d41820;
}
.music-content-table thead td{
	color:#2a2a2a;
	border-color:#bbbbbb;
	font:bold 1em Arial,sans-serif;
	background: #E2E2E2; /* for non-css3 browsers */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E2E2E2', endColorstr='#C7C8C7'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#E2E2E2), to(#C7C8C7)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #E2E2E2,  #C7C8C7); /* for firefox 3.6+ */
	text-shadow: 1px 1px 0px white;

}
.qip2011-count-down{
	background:url(img/y2011/countdown-back.png) 0 0 no-repeat;
	width:324px;
	height:62px;
	position:relative;
	left:346px;
	top:-91px;
	padding:59px 0 0 54px;
	margin-bottom:-100px;
}
.qip2011-congratulation{
	background:url(img/y2011/count-down-end.png) 0 0 no-repeat;
	width:371px;
	height:144px;
	position:relative;
	left:346px;
	top:-80px;
	padding:59px 0 0 54px;
	margin-bottom:-100px;
}
.qip2011-count-down span.section{
	background:url(img/y2011/coundown-section-back.png) 0 0 no-repeat;
	display:block;
	float:left;
	position:relative;
	width:50px;
	height:30px;
	margin-right:31px;
	overflow:hidden;
}
.qip2011-count-down span.section span{
	font:2em/32px Arial,sans-serif;
	position:absolute;
	text-align:center;
	color:#663e08;
	text-shadow: 1px 1px 2px white;
	top:0;
	left:0;
	display:block;
	width:100%;
}
.qs_tfield {
    font-weight:normal;
}
.q_script_elka{
	width:70%;
	position:relative;
	display:block;
}
.qs_script_clipboard .qs_clipboard_object{
	position:absolute;
	top:5px;
	right:-24px;
	float:none;
}
.tree{
	width:500px;
	padding:100px 100px 150px;
	margin:0 auto;
	position:relative;
	float:left;
}
.star{
	position:absolute;
	background:url(img/y2011/star.png) 0 0 no-repeat;
	width:130px;
	height:122px;
	top:3px;
	left:282px;
	z-index:1001;
}
.top-tree{
	background:url(img/y2011/top-tree.png) 0 0 no-repeat;
	margin:0 auto -40px;
	width:383px;
	height:335px;
	position:relative;
	z-index:1000;
}
.clone-tree{
	width:580px;
	height:256px;
	background:url(img/y2011/clone-tree.png) 0 0 no-repeat;
	margin:0 auto -130px -42px;
	position:relative;
}
.bottom-tree{
	width:780px;
	height:537px;
	background:url(img/y2011/bottom-tree.png) 0 0 no-repeat;
	margin:22px 0 -130px -132px;
	z-index:1;
}
.podarok{
	top:500px;
	left:500px;
}

.gift, .card-thumb{
	width:90px;
	height:90px;
	display:block;
}
.gift{
	background-image:url(img/y2011/gifts_sprite.png);
}
.card-thumb{
	background-image:url(img/y2011/card-thumbs-sprite.png);
}
.tree .gift{
	position:absolute;
	top:3px;
	left:282px;
	z-index:1001;
}
.card-thumb3{
	background-position: 0 0;
}
.card-thumb4{
	background-position: 90px 0;
}
.card-thumb1{
	background-position: 180px 0;
}
.card-thumb2{
	background-position: 270px 0;
}
.gift0{
 	background-position: 0 0;
}

.gift1{
 	background-position: 90px 0;
}

.gift2{
 	background-position: 180px 0;
}

.gift3{
 	background-position: 270px 0;
}

.gift4{
 	background-position: 360px 0;
}

.gift5{
 	background-position: 450px 0;
}

.gift6{
 	background-position: 540px 0;
}

.gift7{
 	background-position: 630px 0;
}

.gift8{
 	background-position: 720px 0;
}

.gift9{
 	background-position: 810px 0;
}

.gift10{
 	background-position: 900px 0;
}

.gift11{
 	background-position: 990px 0;
}

.gift12{
 	background-position: 1080px 0;
}

.gift13{
 	background-position: 1170px 0;
}

.gift14{
 	background-position: 1260px 0;
}

.gift15{
 	background-position: 1350px 0;
}

.gift div {
	font-weight:bold;

	margin-top: 90px;
	text-align: center;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
	background:none;
	background:rgba(255,255,255,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50ffffff, endColorstr=#50ffffff);
	position:relative;
}
.block-gifts{
	position:relative;
	left:-260px;
	float:left;
	margin-right:-200%;
	width:240px;
	text-align:center;
	margin-top:40em;
}
.block-gifts, .block-add-wish{
	background:#e8f2fe;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	padding:0.5em 0 1em;
}
.block-gifts h4, .block-add-wish h4{
	color:#3f6ca3;
	margin-bottom:1em;
}
.block-add-wish h4{
	margin-bottom:0.2em;
}
.block-gifts label, .block-add-wish label{
	display:-moz-inline-stack;
	display:inline-block;
	margin-bottom:1em;
}
.block-gifts i.gift{
	margin:0.2em 1em;
	background-color:white;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}
.block-add-wish{
	float:left;
	padding:1em 1.5em 1em 1em;
	margin-top: 0.1em;
}
.block-add-wish label{
	text-align:center;
	margin-bottom:0;
}
.block-add-wish input.name-fld, .block-add-wish textarea{
	display:block;
	width:100%;
	margin-bottom:1em;
}
.block-add-wish textarea{
	height:100px;
	font:1em Arial,sans-serif;
	margin-bottom:0;
}
.block-add-wish .cards-flds{
	margin:1em 0;
	text-align:center;
}

.darkBoxPopup {
	position: absolute;
	width: 645px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	left: 30%;
	text-align: center;
	z-index:1003;
}
.darkBoxPopupInner {
	background:white;
	padding:10px;
	margin:10px;
	overflow:auto;
	height:405px;
}
.darkBoxPopup img{
	margin:10px;
}
.darkBoxPopupClose {
	position:absolute;
	width:30px;
	height:30px;
	cursor:pointer;
	background:url("img/dload/button.png") 0 0 no-repeat;
	z-index:1004;
	display:block;
	right:-15px;
	top:-10px;
}

.cards{
	width: 604px;
	height:400px;
	background-repeat: no-repeat;
	word-wrap: break-word;
}

.cards p{
	font: italic bold 16px Arial, Helvetica, sans-serif;
}

.cards .type1{
	padding: 9em 1em 0 10em;
}

.cards .type2{
	padding: 10em 9em 0;
}

.cards .type3{
	padding: 13em 24em 0 0;
}

.cards .type4{
	padding: 12em 3em 0;
}
.video-list li{
	display:-moz-inline-stack;
	display:inline-block;
	width:48%;
	margin-bottom:1em;
	vertical-align:top;
}
.video-list li img{
	float:left;
	margin:0 1em 1em 0;
	width:100px;
	height:75px;
}
.video-list li p{
	overflow:hidden;
}
.video-list p span{
	display:block;
	margin-bottom:0.5em;
}
.video-list p a{
	font:bold 1.2em Arial,sans-serif;

}
.horoscope-common a{
	background-image:url(img/y2011/zodiac_s.png);
	background-repeat:no-repeat;
	background-position:50% 0;
}
.horoscope-china a{
	background-image:url(img/y2011/zodiac_china.png);
	background-repeat:no-repeat;
	background-position:50% 0;
}
.horoscope-list, .personal-horo, .anekdots-sections{
	background:#03b0ef;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
}
.horoscope-list{
	float:right;
	margin:0 0 1em 1em;
	width:150px;
	padding:10px 0 10px 10px;
}
.horoscope-list a{
	color:white;
	display:block;
	padding-top:60px;
	width:66px;
	text-align:center;
}
.horoscope-list li{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	margin-bottom:1em;
}
.horoscope-common li.item0 a{
	background-position:50% 0;
}
.horoscope-common li.item1 a{
	background-position:50% -150px;
}
.horoscope-common li.item2 a{
	background-position:50% -300px;
}
.horoscope-common li.item3 a{
	background-position:50% -375px;
}
.horoscope-common li.item4 a{
	background-position:50% -525px;
}
.horoscope-common li.item5 a{
	background-position:50% -600px;
}
.horoscope-common li.item6 a{
	background-position:50% -675px;
}
.horoscope-common li.item7 a{
	background-position:50% -750px;
}
.horoscope-common li.item8 a{
	background-position:50% -825px;
}
.horoscope-common li.item9 a{
	background-position:50% -75px;
}
.horoscope-common li.item10 a{
	background-position:50% -225px;
}
.horoscope-common li.item11 a{
	background-position:50% -450px;
}
.horoscope-china li.item0 a{
	background-position:50% 0;
}
.horoscope-china li.item1 a{
	background-position:50% -675px;
}
.horoscope-china li.item2 a{
	background-position:50% -825px;
}
.horoscope-china li.item3 a{
	background-position:50% -450px;
}
.horoscope-china li.item4 a{
	background-position:50% -225px;
}
.horoscope-china li.item5 a{
	background-position:50% -375px;
}
.horoscope-china li.item6 a{
	background-position:50% -525px;
}
.horoscope-china li.item7 a{
	background-position:50% -75px;
}
.horoscope-china li.item8 a{
	background-position:50% -150px;
}
.horoscope-china li.item9 a{
	background-position:50% -600px;
}
.horoscope-china li.item10 a{
	background-position:50% -750px;
}
.horoscope-china li.item11 a{
	background-position:50% -300px;
}
.personal-horo{
	padding:0.8em;
	margin-top:2em;
	color:white;
	background-image:url(img/y2011/personal-horo-back.png);
	background-position:100% 0;
	background-repeat:no-repeat;
}
.personal-horo h3{
	font:1.5em Arial,sans-serif;
	color:white;
	margin-bottom:0.5em;
}
.personal-horo select{
	margin-right:2em;
}
.personal-horo label{
	margin-right:0.5em;
}
.games-list li{
	display:-moz-inline-stack;
	display:inline-block;
	width:45%;
	padding-right:4%;
	vertical-align:top;
	margin-bottom:1em;
}
.games-list li img{
	float:left;
	margin:0 1em 1em 0;
}
.games-list li p{
	margin-bottom:0.5em;
}
.games-list .games-item-text{
	overflow:hidden;
}
.games-list h3 a{
	color:#D41820;
}
.games-big-link{
	display:inline-block;
	vertical-align:baseline;
	background: #6EAF41; /* for non-css3 browsers */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8CDF53', endColorstr='#507F2F'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8CDF53), to(#507F2F)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #8CDF53,  #507F2F); /* for firefox 3.6+ */
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	border:1px solid white;
	-moz-box-shadow:0px 2px 4px #ccc;
	-webkit-box-shadow:0px 2px 4px #ccc;
	-o-box-shadow:0px 2px 4px #ccc;
	box-shadow:0px 2px 4px #ccc;
	line-height:30px;
	padding:0 1em;
	text-decoration:none;
	color:white;
	font-size:20px;
	margin-left:1em;
}
.games-big-link:hover{
	color:white;
}
.anekdots-sections{
	padding:1em;
	float:right;
	margin:0 0 1em 2em;
	line-height:20px;
}
.anekdots-sections a{
	color:white;
}
.aside-promo-blocks{
	padding-top:1.4em;
}
.aside-promo-blocks a{
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	font-size:1.35em;
	color:white;
	background:#b58901;
	margin-bottom:1em;
	padding:6px 0.3em 0;
	text-decoration:none;
	display:block;
}
.aside-promo-blocks .icon i{
	background-image:url(img/y2011/aside-promo-blocks-sprite.png);
	position:absolute;
	width:72px;
	height:220px;
	top:0;
	left:0;
}
.aside-promo-blocks .icon{
	position:relative;
	width:72px;
	height:52px;
	overflow:hidden;
	float:left;
	display:block;
	margin:0 0.6em -8px 0em;
	top:-2px;
}
.aside-promo-blocks .fireworks .icon i{
	top:-52px;
}
.aside-promo-blocks .tea .icon i{
	top:-104px;
}
.aside-promo-blocks .fireworks{
	background:#074b92;
}
.aside-promo-blocks .tea{
	background:#01b516;
}
.qip2011-nav-list span.tea-mantic{
	margin-left:0px;
}
.aside-promo-blocks .gold-rus{
	background:#c10c14;
}
.aside-promo-blocks .gold-rus .icon i{
	top:-156px;
}
.aside-promo-blocks .gold-rus .icon{
	height:66px;
	margin:-12px 0.6em -12px 0;
}
.aside-promo-blocks .millioners-club{
	background:#ff6600 url(img/y2011/club-back.gif);
	padding-left:0.1em;
	padding-right:0;
}
.aside-promo-blocks .millioners-club .icon{
	background-image:url(img/y2011/millionersClub.png);
	position:relative;
	width:95px;
	height:40px;
	overflow:hidden;
	float:left;
	display:block;
	margin:4px 0.3em 0px 0px;
}
.aside-promo-blocks .white-charcoal{
	background:#0052be url(img/y2011/charcoal-back.gif);
}
.aside-promo-blocks .white-charcoal .icon{
	background-image:url(img/y2011/whiteCharcoal.png);
	position:relative;
	width:83px;
	height:43px;
	overflow:hidden;
	float:left;
	display:block;
	margin:4px 0.3em 0px 0px;
}
.tea-mantic i.icon{
	background-image:url(img/y2011/tea-mantic-back.png);
	background-position:0 0;
	background-repeat:no-repeat;
	display:block;
	position:relative;
	width:40px;
	height:23px;
	overflow:hidden;
	float:left;
	display:block;

}
a.ahmat-tea, .aside-menu a.ahmat-tea{
	text-transform:uppercase;
	color:#01B516;
}
.qip2011-nav-list .tea-mantic i.icon{
	background-color:white;
}
.aside-rand-articles-list{
	background:#E0E9FF; /* for non-css3 browsers */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#AFC8FF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#AFC8FF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #AFC8FF); /* for firefox 3.6+ */
	position:relative;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border:1px solid #AFC8FF;
	padding:1em;
	margin-bottom:0em;
}
.aside-rand-articles-list h4{
	margin-top:0;
	font-size:1em;
}
.lumix-tz-10-banner{
	width:909px;
	margin:1em auto;
}
.lumix-tz-10-properties{
	position:relative;
}
.lumix-tz-10-tabs {
	width:100%;
	zoom:1;
	position:relative;
	font-family:'Trebuchet MS',Arial,sans-serif;
}

.lumix-tz-10-tabs dt {
	float:left;
	border-bottom:0;
	padding:0.2em 1em 0.4em;
	position:relative;
	margin-right:1px;
	cursor:pointer;
	border-radius:8px 8px 0 0;
	-moz-border-radius:8px 8px 0 0;
	-webkit-border-radius:8px 8px 0 0;
	-o-border-radius:8px 8px 0 0;
	color:#333;
	line-height:1;
	font-size:1.6em;
	font-weight:bold;
	left:304px;
}
.lumix-tz-10-tabs dt span{
	border-bottom:1px dashed;
}
.lumix-tz-10-tabs dt.selected span{
	border:none;
}
.lumix-tz-10-tabs dt.selected {
	z-index:3;
	cursor:auto;
	color:#0099ff;
	background:#E0EEF7;
}

.lumix-tz-10-tabs dd {
	display:none;
	float:right;
	width:100%;
	margin:2.5em 0 0 -100%;
	position:relative;
	z-index:2;
}

.lumix-tz-10-tabs dd.selected {
	display:block;
}

.lumix-tz-10-tabs .tab-content {
	background:#E0EEF7;
	padding:0.4em 2em 0.6em 326px;
	border-radius:0px 8px 8px 0px;
	-moz-border-radius:0px 8px 8px 0px;
	-webkit-border-radius:0px 8px 8px 0px;
	-o-border-radius:0px 8px 8px 0px;
}
.lumix-tz-10-tabs .tab-content img{
	position:absolute;
	top:-2.5em;
	left:0;
}
.lumix-tz-10-tabs .tab-content h2{
	font-size:1.6em;
	font-weight:normal;
	margin-bottom:0.2em;
	color:black;
}
.lumix-tz-10-tabs .tab-content p{
	line-height:1.5;
	font-size:1.2em;
}
.lumix-sausage{
	background:url(img/y2011/lumix-sausage.png);
	width:762px;
	height:27px;
	padding-left:150px;
	margin:2em auto 1.5em;
	text-transform:uppercase;
	color:white;
	font:bold 1.4em/27px Tahoma, Arial,sans-serif;
	text-shadow:0 1px 0 #05477B;
	position:relative;
}
.lumix-sausage .bow{
	position:absolute;
	z-index:2;
	left:30px;
	top:-20px;
}
.lumix-spec-list, .lumix-spec-list h3{
	font-family:'Trebuchet MS',Arial,sans-serif;
}
.lumix-spec-list .column, .lumix-presents-list .column{
	width:33%;
	float:left;
	height:200px;
	position:relative;
	z-index:1;
	padding-top:1em;
}
.lumix-spec-list .column2,
.lumix-spec-list .column3{
	border-left:1px dashed #333;
}
.lumix-spec-list .column1{
	background:#FFF url(img/y2011/lumix-special-back-left.png) 100% 0 repeat-y;
}
.lumix-spec-list .column2{
	background:#FFF url(img/y2011/lumix-special-back.png) 1px 0 repeat-y;
}
.lumix-spec-list .column2, .lumix-presents-list .column2{
	width:307px;
}
.lumix-spec-list .column3{
	background:#FFF url(img/y2011/lumix-special-back-right.png) 0 0 repeat-y;
}
.lumix-spec-list .lumix-spec-img, .lumix-presents-list .lumix-presents-img{
	float:left;
	margin:0 0.5em;
}
.lumix-spec-list .lumix-spec-c, .lumix-presents-list .lumix-presents-c{
	overflow:hidden;
}
.lumix-spec-list h3, .lumix-presents-list h3  {
	font-size: 1.3em;
	color: #333;
	line-height:1.3em;
}
.lumix-spec-list p, .lumix-presents-list p  {
	color: #6e6e6e;
	line-height:1.2;
}
.lumix-presents-list p b{
	color:#000;
}
.lumix-spec-list .price{
	font-size:3.5em;
	color:#BF0C10;
	display:block;
}
.lumix-spec-list .old-price{
	font-size:1.5em;
	text-decoration:line-through;
	display:block;
}
.lumix-properties{
	position:absolute;
	left:30px;
	bottom:20px;
}
.lumix-spec-list .further, .lumix-presents-list .further{
	background:url(img/y2011/lumix-button.png);
	width:117px;
	height:24px;
	line-height:24px;
	text-align:center;
	color:white;
	display:block;
	bottom:20px;
	text-shadow:-1px -1px 0 #05477B;
	position:absolute;
	text-decoration:none;
	font-size:1.3em;
	font-family:Arial, Helvetica, sans-serif;
}
.lumix-colors{
	position:absolute;
	left:30px;
	bottom:55px;
	color:#6E6E6E;
}
.lumix-colors span{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	width:16px;
	height:16px;
	background:#000;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}
.column2 .lumix-colors{
	left:50px;
}
.column3 .lumix-colors{
	left:50px;
}
.lumix-contact{
	text-align:center;
	margin-top:3em;
	font-family:Georgia;
	font-style:italic;
}
.lumix-contact .column{
	width:49%;
	float:left;
}
.lumix-contact .button{
	background:url(img/y2011/lumix-big-button.png);
	width:264px;
	height:48px;
	line-height:40px;
	text-align:center;
	color:white;
	display:block;
	bottom:20px;
	text-shadow:0px 1px 0 #05477B;
	margin:auto;
	text-decoration:none;
	font-size:1.6em;
}
.lumix-contact p{
	color:#666;
	font-size:1.3em;
	margin-top:0.5em;
}
a.present2gb{
	position:absolute;
	width:98px;
	height:98px;
	background:url(img/y2011/lumix-2gb-free.png);
	top:4em;
	left:-1em;
}
