@charset "utf-8";

*{
	margin:0px;
	padding:0px;
}

body{
	font-family:'noto_sans', sans-serif;
}

.b-wrapper{
	min-width:320px;
	max-width:768px;
	margin:0px auto;
	padding:19px 0 21px;
}
.b-wrapper__header{
	position:relative;
	margin:0 5px;
	font-size:26px;
	font-family:'playfair_display', serif;
	text-transform:uppercase;
	color:#010101;
	overflow:hidden;
	white-space:nowrap;
}
.b-wrapper__header:after{
	content:'';
	display:inline-block;
	width:100%;
	margin-left:20px;
	border-bottom:2px solid #000;
}

/* main slide*/
.b-wrapper__image{
	margin:13px 5px 6px;
	position:relative;
	font-size:0;
}
.b-wrapper-image__img{
	width:100%;
}
.b-wrapper-image__date{
	position:absolute;
	top:6px;
	left:6px;
	width:80px;
	height:53px;
	background:rgba(255, 255, 255, 0.8);
}
.b-wrapper-image-date__digit{
	margin-top:8px;
	font-family:'noto_serif';
	font-size:18px;
	line-height:18px;
	color:#000;
	text-align:center;
}
.b-wrapper-image-date__month{
	font-family:'noto_serif';
	font-size:14px;
	line-height:14px;
	margin-top:4px;
	color:#000;
	text-align:center;
}
.b-wrapper-image__desc{
	display:none;
	position:relative;
	margin-bottom:15px;
	padding-top:13px;
}
.b-wrapper-image-desc__title{
	font-size:13px;
	font-weight:bold;
	line-height:18px;
	color:#000;
}
.b-wrapper-image-desc__author{
	font-size:13px;
	line-height:18px;
	color:#acacac;
}
.b-wrapper-image__desc:after{
	content:'';
	position:absolute;
	top:-8px;
	left:50%;
	margin-left:-7.5px;
	width:0;
	height:0;
	border-style:solid;
	border-width:0 7.5px 8px 7.5px;
	border-color:transparent transparent #fff transparent;
}

/* calendar */
.b-wrapper__box{
	margin:0 2px 0;
	font-size:0;
	/* display:flex;
	flex-wrap: wrap;
	justify-content:flex-start; */
	overflow:hidden;
	text-align:justify;
	text-align-last:justify;
}
.b-wrapper-box__helper{
	word-spacing:74px;
	padding-left:74px;
	font-size:5px;
	font-family:"Courier", Courier, monospace;
	text-align:center;
	visibility:hidden;
	display:inline;
}
.b-wrapper__box:after{
	content:' i i i i i ';
	word-spacing:74px;
	padding-left:74px;
	font-size:5px;
	font-family:"Courier", Courier, monospace;
	text-align:center;
	visibility:hidden;
}

.b-wrapper-box__element{
	width:73px;
	height:48px;
	display: inline-block;
	margin:0 3px 6px 3px;
	overflow:hidden;
	vertical-align:top;
}
.b-wrapper-box-element__img{
	height:100%;
}
.b-wrapper-box__banner{
	width:160px;
	height:220px;
	margin:0 5px 10px 15px;
	float:right;
}
.b-wrapper-box-banner__img{
	height:100%;
}
.b-wrapper-box__banner_768{
	display:none;
}
.b-wrapper-box-element__digit{
	margin-top:5px;
	font-family:'noto_serif';
	font-size:18px;
	line-height:18px;
	color:#000;
	text-align:center;
	text-align-last:center;
}
.b-wrapper-box-element__month{
	font-family:'noto_serif';
	font-size:14px;
	line-height:14px;
	margin-top:4px;
	color:#000;
	text-align:center;
	text-align-last:center;
}
.b-wrapper-box__element_date{
	position:relative;
}
.b-wrapper-box__element_date:after{
	content:'';
	position:absolute;
	top:14px;
	right:7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2.5px 0 2.5px 3px;
	border-color: transparent transparent transparent #000;
}

/* Teaser */
.b-wrapper-box-teaser{
	margin:-3px 3px 10px 3px;
	background:#fbf6e8;
	height:80px;
	overflow:hidden;
	text-align:left;
	text-align-last:left;
}
.b-wrapper-box-teaser__img{
	float:left;
	margin-right:18px;
}
.b-wrapper-box-teaser__desc{
	margin-right:5px;
	margin-top:3px;
	font-size:10px;
	font-weight:bold;
	color:#bebebe;
}
.b-wrapper-box-teaser__name{
	margin-right:5px;
	margin-top:3px;
	font-size:13px;
	font-weight:bold;
	line-height:18px;
	color:#000;
}
.b-wrapper-box-teaser__content{
	margin-right:5px;
	font-size:12px;
	line-height:17px;
	color:#000;
}


/* Pagenator */
.b-wrapper__pagenator{
	margin:7px 0 0;
	padding:0 7px 0 5px;
	cursor:default;
}
.b-wrapper-pagenator__desc{
	margin-right:16px;
	font-size:13px;
	line-height:34px;
	color:#848484;
}
.b-wrapper-pagenator__number{
	display:inline-block;
	width:30px;
	height:34px;
	text-align:center;
	font-size:13px;
	line-height:34px;
	color:#000;
	text-decoration: none;
}
.b-wrapper-pagenator__next{
	margin-left:24px;
	font-size:13px;
	line-height:34px;
	color:#000;
	text-decoration: none;
}
.b-wrapper-pagenator__number_active{
	width:34px;
	margin:0 -2px;
	border-radius:50%;
	background-color:#e6e6e6;
	font-weight:bold;
	cursor:default;
}


@media all and (max-width: 479px) { 
	.b-wrapper-box__banner{
		display:none;
	}
	.b-wrapper-pagenator__desc{
		display:none;
	}
}
/* 480px */
@media all and (min-width: 480px) {
	.b-wrapper{
		padding:35px 0 21px;
	}
	.b-wrapper__header{
		margin:0 18px 0 20px;
		font-size:40px;
	}
	.b-wrapper__header:after{
		margin-left:18px;
		margin-bottom:-2px;
	}
	.b-wrapper__image{
		margin:21px 20px 10px;
	}
	.b-wrapper-image__date{
		top:10px;
		left:10px;
	}
	.b-wrapper__box{
		margin:0 15px 0;
	}
	.b-wrapper-box__element{
		width:80px;
		height:53px;
		margin:0 5px 10px 5px;
	}
	.b-wrapper-box-teaser{
		display:none;
	}
	.b-wrapper-box-element__digit{
		margin-top:6px;
	}
	.b-wrapper-box__helper_first{
		display:none;
	}
	.b-wrapper__box:after{
		content:' i i i i i i ';
		word-spacing:88px;
		padding-left:88px;
		font-size:5px;
		visibility:hidden;
	}
	.b-wrapper-box__element_date:after{
		right:10px;
		top:15px;
	}
	.b-wrapper__pagenator{
		margin:13px 0 0;
		padding:0 20px;
	}
	.b-wrapper-pagenator__number{
		width:41px;
	}
	.b-wrapper-pagenator__number_active{
		width:34px;
		margin:0 4px 0 3px;
	}
	.b-wrapper-pagenator__next{
		margin-left:14px;
	}
}
/* 768px and more */
@media all and (min-width: 768px) {
	.b-wrapper{
		padding:33px 0 21px;
	}
	.b-wrapper__header{
		margin:0 35px;
		font-size:40px;
	}
	.b-wrapper__header:after{
		margin-left:14px;
		margin-bottom:-2px;
	}
	.b-wrapper__image{
		margin:22px 35px 10px;
	}
	.b-wrapper-image__date{
		top:19px;
		left:19px;
		width:160px;
		height:104px;
	}
	.b-wrapper-image-date__digit{
		margin-top:19px;
		font-size:36px;
		line-height:36px;
	}
	.b-wrapper-image-date__month{
		font-size:18px;
		line-height:24px;
		margin-top:1px;
	}
	.b-wrapper-image__date:after{
		content:'';
		position:absolute;
		top:36px;
		right:20px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 2.5px 0 2.5px 3px;
		border-color: transparent transparent transparent #000;
	}
	.b-wrapper-image__desc{
		display:block;
	}
	.b-wrapper__box{
		margin:0 24px 0;
	}
	.b-wrapper__box:after{
		content:' i i i i ';
		font-family:"Courier", Courier, monospace;
		word-spacing:84px;
		padding-left:84px;
		font-size:5px;
		text-align:center;
		visibility:hidden;
	}
	.b-wrapper-box__element{
		width:160px;
		height:104px;
		margin:0 10px 20px 10px;
	}
	.b-wrapper-box__banner{
		width:160px;
		height:220px;
		margin:0 10px 20px;
		float:right;
	}
	.b-wrapper-box-element__digit{
		margin-top:21px;
		font-size:36px;
		line-height:36px;
	}
	.b-wrapper-box-element__month{
		font-size:18px;
		line-height:24px;
		margin-top:1px;
	}
	.b-wrapper-box__element_date:after{
		top:38px;
		right:20px;
	}
	.b-wrapper__pagenator{
		margin:4px 0 0;
		padding:0 34px;
	}
	.b-wrapper-box__banner_768{
		display:block;
	}

}