/* Common definitions (begin) */
* {
	font-size:100%;
	margin:0;
}
html{
    height:100%;
}
body{
	max-width:1920px;
	min-width:1000px;
	/* overflow:scroll;*/
	/*height:1176px;*/
	background:transparent url(img/8march/background.jpg) 50% 0 no-repeat;
}
table{
	border-collapse:collapse;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
th,
td{
	padding:0;
	border-collapse:collapse;
	text-align:left;
	vertical-align:top;
}
ul,ol,li{
	padding:0;
	list-style:none;
}
img{
	border:none
}
a{
	cursor:pointer;
	color:#038CBE;
	outline:none;
	border:none;
}
b{
	font-weight:normal;
}
i{
	font-style:normal;
}
textarea, input, select, option{
	font-family: Arial,sans-serif;
}

/* Главная страница */
.v14_layout{
	min-height:100%;
}
.v14_layout_head{
	height:20px;
	background:#fff;
	border-bottom:1px solid #ccc;
	overflow:hidden;
}
.v14_layout .qip_head,
.qip_footer{
	width:auto;
	border-bottom:none;
	background-color:white;
}
.qip_footer{
	margin:auto;
	border-top:none;
}
.v14_layout .qip_head{
	margin:0 auto;
	max-width:1240px;
}
.v14_footer{
	margin-top:-45px;
	border-top:1px solid #737373;
	height:45px;
	background:#fff;
	overflow:hidden;
}
.v14_layout_content{
	margin:0 auto;
	max-width:1260px;
	padding:0 10px;
	overflow:hidden;
}
/* --- */
.v14_logo{
	width:268px;
	height:77px;
	margin:10px 0 0 0;
	background:transparent url(img/8march/logo.png) no-repeat;
}
.v14_logo_14{
	display:block;
	float:left;
	width:75px;
	height:55px;
	margin-top:10px;
}
.v14_logo_qip{
	display:block;
	margin-left:85px;
	width:174px;
	height:70px;
}
/* Навигация */
.v14_navigation{
	width:100%;
	margin-top:10px;
	vertical-align:middle;
	max-width:1230px;
}
.v14_navigation td div a{
	display:block;
	width:100%;
	height:35px;
	padding:10px 0 0 0;
}
.v14_menu_tests{
	width:141px;
	height:95px;
	background:transparent url(img/8march/tests.png) 0 0 no-repeat;
}
.v14_menu_radio{
	width:221px;
	height:57px;
	margin-top:2px;
	background:transparent url(img/8march/radio.png) 0 0 no-repeat;
}
.v14_menu_news{
	width:290px;
	height:83px;
	margin-top:3px;
	background:transparent url(img/8march/news.png) 0 0 no-repeat;
}
.v14_menu_walk{
	width:202px;
	height:83px;
	margin-top:-24px;
	background:transparent url(img/8march/walk.png) 0 0 no-repeat;
}
.v14_navigation td .v14_menu_walk a{
	padding:36px 0 0 0;
}

/* Контент */
.v14_content{
	margin:0 auto;
	max-width:1260px;
}
.v14_main_content_photo,
.v14_main_content_cards,
.v14_main_content_love{
	height:320px;
}
.v14_main_content_photo{
	float:left;
	width:292px;
	background:transparent url(img/v14/main_photo.png) 0 0 no-repeat;
}

.v14_main_services_content{
	padding-bottom:50px;
}
.v14_main_content_cards{
	margin:0 auto;
	width:305px;
	background:transparent url(img/v14/main_cards.png) 0 0 no-repeat;
}
.v14_main_content_love{
	float:right;
	position:relative;
	width:277px;
	background:transparent url(img/v14/main_love.png) 0 0 no-repeat;
}
.v14_main_content_photo_link,
.v14_main_content_cards_link,
.v14_main_content_love_link{
	display:block;
	height:60px;
	width:245px;
	color:#d63941;
	font:normal 24px/30px Georgia, serif;
	text-align:center;
	margin:0 auto;
	padding:240px 30px 0;
}
.v14_main_content_photo_link:hover,
.v14_main_content_cards_link:hover,
.v14_main_content_love_link:hover{
	color:#d63941;
}
.v14_main_content_love_man{
	position:absolute;
	width:170px;
	height:70px;
	top:25px;
	left:30px;
	overflow:hidden;
}
.v14_main_content_love_woman{
	position:absolute;
	width:170px;
	height:70px;
	top:120px;
	left:105px;
	overflow:hidden;
}
.v14_main_content_love_man a,
.v14_main_content_love_woman a{
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
}
.v14_main_content_love_man_border,
.v14_main_content_love_woman_border{
	width:64px;
	height:64px;
	overflow:hidden;
	float:left;
	border-radius:5px;
}
.v14_main_content_love_man_border img,
.v14_main_content_love_woman_border img{
	width:64px;
}
.v14_main_content_love_man a p,
.v14_main_content_love_woman a p{
	margin-left:84px;
	font:normal 11px/13px Arial, sans-serif;
	color:#fff;
}
.v14_main_content_love_man_name{
	font:bold 12px/14px Arial, sans-serif;
	color:#1b4f95;
}
.v14_main_content_love_woman_name{
	font:bold 12px/14px Arial, sans-serif;
	color:#a11a1a;
}
/* Сервисы */
.v14_main_services{
	margin:30px auto 80px;
	width:100%;
	max-width:1150px;
}
.v14_main_services td a{
	display:block;
	width:165px;
	height:165px;
	padding:5px;
	text-decoration:none;
	margin:0 auto;
}
.v14_main_services td a div{
	width:165px;
	height:104px;
}
.v14_main_services_star a div{background:transparent url(img/8march/star.png) no-repeat 50% 50%;}
.v14_main_services_girl a div{background:transparent url(img/8march/girl.png) no-repeat 50% 50%;}
.v14_main_services_game a div{background:transparent url(img/8march/game.png) no-repeat 50% 50%;}
.v14_main_services_music a div{background:transparent url(img/8march/music.png) no-repeat 50% 50%;}
.v14_main_services_wallpaper a div{background:transparent url(img/8march/wallpaper.png) no-repeat 50% 50%;}
.v14_main_services td a p{
	font:italic 18px/18px Georgia, serif;
	color:#333;
	text-align:center;
	margin:5px 0 0 0;
}

.v14_main_services a:hover{
	background:transparent url(img/8march/hover.png) no-repeat;
}
.v14_main_services td a:hover,
.v14_main_services td a:hover p{
	text-decoration:none;
	color:#fff;
}
/* центральный блок */
.main_box{
	width:996px;
	height:551px;
	margin:0 auto;
	position:relative;
	background:transparent url(img/8march/videoframe.png) no-repeat;
}
.main_box_bryansk{
	width:996px;
	height:551px;
	margin:0 auto;
	position:relative;
	background:transparent url(img/8march/videoframe1.png) no-repeat;
	z-index:200;
}
.main_box_video{
	position:absolute;
	height:348px;
	width:348px;
	overflow:hidden;
	top:85px;
	left:235px;
}
.main_box_video div{
	margin-left:-145px;
}
.main_box_video .main_box_video_frame_top{
	position:absolute;
	margin:0;
	border-radius:0;
	width:264px;
	height:77px;
	top:0;
	left:42px;
	background:transparent url(img/8march/videoframe_top.png) no-repeat;
	z-index:100;
}
.main_box_video .main_box_video_frame_right{
	position:absolute;
	margin:0;
	border-radius:0;
	width:42px;
	height:348px;
	top:0px;
	left:306px;
	background:transparent url(img/8march/videoframe_right.png) no-repeat;
	z-index:100;
}
.main_box_video .main_box_video_frame_bottom{
	position:absolute;
	margin:0;
	border-radius:0;
	width:264px;
	height:77px;
	top:271px;
	left:42px;
	background:transparent url(img/8march/videoframe_bottom.png) no-repeat;
	z-index:100;
}
.main_box_video .main_box_video_frame_left{
	position:absolute;
	margin:0;
	border-radius:0;
	width:42px;
	height:348px;
	top:0px;
	left:0px;
	background:transparent url(img/8march/videoframe_left.png) no-repeat;
	z-index:100;
}
.main_box_photokonkurs{
	width:185px;
	height:200px;
	position:absolute;
	z-index:120;
	top:290px;
	left:55px;
	-moz-transform:rotate(349deg);
	-o-transform:rotate(349deg);
	-webkit-transform:rotate(349deg);
	-ms-transform:rotate(349deg);
	transform:rotate(349deg);
}
.main_box_cards{
	width:164px;
	height:116px;
	position:absolute;
	top:10px;
	left:560px;
	z-index:120;
	border-radius:116px 116px 0 0;
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}
.main_box_cards a{
	border-radius:116px 116px 0 0;
}
.main_box_horo1{
	width:314px;
	height:314px;
	position:absolute;
	top:200px;
	left:568px;
	z-index:120;
	border-radius:157px;
}
.main_box_horo1 a{
	border-radius:157px;
}

.main_box_horo2{
	width:170px;
	height:170px;
	position:absolute;
	top:201px;
	left:825px;
	z-index:120;
	border-radius:85px;
}
.main_box_horo2 a{
	border-radius:85px;
}
.main_box_photokonkurs a,
.main_box_horo a,
.main_box_cards a{
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
	outline:none;
}

.v14_news_content{
	margin:30px auto 86px;
	max-width:1280px;
	padding:0 225px;
}

/* Музыка */
.back_test{
	width:699px;
	min-height:485px;
	margin:0 auto;
	padding:0 30px 30px;
	background:transparent url(img/8march/back_test.png) no-repeat;
}
.music-content-table{
	width:695px;
	margin:0 auto;
	font:normal 14px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
}
.music-content-table thead tr td{
	font:bold 16px/30px Arial, sans-serif;
	color:#36a5c3;
	background:#fff;
	padding:2px;
}
.music-content-table tbody tr td{
	padding:2px;
}
.music-content-table tbody tr{
	background:#cfecf4;
}
.music-content-table tbody tr.odd{
	background:#fff;
}
.music-content-table tbody tr td.none{
	text-align:left;
	padding-right:15px;
}
.music-content-table tbody tr td.none a{
	color:#0066cb;
}
.music-content-table a{
	color:#202e31;
}
.music-content-table tbody tr td.test_number{
	padding:2px 0 2px 10px;
	width:34px;
}

/*---новости ЕЩЕ----*/
.news_main_tape a{
	font:normal 14px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
}
.news_main_date {
	padding-top:5px;
	color:#9a9a9a;
	font:normal 12px/12px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.v14_news_title{
	font:bold 16px/16px Arial, sans-serif;
	color:#36a5c3;
	background:#fff;
}
.v14_news_cont_pink{
	background:#CFECF4;
	padding:20px;
}
.v14_news_cont{
	padding:20px;
}
.news_white{
	padding:20px 0;
}
.news_main_tape p a img{
	padding:10px 20px 5px 0px;
}
.qnews_block{
	padding:1px 0 0 2px;
	display:block;
}
.news_main_tape_comm2{
	font:normal 14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-top: 5px;
}
.pageslist{
	text-align:right;
	font:bold 14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#3199cc;
}
.pageslist a{
	font:normal 14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
}
/* -----------*/
.bryansk8{
	max-width:1920px;
	min-width:1000px;
	position:relative;
	height:auto !important;
	height:100%;
	min-height:700px;
	background:transparent url(img/8march/background.jpg) 50% 0 no-repeat;
	position:relative;	
}
.bryansk8_box{
	position:absolute;
	width:763px;
	height:489px;	
	left:50%;
	margin-left:-381px;
	top:200px;
	background:transparent url(img/8march/bryansk.png) 0 0 no-repeat;
}