/* parent window styles */
html.q_reject_root {overflow: hidden;}
* html.q_reject_root select {visibility: hidden !important;}

.q_reject_darkbox {position: fixed; top: 0; left: 0; z-index: 50; width: 100%; height: 100%; min-height: 100%;
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBg2AwQYAAAuAC01qHx9QAAAABJRU5ErkJggg==) left top repeat;
	//background-image: url(i/1x1.png);
}
* html.q_reject_root .q_reject_darkbox {
	position: absolute;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//qip.ru/reject/i/1x1.png", sizingMethod="scale");
	top: expression(qwe = (document.documentElement.scrollTop || 0) + 'px');
}
.q_reject_darkbox .qr_container {position: relative; margin: 0 auto; top: 50%; width: 730px; height: 370px;}
.q_reject_darkbox .qr_container .qrc_iframe {position: relative; top: -50%; width: 100%; height: 370px; background-color: #fff; border: none;}


/* own styles */
body.q_reject {position: relative; margin: 0 auto; padding: 20px; width: 690px; color: #4f4f4f; font-family: "Lucida Grande", "Lucida Sans Unicode", "Arial", "Verdana", sans-serif; background-color: #fff;}

.q_reject .close {position: absolute; display: block; top: 4px; right: 4px; width: 20px; height: 20px; color: #666; font: bold 20px/20px Arial; text-decoration: none; text-align: center; background-color: #fff; -moz-border-radius: 10px; border-radius: 10px;}
.q_reject .close:hover,
.q_reject .close:focus {color: #fff; background-color: #bbb;}

.q_reject h1 {margin: 0; padding: 5px 0; color: #333; font: bold 16px/20px Helvetica, Arial, sans-serif;}
.q_reject p {margin: 0; padding: 5px 0; font-size: 12px;}
.q_reject .clear {clear: both;}

.q_reject ul {margin: 0 -10px; padding: 0; width: 710px; list-style-type: none;}
.q_reject ul li {float: left; margin: 0; padding: 11px; width: 120px; height: 120px; text-align: center; background: transparent url(i/background.gif) center center no-repeat;}
.q_reject ul li a {display: block; padding-top: 100px; width: 100%; color: #333; font-size: 11px; line-height: 17px; text-align: center; text-decoration: none; background: transparent center top no-repeat;}
.q_reject ul .qr_firefox a {background-image: url(i/firefox.gif);}
.q_reject ul .qr_chrome  a {background-image: url(i/chrome.gif);}
.q_reject ul .qr_msie    a {background-image: url(i/msie.gif);}
.q_reject ul .qr_safari  a {background-image: url(i/safari.gif);}
.q_reject ul .qr_opera   a {background-image: url(i/opera.gif);}
