html,body,div,input,textarea,select,table,td,th,img,ul,li,ol,dl,dd,p,form,h1,h2,h3,h4{ margin:0;padding:0; }
html{background:url('../img/bg.jpg') repeat center center #c9d6e3;}
html,body{ min-height:100%; }
table{ border-spacing: 0; }
table,img{ border:0; }
p{ padding-bottom:10px; }
a{ outline:none;color:#3e83c7;text-decoration:none; }
a:hover{ outline:none;color:#3e83c7;text-decoration:underline; }

body,input,textarea,select,td,th{
	font-family:Calibri,Tahoma, Arial,sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:120%;
	color:#303030;
	outline: none; 
}

::-webkit-input-placeholder{color:#b7c0cb;}
:-moz-placeholder{color:#b7c0cb;}
::-moz-placeholder{color:#b7c0cb;}
:-ms-input-placeholder{color:#b7c0cb;}
.ph{color:#b7c0cb !important;}

.clear{ clear:both;line-height:0;font-size:0px; }
.bold{ font-weight:bold; } 
.fl{ float:left; }
.fr{ float:right; }
.db{ display:block; }
.oh{ overflow:hidden; }
.pr{ position:relative; }

.mr25{ margin-right:25px; }

#general{
	min-height:100%;
}

.auto_margin{
	max-width:990px;
	padding:0 10px;
	margin:0 auto;
}

/* header */
#header .top{
	background:url('../img/bg_top.png') no-repeat center top;
	height:35px;
}
#header .top .tab{
	background-color:#8ec842;
	text-align:center;
	padding:9px 0px 0;
	cursor:pointer;
	font-size:12px;
	height:26px;
	color:white;
	float:left;
}
#header .top .corp{ width:194px; }
#header .top .pers{ width:152px; }
#header .top .selected{
	cursor:default;
	background:none;
	color:#617487;
}
#header .top .phone{
	background:url('../img/contact-icons.png') no-repeat -55px 5px;
	padding:8px 0px 0 28px;
	font-size:12px;
	height:27px;
	float:right;
}
#header .top .phone b{
	font-size:14px;
	font-weight:bold;
}
#header .top .message{
	background:url('../img/contact-icons.png') no-repeat -27px 5px;
	height: 29px;
	float:right;
	width:26px;
}
#header .top .alarm{
	background:url('../img/contact-icons.png') no-repeat 0px 5px;
	height: 29px;
	float:right;
	width:26px;
}
#header .caption{
	height:105px;
}
#header .caption .logo{
	padding:20px 0 0 30px;
	height:85px;
}
#header .caption .region{
	background:url('../img/marker_gray.png') no-repeat 43px 62px;
	padding:60px 0 5px 58px;
}
#header .caption .region a{
	border-bottom:1px dotted #617487;
	text-decoration:none;
	color:#617487;
}
#header .caption .region a:hover{
	border-bottom:1px dotted #303030;
	color:#303030;
}
#header .caption button, button{
	background:url('../img/button_green.png') repeat-x left top;
	padding:2px 9px 0;
	margin:2px 0 0 17px;
	height:26px;
	color:white;
	border:none medium;
	cursor:pointer;
	border-radius:5px;
	font-size:13px;
}
#header .auth{
	padding-top:54px;
}
#header .auth a{
	padding-right:0px;
}
#header .auth span{
	margin:0 6px;
}
#header .menu{
	min-height:35px;
}
#header .menu .inner{
	background-color:#2b3e84;
	border-radius:5px;
	padding-left:18px;
	overflow:hidden;
}
#header .menu .inner a{
	text-transform:uppercase;
	font:16px/120% Calibri,Tahoma,Arial,sans-serif;
	padding:8px 22px 0;
	height:26px;
	color:white;
	float:left;
}
#header .menu .inner a:hover{
	background-color:#1d2166;
	text-decoration:none;
}
#header .menu .search{
	background:url('../img/search_ico.png') no-repeat 10px 5px white;
	border-radius:3px;
	padding:6px 0 0 36px;
	margin:3px 3px 0 0;
	width: 161px;
	height: 22px;
}
#header .menu .search input{
	font:14px/120% Calibri,Tahoma,Arial,sans-serif;
	width:150px;
	background:none;
	border:none medium;
}
/* /header */
/* body */
#body{
	padding-bottom:15px;
	overflow:hidden;
}
#body .box-blocks{
	margin-right:-10px;
}
#body .block{
	box-shadow:0px 2px 5px #b8bfc3;
	background-color:white;
	border-radius:5px;
	margin:10px 10px 0 0;
}
#body .block .inner{
	margin:3px;
	border-radius:3px;
	position: relative;
}

.s1{ width:190px; }
.s2{ width:390px; }
.s3{ width:590px; }
.s4{ width:790px; }
.s5{ width:990px; }

.c1 .inner{ background-color:#e6e1d3; }
.c2 .inner{ background-color:#b2d5f9; }
.c3 .inner{ background-color:#fafafa; }
.c4 .inner{ background-color:#293b7d; }

/*photo-slider */

.prev,.next{
	display:none;
}

.carousel li {
    list-style:none;
    position:relative;
}
.go {
	position:absolute;
	bottom:20px;
	right:27px;
	z-index:4;
}
.go a {
    float:left;
    width:10px;
    height:11px;
    text-indent:-9999px;
    background:url('../img/go.png') no-repeat;
    margin-left:5px;
}
.go .goActive {background-position:0 -12px;}

.slide-content{
	position: absolute;
}
.slide-content.first{
	top: 21px;
	left: 317px;
}
.slide-content.second{
	top: 21px;
	left: 25px;
}
.slide-content.third{
	top: 10px;
	left: 14px;
}
.slide-content.third .photo img{
	border:2px solid #fff;
	margin:5px 13px 0 0;
}
.slide-content.third .slide-text{
	font:13px/16px Calibri;
	padding-top:5px;
}
.slide-content .slide-title{
	font: bold 32px/64px Calibri;
	color: #103683;
	text-align: left;
}
.slide-content.third .slide-title{
	font: 14px/18px Calibri;
	color: #103683;
	text-align: left;
}
.c3 .go{
	bottom:22px;
	left:35px;
}
.slide-content .slide-text{
	font: 14px/20px Calibri;
	color: #303030;
	text-align: left;
}
.slide-content .slide-button button{
	float:left;
	margin: 15px 0 0 0;
	font-size:12px;
}
.slide-content .slide-button button span:first-child{
	padding-right:5px;
}

/*
.c3 .sp-slideshow input + label, .c4 .sp-slideshow input + label{
	left:18%;
	bottom:25px;
	cursor:pointer;
}
.prev {
    background:url(/sample/carousel/prev_next.png) no-repeat;
    margin-right:10px;
}
.next {
    background:url(/sample/carousel/prev_next.png) -44px 0 no-repeat;
    margin-left:10px;
}
.prev:hover {background:url(/sample/carousel/prev_next.png) 0 -44px no-repeat;}
.next:hover {background:url(/sample/carousel/prev_next.png) -44px -44px no-repeat;}
.go a:hover {background-position:0 -11px;}
*/

/* /photo-slider*/


.block-top-part{
	background-color: #8fca42;
	height:36px;
	border-radius: 4px 4px 0 0;
}
.block-top-part .title{
	font:bold 16px/16px Calibri;
	color:#fff;
	padding:9px 0 0 13px;
}
.block-top-part .title-button{
	font:12px/15px Calibri;
	color:#fff;
	padding:11px 13px 0 0;
	cursor:pointer;
}
.block-top-part .title-button span:first-child{
	padding-right:5px;
}
.slide-wrapp .slide-content.third .slide-title{
	color:#3e83c7;
	font:14px/18px Calibri;
}

/*index-blog*/

.inner.blog{
	background: transparent url(../img/bg-blog.jpg) no-repeat;
	height:156px;
	position:relative;
}
.inner.blog .content .bloger-name{
	font:bold 14px Calibri;
	padding:10px 0 10px 13px;
}
.inner.blog .content .bloger-info{
	padding: 0 0 0 13px;
	font:12px/16px Calibri;
}
.inner.blog .content .bloger-photo{
	position:absolute;
	bottom:0;
	right:0;
}

/*/index-blog*/

/*index-social*/

.inner.social{
	background:url(../img/social-bg.png) no-repeat;
	height:106px;
}
.inner.social .content{
	padding:13px 0 0 9px;
}
.inner.social .content .col-text{
	width:76px;
	font:11px/14px Arial;
	color:#fff;
	text-align:right;
	padding:0 11px 0 0; 
} 
.inner.social .content .social-table td{
	padding-bottom:6px;
}
.inner.social .content .social-table td:first-child {
	padding-right:6px;
}

/*/index-social*/

/*index-brands*/
.inner.brands {
	background:url(../img/brands-bg.png) no-repeat;
	height:106px;
}
.inner.brands .content{
	padding: 13px 13px 0;
}
.inner.brands .content .brands-link{
	padding-right:25px;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
}
.inner.brands .content .brands-link:last-child{
	padding-right:0;
}
.inner.brands .block-top-part{
	background-color: #2a3d80;
}
.s4{
	margin-right:0!important;
}
.brands-link.last{
	padding-right:0!important;
}

/*/index-brands*/

.button_v2{
	background:url(../img/button_green2.png) repeat-x;
	height:34px;
	font:bold 14px/15px Calibri;
}

/*catalog*/

.catalog .block {
    max-width: 790px;
    overflow: hidden;
}
.catalog-table{
	overflow: hidden;
	background: #f3f3f3;
}
.catalog-table td{
	padding:17px 0 20px 0;
	font:14px/18px Calibri;
}
.block-top-part td{
	vertical-align:middle;
	font:bold 16px/16px Calibri;
	color:#fff;
	padding:9px 0 0 0;
}
.catalog-table .quantity {
    margin-right: 10px;
}
.catalog-table .number, .block-top-part .number{
	width:110px;
	padding-left:13px;
}
.catalog-table .name, .block-top-part .name{
	width:375px!important;
}
.catalog-table .priceQuantity, .block-top-part .priceQuantity{
	width:200px!important;
}
.catalog-table .icons, .block-top-part .icons{
	width:90px!important;
}
.catalog-table .deleteProduct, .block-top-part .deleteProduct{
	width:125px;
	padding-right:13px;
}
.catalog-table .cart-icons{
	background:url(../img/cart/cart-icons.png) no-repeat;
	height:21px;
	display:block;
	float:left;
	padding-right:6px;
	cursor:pointer;
}
.catalog-table .cart-icons.ic1{
	background-position: 0 0;
	width:15px;
}
.catalog-table .cart-icons.ic2{
	background-position: -20px 0;
	width:22px;
}
.catalog-table .cart-icons.ic3{
	background-position: -48px 0;
	width:26px;
}

.catalog-top .inner .block-top-part td span{
	border-bottom: 2px dotted #fff;
}

.catalog-top .inner .block-top-part td:last-child span{
	border-bottom: none;
}

.ct-icons{
	position:absolute;
	top:-18px;
	right:18px;
	width:20px;
	height:22px;
}
.ct-icons.star-ic{background:url(../img/catalog-icons.png) no-repeat 0px 0px;}
.ct-icons.discount-ic{background:url(../img/catalog-icons.png) no-repeat 0px -23px;} 
.ct-icons.attention-ic{background:url(../img/catalog-icons.png) no-repeat 0px -48px;}
.ct-icons.step-ic{background:url(../img/catalog-icons.png) no-repeat 0px -71px;}

.name_wrapp{
	position: relative;
}

.cart-small{
	background:url(../img/cart-small.png) no-repeat;
	height:22px;
	width:31px;
	margin: 5px 29px 0 0;
}
.cart-small{background-position: 0 0;}
.cart-small.green{background-position: -33px 0px;}
.price{padding: 6px 0 0 0;}
.price.discount{padding:0;}
.stringLight{background: #f8f8f8;}
.stringGreen{background: #e0edd0;}
.brd td{
	border-top:2px solid #8ec842;
	border-bottom:2px solid #8ec842;
}

.brd td:first-child{border-left:2px solid #8ec842;}
.brd td:last-child{border-right:2px solid #8ec842;}

.price.discount .old-price{
	color:#ff0000;
	font:13px/18px Calibri;
}
.name_wrapp a {
    display: block;
    width: 320px;
}
 .catalog-table .total td{
 	padding:21px 13px 24px 13px;
}
.button_v2.r2 {
    margin: 2px 0 0 24px;
    padding: 0 14px 2px 9px;
}
.button_v2.r2 span{
	display: block;
	float:left;
}
.button_v2.r2 span:last-child{
	padding:8px 0 0 10px;
}
.pos_rel{
	position:relative;
}
.button_show{
	background:url(../img/button_show.png) repeat-x;
	height:37px;
	font:bold 12px/15px Calibri;
	color:#3e83c7;
	margin:0;
	padding:0 14px;
	border-radius: 4px;
}

/*/catalog*/

.navigation{
	overflow: hidden;
	display: none;
}



/*left-sidebar*/

.l-sidebar{
	width:190px;
	margin-right:10px;
	overflow: hidden;
}
.l-sidebar .block{
	width:190px;
}
.b-tabs{
	width:184px;
}
.b-tabs .tab_title_list {
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.b-tabs .tab_title {
	background-color:#8ec842;
	width: 91px;
	height: 35px;
	float: left;
	margin-left: 2px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border-radius: 4px 4px 0 0;
	list-style: none;
}
.b-tabs .tab_content{
	background-color: #dae8f6;
	padding-bottom: 22px;
}
.b-tabs .tab_content .all-brands{
	padding-left:13px;
	background: #c1cedb;
	border-top:4px solid #dae8f6;
	height: 35px;
	color:#fff;
	font:16px/31px Calibri;
}
.b-tabs .tab_title:first-child {margin-left: 0;}
.b-tabs .tab_title.current {
	background-color: #dae8f6;
	color: #617487;
}
.b-tabs .tab-brands div{
	padding:0 0 0 13px;
}
.b-tabs .tab-brands div a{
	color:#103683;
	text-decoration: none;
	font:16px/31px Calibri;
}
button span:first-child {
    padding-right: 5px;
}
.b-tabs .tab_content button{
	margin:8px 0 0 13px;
	font:12px/15px Calibri;
}
.b-tabs .tab_title span{
	display: block;
    font: 12px/30px Calibri;
    padding-top: 3px;
}

/*filtre*/

.inner.filtre .block-top-part {background-color: #2A3D80;}
.inner.filtre .content{
	background: #f3f3f3;
	overflow: hidden;
	padding:17px 13px 23px 13px;
}
.inner.filtre .content button{
	margin:0;
	font: 12px/15px Calibri;
	margin-top:15px;
}
.select{margin-bottom:12px;}
.cheackbox label:last-child{
	margin-bottom:0;
}
label{
	cursor:pointer;
	display:block;
	color:#617487;
	font:14px/16px Calibri;
	overflow: hidden;
	margin-bottom:4px;
}
.ch-inside{
	vertical-align: middle;
	display: block;
}
.cheackbox .ct_icons{
	height: 22px;
    width: 20px;
    display: block;
    float:left;
    margin-right:3px;
}
.cheackbox .ct_icons.star-ic{background: url("../img/catalog-icons.png") no-repeat scroll 0 0 transparent;}
.cheackbox .ct_icons.discount-ic{background: url("../img/catalog-icons.png") no-repeat scroll 0 -23px transparent;}
.cheackbox .ct_icons.attention-ic{background: url("../img/catalog-icons.png") no-repeat scroll 0 -48px transparent;}
.cheackbox .ct_icons.step-ic{background: url("../img/catalog-icons.png") no-repeat scroll 0 -71px transparent;}

/*/filtre*/

/*product-day */
.product-day{
	background:url(../img/product-day-bg.png) no-repeat;
	height:323px;
}
.product-day .content{padding:20px 0 15px 0;}
.product-day .content .product-photo{padding:0 0 14px 20px;}
.product-day .content .product-link{padding:0 12px 0 13px ;}
.product-day .content .product-price{
	font:bold 22px/20px Calibri ;
	color:#303030;
	padding:11px 0 0 13px;
}
.product-day .content .product-controlls{
	overflow: hidden;
	padding-left:13px;
}
.product-day .content .product-controlls .quantity{
	margin-right:10px;
}
.product-day .content .product-controlls .button_v2{
	margin:0;
	background:url(../img/product-day-btn_green.png) repeat-x;
	height:29px;

}
.separator{
	background:url(../img/separator.png) no-repeat;
	height:2px;
	margin:13px 0 13px 0;
}

.product-day .block-top-part .ct-icons{
	right:4px;
	top:-3px;
} 

/*/product-day*/

/*download-price*/

.download-price{
	background:url(../img/download-price-bg.png) no-repeat;
	height:63px;
}
.download-price .content{
	padding:17px 13px;
}
.download-price .content a{
	color:#fff;
}
.download-price span{
	display: block;
}
.download-price span:last-child{
	margin:6px 0 0 12px;
	border-bottom:1px solid #fff;
}

/*/download-price*/


/*/left-sidebar*/

/* /body */
/* footer */
#footer{
	font:12px/120% Calibri,Tahoma,Arial,sans-serif;
	height:90px;
}
#footer a{
	color:#617487;
}
#footer span{
	padding:0 6px;
}
/* /footer */
