.fullhistory{
	min-height:100%;
	padding:0 20px;
	background:#F5F6FA;
	flex-grow: 1;
	flex-shrink: 1;
}
.fullhistory__header{
	margin:0 50px;
	padding:40px 0 20px;
}
.fullhistory__title{
	margin-left:35px;
	font-size: 35px;
	line-height: 35px;
	color: #465168;
}
.fullhistory-item__link{
	display: inline-block;
}

.fullhistory-box{
	padding-top:10px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:stretch;
	height:480px;
}
.fullhistory-box-colleft{
	flex-shrink:0;
	width:38%;
	min-width:340px;
	margin-right:20px;
}
.fullhistory-box .calls{
	margin-top:20px;
}