.qip_main_wrapper {background: transparent url(img/facebook/bg.gif) center 120px repeat-x;}
.wrap{
	width:960px;
	margin:0 auto;
	min-height:680px;
	}
.header {height: 328px; background: transparent url(img/facebook/display.png) right bottom no-repeat;}
.header .logo {display: block; margin: 26px 0 0 0; width: 200px; height: 48px;}
.header .logo img {width: 200px; height: 48px;}
.header h1 {margin: 55px 0 40px 0; font: normal 35px/1.2em Tahoma, Arial; color: #fff;}

.header form {display: inline;}

.header .button {
	display: inline-block; margin: 0; padding: 0 15px 0 0; width: auto; height: 54px;
	font: normal 20px/54px Arial; color: #fff; white-space: nowrap; text-decoration: none;
	border-radius: 5px;
	border: #000 solid 1px;
}
.header .button .icon {
	display: inline-block; float: left;
	background: transparent url(img/facebook/icons.png) left top no-repeat;
}
.header .add_fb {
	margin-right: 15px;
	border-color: #2a4273; background-color: #3c5a99;
	box-shadow:
		0 1px 2px -1px rgba(0,0,0,0.7),
		0 1px 0 0 rgba(255,255,255,0.4) inset,
		0 50px 50px -25px #5e87dc inset;
}
.header .add_fb .icon {margin: 9px 15px 9px 15px; width: 17px; height: 30px; background-position: -335px -168px;}
.header .dl_qip {
	position: relative; border-color: #276d00; background-color: #51a200;
	box-shadow:
		0 1px 2px -1px rgba(0,0,0,0.7),
		0 1px 0 0 rgba(255,255,255,0.5) inset,
		0 50px 50px -25px #7dde01 inset;
}
.header .dl_qip .icon {margin: 5px 10px 5px 10px; width: 44px; height: 41px; background-position: -336px -111px;}
.header .dl_qip .note {
	position: absolute; left: 0; bottom: -24px; width: 100%;
	text-align: center; font: normal 14px/1.2em Arial; color: #a2c0ff;
}

.instruction {width:100%;height: 220px; *margin-bottom:50px;}
.instruction h1 {margin-top:5px;*margin-top:30px;font: normal 35px/1.2em Tahoma, Arial; color: #4f73bb; text-align: center;}
.list{
	margin:20px 0px 0px 0px;
	}
.download, .install, .talk{
	width:30%;
	font: normal 12px/1.5em Tahoma, Arial; vertical-align: top;

}
.icon {
	float: left;
	background: transparent url(img/facebook/icons.png) left top no-repeat;
}

.download .icon {margin: 0 10px 10px 0; width:  87px; height: 110px; background-position: 1px 1px;}
.install  .icon {margin: 0 0px 10px 0; width: 150px; height: 110px; background-position: -92px 1px;}
.talk     .icon {margin: 0 10px 10px 0; width: 117px; height: 110px; background-position: -246px 0;}

.list tr td h2 {font: normal 24px/1.2em Tahoma, Arial;margin-bottom:0px;}

.list2{
	width:100%;
	}
.list_td{
	width: 24%;
	height: 100px;
	border: #d3d3d3 solid 1px;
	border-radius: 5px;
	background-color: #e5e5e5;
	box-shadow:	0 1px 0 0 rgba(255,255,255,0.7) inset;
	padding:5px 10px;
	}
.icon_td{
	float: right;
	height: 89px;
	background: transparent url(img/facebook/icons.png) left top no-repeat;
}
#read_td{width: 83px; background-position: 2px -115px;}
#chat_td{width: 84px; background-position: -80px -115px;}
#write_td{width: 83px; background-position: -167px -115px;}
#talk_td{width: 70px; background-position: -257px -115px;}
.list_td h3 {font: normal 20px/1.2em  Tahoma, Arial; color: #4c6495 !important;}

.pip {margin: 1em 0;}
.qip_foot_wrap{
	padding-top:5px !important;
}



html.q_root {overflow: hidden;}
* html.q_root select {visibility: hidden !important;}

.darkbox {position: fixed; top: 0; left: 0; z-index: 50; width: 100%; height: 100%; min-height: 100%;
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBg2AwQYAAAuAC01qHx9QAAAABJRU5ErkJggg==) left top repeat;
	//background-image: url(i/1x1.png);
}
* html.q_root .darkbox {
	position: absolute;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//qip.ru/reject/i/1x1.png", sizingMethod="scale");
	top: expression(qwe = (document.documentElement.scrollTop || 0) + 'px');
}
.darkbox .db_container {position: relative; margin: 0 auto; top: 20%; height: auto;}
.darkbox .db_container .db_content {position: relative; margin: 0 auto; top: -50%; background-color: #fff;}

.sms_send        .db_container .db_content {width: 450px;}
.platform_choose .db_container .db_content {width: 600px;}


.darkbox .db_content {
	position: relative; padding: 15px 20px;
	background-color: #fff; border: #3c5a99 solid 3px; border-radius: 15px;
}
.darkbox .db_content .close {
	position: absolute; right: 5px; top: 5px; width: 40px; height: 40px;
	font: normal 40px/40px Arial; color: #3c5a99; text-align: center; cursor: pointer; cursor: hand;
	border-radius: 20px;
}
.darkbox .db_content .close:hover {background-color: #eee;}


.fb_add .db_container .db_content {width: 350px;}

.fb_add form label {display: inline-block;}
.fb_add form label input {margin-top: 4px;}

.fb_add .button {
	display: inline-block; margin: 0; padding: 0 15px; width: auto; height: 24px;
	font: normal 14px/24px Arial; color: #fff; white-space: nowrap; text-decoration: none;
	border-radius: 5px; border: #2a4273 solid 1px;
	background-color: #3c5a99;
	box-shadow:
		0 1px 2px -1px rgba(0,0,0,0.7),
		0 1px 0 0 rgba(255,255,255,0.4) inset,
		0 24px 24px -12px #5e87dc inset;
}
