@charset "utf-8";

/******************************************************************************
	Reset
******************************************************************************/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
ul, ol{
	list-style: none;
}
html,
body{
	height:100%;
}
a,
a:hover,
a:focus,
a:active,
input,
input:hover,
input:focus,
input:active{
	outline:none;
	text-decoration:none;
}
button,
button:hover,
button:focus,
button:active{
	border:none;
	outline:none;
}

/******************************************************************************
	Colors
******************************************************************************/
html{
	--dark-grey:	#333333;
	--grey:			#8F8F8F;
	--white:		#FFFFFF;

	--red:			#E00102;
	--dark-red:		#C20001;
}

/******************************************************************************
	Global styles
******************************************************************************/
html {
	scroll-behavior: smooth;
}
body{
	position:relative;
	background-color:#E4E4E4;
	font-family:"Montserrat";
	font-weight:400;
}
.inner{
	width:1278px;
	margin:0 auto;
}
.grey-btn{
	font-family:"Montserrat";
	height:57px;
	border:2px solid var(--grey);
	border-radius:71px;
	padding:0 19px;
	color:var(--grey);
	font-weight:500;
	font-size:14px;
	line-height:53px;
	background-color:transparent;
	transition:all 0.3s;
}
.grey-btn:hover{
	border-color:var(--red);
	color:var(--red);
}
.btn{
	font-family:"Montserrat";
	display:inline-block;
	width:310px;
	height:75px;
	border-radius:71px;
	text-align:center;
	background:var(--red);
	font-weight:600;
	font-size:20px;
	line-height:75px;
	color:var(--white);
	transition:all 0.3s;
	cursor:pointer;
}
.btn:hover{
	background:var(--dark-red);
}
.btn_white{
	font-family:"Montserrat";
	background:transparent;
	border:2px solid var(--red);
	color:var(--red);
	line-height:71px;
}
.btn_white:hover{
	background:var(--dark-red);
	border-color:var(--dark-red);
	color:var(--white);
}
.btn-big{
	font-family:"Montserrat";
	display:inline-block;
	width:100%;
	height:101px;
	border-radius:71px;
	text-align:center;
	background:var(--red);
	font-weight:500;
	font-size:30px;
	line-height:101px;
	color:var(--white);
	transition:all 0.3s;
	cursor:pointer;
}
.btn-big:hover{
	background:var(--dark-red);
}
.input{
	font-family:"Montserrat";
	display:inline-block;
	width:310px;
	height:75px;
	padding:0 30px; 
	border-radius:71px;
	text-align:center;
	background:var(--white);
	border:2px solid var(--grey);
	font-weight:500;
	font-size:18px;
	line-height:71px;
	color:#000000;
	transition:all 0.3s;
}
.input::placeholder{
	font-family:"Montserrat";
	color:var(--grey);
}
.input:hover,
.input:focus{
	background:#F8F8F8;
	border-color:var(--red);
}
.input.input_black{
	border-color:#FFFFFF;
	background:transparent;
	color:#FFFFFF;
}
.input.input_black::placeholder{
	font-family:"Montserrat";
	color:#FFFFFF;
}
.input.input_black:hover,
.input.input_black:focus{
	border-color:var(--red);
	background:transparent;
}
.input-big{
	font-family:"Montserrat";
	display:inline-block;
	width:100%;
	height:101px;
	padding:0 30px; 
	border-radius:71px;
	text-align:center;
	background:var(--white);
	border:2px solid #333333;
	font-weight:400;
	font-size:30px;
	line-height:97px;
	color:#333333;
	transition:all 0.3s;
}
.input-big::placeholder{
	font-family:"Montserrat";
	color:#C4C4C4;
}
.input-big:hover,
.input-big:focus{
	background:#F8F8F8;
	border-color:var(--red);
}
@media only screen and (max-width: 1380px){
	.inner{
		width:1280px;
		padding-left:15px;
		padding-right:15px;
	}
}
@media only screen and (max-width: 1278px){
	.inner{
		width:100%;
		padding-left:15px;
		padding-right:15px;
	}
	.grey-btn{
		height:35px;
		padding:0 15px;
		font-size:9px;
		line-height:33px;
		border-width:1px;
	}
	.btn{
		width:240px;
		height:50px;
		font-size:15px;
		line-height:50px;
	}
	.btn_white{
		line-height:48px;
		border-width:1px;
	}
	.input{
		width:240px;
		height:50px;
		padding:0 20px; 
		font-size:13px;
		line-height:48px;
		border-width:1px;
	}
	.btn-big{
		height:50px;
		font-size:12px;
		line-height:50px;
	}
	.input-big{
		height:50px;
		padding:0 20px;
		font-size:12px;
		line-height:48px;
		border-width:1px;
	}
}

/******************************************************************************
	Header
******************************************************************************/
.header{
	height:1058px;
	background: linear-gradient(108.73deg, #FFFFFF 38.05%, #F0F0F0 95.48%)
}
.header-top{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	height:85px;
}
.header__logo{
	display:inline-block;
	font-size:0;
}
.header__logo-img{
	width:160px;
	height:29px;
}
.header-content{
	padding-top:176px;
	position:relative;
}
.header__title{
	width:600px;
	font-family:"Russo One";
	font-size:72px;
	line-height:94px;
	color:#282828;
}
.header__desc{
	margin-top:75px;
	width:565px;
	font-weight:500;
	font-size:25px;
	line-height:38px;
	color:var(--dark-grey);
}
.header-form{
	margin-top:85px;
	width:655px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
}
.header-social{
	margin-top:100px;
	display:inline-block;
}
.header-social__title{
	font-size:14px;
	line-height:14px;
	color:var(--grey);
}
.header-social-wrap{
	margin-top:20px;
	display:flex;
	flex-flow: row nowrap;
	justify-content:space-between;
	align-items:center;
}
.header-social__link{
	display:inline-block;
	font-size:0;
}
.header-social__ig{
	width:13px;
	height:13px;
}
.header-social__tg{
	width:16px;
	height:13px;
}
.header-social__strava{
	width:15px;
	height:21px;
}
.header-social__vk{
	width:18px;
	height:11px;
}
.carousel-head{
	position:absolute;
	width:580px;
	height:661px;
	top:112px;
	right:0;
}
.carousel-head__item{
	width:100%;
	height:100%;
}
.carousel-head__img{
	object-fit:contain;
}

@media only screen and (max-width: 1278px){

	.header{
		height:auto;
		background: linear-gradient(0deg, #E4E4E4 0%, #FFFFFF 43.75%);
	}
	.header-top{
		height:75px;
		width:100%;
		max-width:480px;
		margin-left:auto;
		margin-right:auto;
	}
	.header__logo-img{
		width:98px;
		height:17px;
	}
	.header-content{
		display:flex;
		flex-flow:column nowrap;
		align-items:center;
		padding-top:33px;
	}
	.header__title{
		width:100%;
		max-width:480px;
		font-size:28px;
		line-height:36px;
		text-align:center;
	}
	.header__desc{
		margin-top:35px;
		width:100%;
		max-width:480px; 
		font-size:16px;
		line-height:24px;
		text-align:center;
	}
	.header-form{
		margin-top:34px;
		width:100%;
		flex-direction:column;
		justify-content:flex-start;
		align-items:center;
	}
	.header-form__btn{
		margin-top:20px;
	}
	.header-social{
		order:11;
		margin-top:80px;
		margin-bottom:60px;
	}
	.header-social__title{
		font-size:19px;
		line-height:19px;
	}
	.header-social-wrap{
		margin-top:32px;
	}
	.header-social__link{
		display:inline-block;
		font-size:0;
	}
	.header-social__ig{
		width:27px;
		height:27px;
	}
	.header-social__tg{
		width:32px;
		height:27px;
	}
	.header-social__strava{
		width:33px;
		height:46px;
	}
	.header-social__vk{
		width:37px;
		height:22px;
	}
	.carousel-head{
		order:10;
		position:relative;
		width:296px;
		height:330px;
		margin-top:50px;
		top:0;
	}
	.carousel-head__item{
		width:100%;
		height:100%;
	}
	.carousel-head__img{
		object-fit:contain;
		width:100%;
		height:100%;
	}	
}

/******************************************************************************
	How
******************************************************************************/
.how{
	background:#fff;
}
.how-wrap{
	padding-top:140px;
	padding-bottom:140px;
}
.how__title{
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:62px;
	color:var(--red);
	text-align:center;
}
.how-list{
	margin-top:80px;
	width:100%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:flex-start;
}
.how-item{
	width:308px;
	height:300px;
	padding:50px 23px 0 30px;
	background:#FAFAFA;
	border-radius:16px;
}
.how-item__imgwrap{
	height:51px;
	display:flex;
}
.how-item__title{
	margin-top:15px;
	font-weight:400;
	font-size:24px;
	line-height:38px;
	color:#000000;
}
.how-item__desc{
	font-weight:400;
	font-size:20px;
	line-height:31px;
	color:#8F8F8F;
}
.how-btnwrap{
	margin-top:45px;
	text-align:center;
}

@media only screen and (max-width: 1278px){

	.how-wrap{
		padding-top:76px;
		padding-bottom:78px;
	}
	.how__title{
		font-size:24px;
		line-height:30px;
	}
	.how-list{
		margin-top:55px;
		display:flex;
		flex-direction:column;
		justify-content:flex-start;
		align-items:center;
	}
	.how-item{
		width:290px;
		height:231px;
		margin-bottom:20px;
		padding:50px 30px 0 30px;
	}
	.how-item__imgwrap{
		height:41px;
	}
	.how-item__title{
		font-size:18px;
		line-height:28px;
	}
	.how-item__desc{
		font-size:16px;
		line-height:25px;
	}
	.how-btnwrap{
		margin-top:0;
	}
	.how-item__img_web{
		width:38px;
		height:38px;
	}
	.how-item__img_appointment{
		width:38px;
		height:38px;
	}
	.how-item__img_file{
		width:37px;
		height:41px;
	}
	.how-item__img_medal{
		width:41px;
		height:38px;
	}

}

/******************************************************************************
	About
******************************************************************************/
.about{
	background:#161616;
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about-wrap{
	padding-top:100px;
	padding-bottom:130px;
}
.about__title{
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:62px;
	color:#FFFFFF;
}
.about__desc{
	width:700px;
	margin-top:70px;
	font-weight:400;
	font-size:24px;
	line-height:31px;
	color:#FFFFFF;
}
.about__list{
	margin-top:78px;
	width:100%;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
}
.about__item-title{
	height:31px;
	font-weight:600;
	font-size:18px;
	line-height:31px;
	color: #8F8F8F;
}
.about__item-number{
	font-family:"Russo One";
	font-weight:400;
	font-size:107px;
	line-height:114px;
	color:var(--red);
}
.about__item-text{
	font-weight:600;
	font-size:24px;
	line-height:34px;
	color:#FFFFFF;
}
.about__text{
	margin-top:80px;
}
.about__text p{
	font-weight:400;
	font-size:24px;
	line-height:31px;
	color:#FFFFFF;
	margin-bottom:31px;
}
@media only screen and (max-width: 1278px){

	.about{
		box-shadow:none;
	}
	.about-wrap{
		padding-top:45px;
		padding-bottom:93px;
	}
	.about__title{
		font-size:24px;
		line-height:30px;
		text-align:center;
	}
	.about__desc{
		width:290px;
		margin-top:40px;
		margin-left:auto;
		margin-right:auto;
		font-size:13px;
		line-height:19px;
		text-align:center;
	}
	.about__list{
		margin-top:30px;
		margin-left:auto;
		margin-right:auto;
		width:290px;
	}
	.about__item{
		width:50%;
		margin-bottom:40px;
	}
	.about__item-title{
		height:17px;
		font-size:10px;
		line-height:17px;
		text-align:center;
	}
	.about__item-number{
		font-size:70px;
		line-height:70px;
		text-align:center;
	}
	.about__item-text{
		font-size:14px;
		line-height:20px;
		text-align:center;
	}
	.about__text{
		margin-top:-10px;
		text-align:center;
		width:290px;
		margin-left:auto;
		margin-right:auto;
	}
	.about__text p{
		font-size:12px;
		line-height:17px;
		margin-bottom:17px;
	}
}

/******************************************************************************
	Bonus
******************************************************************************/
.bonus{
	position:relative;
	height:785px;
	background:#FFFFFF;
	overflow:hidden;
}
.bonus::after{
	content:'';
	position:absolute;
	width:1920px;
	height:100%;
	top:0;
	left:50%;
	margin-left:-960px;
	background:transparent url("../i/bonus-bg.jpg") no-repeat 0 0;
	z-index:1;
}
.bonus-wrap{
	position:relative;
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
	z-index:100;
}
.bonus-box{
	margin-top:140px;
	width:826px;
}
.bonus__title_red{
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:65px;
	text-align:center;
	color:var(--red);
}
.bonus__title_black{
	width:600px;
	margin-left:auto;
	margin-right:auto;
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:65px;
	text-align:center;
	color:#000000;
}
.bonus__desc{
	margin-top:20px;
	font-weight:400;
	font-size:25px;
	line-height:32px;
	text-align:center;
	color:#333333;
}
.bonus-btnwrap{
	margin-top:70px;
	text-align:center;
}
@media only screen and (max-width: 1278px){
	.bonus{
		height:610px;
	}
	.bonus::after{
		width:522px;
		height:390px;
		top:auto;
		bottom:0;
		margin-left:-330px; 
		background-size:522px 390px;
	}
	.bonus-wrap{
		justify-content:center;
	}
	.bonus-box{
		margin-top:70px;
		width:290px;
	}
	.bonus__title_red{
		font-size:24px;
		line-height:34px;
	}
	.bonus__title_black{
		width:100%;
		font-size:24px;
		line-height:34px;
	}
	.bonus__desc{
		margin-top:10px;
		font-size:12px;
		line-height:16px;
	}
	.bonus-btnwrap{
		margin-top:30px;
		text-align:center;
	}
}

/******************************************************************************
	Lottery
******************************************************************************/
.lottery{
	background: #161616;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.lottery-wrap{
	position:relative;
	padding-top:175px;
	padding-bottom:125px;
}
.lottery-wrap::after{
	content:'';
	position:absolute;
	width:260px;
	height:168px;
	top:128px;
	left:255px;
	background:transparent url("../i/dots.svg") no-repeat 0 0;
	z-index:10;
}
.lottery__title{
	position:relative;
	font-family:"Russo One";
	font-weight:400;
	font-size:60px;
	line-height:73px;
	text-align:center;
	color:#FFFFFF;
	z-index:100;
}
.lottery__title_red{
	color:var(--red);
}
.lottery__desc{
	margin-top:40px;
	font-family:"Roboto";
	font-weight:400;
	font-size:25px;
	line-height:38px;
	text-align:center;
	color:#FFFFFF;
}
.lottery-list{
	margin-top:95px;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	width:642px;
}
.lottery__item{
	width:311px;
	height:293px;
	background: #FFFFFF;
	border-radius:16px;
}
.lottery__item-imgwrap{
	display:flex;
	justify-content:center;
	align-items:center;
	width:311px;
	height:245px;
}
.lottery__item-title{
	font-weight:700;
	font-size:18px;
	line-height:27px;
	color:#333333;
	text-align:center;
}
.lottery-btnwrap{
	margin-top:80px;
	text-align:center;
}

@media only screen and (max-width: 1278px){
	.lottery{
		box-shadow:none;
	}
	.lottery-wrap{
		padding-top:50px;
		padding-bottom:64px;
		width:320px;
		margin-left:auto;
		margin-right:auto; 
	}
	.lottery-wrap::after{
		width:106px;
		height:69px;
		top:31px;
		left:15px;
		background:transparent url("../i/dots.svg") no-repeat 0 0;
		background-size:106px 69px;
	}
	.lottery__title{
		font-size:24px;
		line-height:34px;
	}
	.lottery__desc{
		margin-top:20px;
		font-size:12px;
		line-height:18px;
	}
	.lottery-list{
		margin-top:25px;
		flex-direction:column;
		justify-content:flex-start;
		align-items:center;
		width:auto;
	}
	.lottery__item{
		width:240px;
		height:240px;
		margin-bottom:20px;
	}
	.lottery__item-imgwrap{
		width:240px;
		height:200px;
	}
	.lottery__item-title{
		font-size:12px;
		line-height:18px;
	}
	.lottery-btnwrap{
		margin-top:0;
		text-align:center;
	}
}

/******************************************************************************
	Competitors
******************************************************************************/
.competitors{
	background:#FAFAFA;
}
.competitors-wrap{
	position:relative;
	padding-top:74px;
	padding-bottom:118px;
}
.competitors-wrap::before{
	content:'';
	position:absolute;
	width:132px;
	height:418px;
	right:0;
	top:118px;
	background:transparent url("../i/white-dots.svg") no-repeat 0 0;
	z-index:10;
}
.competitors__title{
	position:relative;
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:62px;
	color:#333333;
	text-align:center;
	z-index:100;
}
.competitors-list{
	position:relative;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	width:1088px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:flex-start;
	z-index:100;
}
.competitors-list-square{
	width:536px;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-items:flex-start;
}
.competitors-list-square .competitors__imgwrap{
	width:260px;
	height:280px;
	margin-bottom:16px;
	overflow:hidden;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:16px;
}
.competitors-list-square .competitors__img{
	object-fit:cover;
	max-width:100%;
}
.competitors-list-rect{
	width:536px;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-items:flex-start;
}
.competitors-list-rect .competitors__imgwrap{
	width:260px;
	height:428px;
	margin-bottom:16px;
	overflow:hidden;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:16px;
}
.competitors-list-rect .competitors__img{
	object-fit:cover;
	max-height:100%;
}

@media only screen and (max-width: 1278px){
	.competitors{
		background:linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 100%), linear-gradient(267.25deg, #F0F0F0 2.9%, #FFFFFF 98.63%);
	}
	.competitors-wrap{
		padding-top:45px;
		padding-bottom:50px;
	}
	.competitors-wrap::before{
		display:none;
	}
	.competitors__title{
		font-size:24px;
		line-height:30px;
	}
	.competitors-list{
		margin-top:40px;
		margin-left:auto;
		margin-right:auto;
		width:100%;
		max-width:480px;
		justify-content:flex-start;
		overflow-y:auto;
	}
	.competitors-list-square{
		width:auto;
		flex-flow:row nowrap;
		justify-content:flex-start;
	}
	.competitors-list-square .competitors__imgwrap{
		width:230px;
		height:245px;
		margin-bottom:0;
		margin-right:15px;
		border-radius:10px;
	}
	.competitors-list-square .competitors__img{
		object-fit:cover;
		max-width:100%;
	}
	.competitors-list-rect{
		width:auto;
		flex-flow:row nowrap;
		justify-content:flex-start;
	}
	.competitors-list-rect .competitors__imgwrap{
		width:230px;
		height:245px;
		margin-bottom:0;
		margin-right:15px;
		border-radius:10px;
	}
	.competitors-list-rect .competitors__imgwrap:last-child{
		margin-right:0;
	}
	.competitors-list-rect .competitors__img{
		object-fit:cover;
		max-height:none;
		max-width:100%;
	}
}

/******************************************************************************
	Story
******************************************************************************/
.story{
	background:#FFFFFF;
	overflow:hidden;
}
.story-wrap{
	padding-top:140px; 
	padding-bottom:152px;
}
.story-carousel{
	position:relative;
	width:1092px;
	margin-left:auto;
	margin-right:auto;
}
.story__title{
	position:absolute;
	top:-15px;
	left:0;
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:62px;
	color:#333333;
}
.story__btn{
	position:absolute;
	left:0;
	bottom:-10px;
	z-index:200; 
}
.story-carousel-item{
	display:flex !important;
	flex-flow:row nowrap;
	justify-content:space-between;
	margin-right:20px;
}
.story-carousel-textwrap{
	margin-top:158px;
	width:630px;
}
.story-carousel__title{
	font-weight:500;
	font-size:24px;
	line-height:31px;
	color:#000000;
	margin-bottom:31px;
}
.story-carousel__text{
	font-weight:400;
	font-size:24px;
	line-height:31px;
	color:#4A4848;
}
.story-carousel__else{
	display:inline-block;
	margin-top:25px;
	font-weight:400;
	font-size:20px;
	line-height:20px;
	color:#A8ABAD;
	text-decoration: underline;
}
.story-carousel__else:hover{
	text-decoration:none;
}
.story-carousel-imgwrap{
	width:420px;
	height:544px;
	border-radius:16px;
	overflow:hidden;
	display:flex;
	justify-content:center;
	align-items:center;
}
.story-carousel__img{
	object-fit:cover;
	max-width:100%;
}
.story-carousel-control{
	position:absolute;
	width:1280px;
	height:48px;
	top:50%;
	left:50%;
	margin-top:-17px;
	margin-left:-640px;
}

.story-win{
	padding-top:210px;
	position:relative;
}
.story-win::before{
	content:'';
	position:absolute;
	z-index:10;
	width:204px;
	height:132px;
	top:150px;
	left:110px;
	background:transparent url("../i/white-dots_small.svg") no-repeat 0 0;
}
.story-win::after{
	content:'';
	position:absolute;
	z-index:20;
	width:634px;
	height:635px;
	top:55px;
	right:-60px;
	background:transparent url("../i/story-win-bg.jpg") no-repeat 0 0;
}
.story-win__title{
	position:relative;
	margin-left:192px;
	width:670px;
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:65px;
	color:#161616;
	z-index:100;
}
.story-win__title_red{
	color:var(--red);
}
.story-win-btnwrap{
	margin-top:60px;
	margin-left:192px;
}

@media only screen and (max-width: 1278px){

	.story-wrap{
		padding-top:90px; 
		padding-bottom:152px;
	}
	.story-carousel{
		width:290px;
	}
	.story__title{
		top:-65px;
		font-size:24px;
		line-height:30px;
	}
	.story__btn{
		position:absolute;
		left:50%;
		margin-left:-120px;
		bottom:-80px;
	}
	.story-carousel-item{
		flex-direction:column;
		justify-content:flex-start;
		margin-right:0;
		padding:0 23px 0 0;
		width:290px;
	}
	.story-carousel-textwrap{
		order:1;
		margin-top:30px;
		width:100%;
	}
	.story-carousel__title{
		font-size:14px;
		line-height:18px;
		margin-bottom:18px;
	}
	.story-carousel__text{
		font-size:12px;
		line-height:16px;
	}
	.story-carousel__else{
		margin-top:10px;
		font-size:12px;
		line-height:20px;
	}
	.story-carousel-imgwrap{
		order:0;
		width:134px;
		height:172px;
		border-radius:5px;
	}
	.story-carousel-control{
		position:absolute;
		width:290px;
		height:24px;
		top:auto;
		bottom:80px;
		left:50%;
		margin-top:0;
		margin-left:-145px;
	}
	.story-carousel-control .slick-arrow.slick-prev{
		display:none !important;
	}

	.story-win{
		padding-top:230px;
		width:290px;
    	margin-left:auto;
    	margin-right:auto;
	}
	.story-win::before{
		content:'';
		position:absolute;
		z-index:10;
		width:106px;
		height:69px;
		top:225px;
		left:10px;
		background-size:106px 69px;
	}
	.story-win::after{
		width:540px;
		height:540px;
		top:87px;
		right:auto;
		left:-10px;
		background-size:540px 540px;
		opacity:0.4;
	}
	.story-win__title{
		margin-left:auto;
		margin-right:auto;
		width:210px;
		font-size:24px;
		line-height:34px;
		text-align:center;
	}
	.story-win-btnwrap{
		position:relative;
		margin-top:30px;
		margin-left:0;
		text-align:center;
		z-index:100;
	}
}

/******************************************************************************
	Other
******************************************************************************/
.other{
	background:#161616;
}
.other-wrap{
	padding-top:100px;
	padding-bottom:125px;
}
.other__title{
	font-family:"Russo One";
	font-weight:40;
	font-size:45px;
	line-height:56px;
	text-align:center;
	color:#FFFFFF;
}
.other-box{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:flex-end;
}
.other__item{
	padding-top:150px;
}
.other__item-imgwrap{
	height:278px;
	margin-bottom:30px;
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
.other__item-link{
	font-family:"Russo One";
	font-weight:400;
	font-size:14px;
	line-height:17px;
	color:#FFFFFF;
	text-decoration:underline;
}
.other__item-link:hover{
	text-decoration:none;
}

@media only screen and (max-width: 1278px){
	.other-wrap{
		padding-top:70px;
		padding-bottom:140px;
	}
	.other__title{
		font-size:24px;
		line-height:30px;
		text-align: center;
	}
	.other-box{
		display:flex;
		flex-direction:column;
		align-items:center;
		height:auto;
	}
	.other__item{
		padding-top:100px;
		display:flex;
		flex-flow:column nowrap;
		align-items:center;
	}
	.other__item-imgwrap{
		height:auto;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	.other__item-img{
		width:100%;
		max-width:100%;
	}
}

/******************************************************************************
	Social
******************************************************************************/
.social{
	background:#FFFFFF;
}
.social-wrap{
	padding-top:74px;
	padding-bottom:107px;
}
.social__title{
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:62px;
	text-align:center;
	color:#333333;
}
.social-boxwrap{
	margin-top:100px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
}
.social-iconbox{
	width:420px;
	margin-left:20px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
}
.social__link{
	display:inline-flex;
	justify-content:center;
	align-items:center;
	font-size:0;
	width:94px;
	height:90px;
	background:var(--red);
	border-radius:16px;
}

@media only screen and (max-width: 1278px){
	.social-wrap{
		padding-top:70px;
		padding-bottom:41px;
	}
	.social__title{
		font-size:24px;
		line-height:30px;
	}
	.social-boxwrap{
		margin-top:64px;
		flex-direction:column;
		justify-content:flex-start;
		align-items:center;
	}
	#vk_groups{
		margin-top:57px;
		order:1;
	}
	.social-iconbox{
		order:0;
		width:290px;
		margin-left:0;
	}
	.social__link{
		width:65px;
		height:63px;
	}
	.social__ig{
		width:37px;
		height:37px;
	}
	.social__tg{
		width:35px;
		height:30px;
	}
	.social__strava{
		width:31px;
		height:44px;
	}
	.social__vk{
		width:40px;
		height:23px;
	}
}

/******************************************************************************
	Register now
******************************************************************************/
.regnow{
	background:#161616;
}
.regnow-wrap{
	padding-top:102px;
	padding-bottom:146px;
	text-align:center;
}
.regnow__title-white{
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:65px;
	color:#FFFFFF;
	text-align:center;
}
.regnow__title-red{
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:65px;
	color:var(--red);
	text-align:center;
}
.regnow__text{
	margin-top:22px;
	font-family:"Roboto";
	font-weight:400;
	font-size:25px;
	line-height:38px;
	text-align:center;
	color:#FFFFFF;
}
.regnow-form{
	margin:56px auto 0;
	width:642px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
}

@media only screen and (max-width: 1278px){
	.regnow-wrap{
		padding-top:48px;
		padding-bottom:71px;
	}
	.regnow__title-white{
		padding:0 30px;
		font-size:24px;
		line-height:31px;
	}
	.regnow__title-red{
		font-size:24px;
		line-height:31px;
	}
	.regnow__text{
		margin-top:7px;
		font-size:12px;
		line-height:18px;
	}
	.regnow-form{
		margin:40px auto 0;
		width:auto;
		flex-direction:column;
		justify-content:flex-start;
		align-items:center;
	}
	.regnow-form__btn{
		margin-top:20px;
	}
}

/******************************************************************************
	Footer
******************************************************************************/
.footer{
	background:#F6F8F9;
}
.footer-wrap{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	padding-top:60px;
	padding-bottom:55px;
}
.footer__copy{
	font-weight:500;
	font-size:14px;
	line-height:20px;
	color: #A8ABAD;
}
.footer__personal{
	font-weight:500;
	font-size:14px;
	line-height:20px;
	color:#000000;
}
.footer__owner{
	margin-top:17px;
	font-weight:500;
	font-size:11px;
	line-height:18px;
	color:#A8ABAD;
}
.footer__parthners{
	width:200px;
	font-weight:500;
	font-size:13px;
	line-height:20px;
	color:#A8ABAD;
}
.footer__email{
	font-weight:500;
	font-size:14px;
	line-height:20px;
	color:var(--red);
}
.footer__email:hover{
	color:var(--dark-red);
}
.footer__owner_mob{
	display:none;
}
.footer__logo{
	margin-top:11px;
}
.footer__logo-img{
	width:137px;
	height:24px;
}

@media only screen and (max-width: 1278px){

	.footer-wrap{
		display:flex;
		flex-direction:column;
		justify-content:flex-start;
		align-items:center;
		padding-top:30px;
		padding-bottom:30px;
	}
	.footer__copy{
		font-size:9px;
		line-height:15px;
		text-align:center;
	}
	.footer__personal{
		font-size:12px;
		text-align:center;
	}
	.footer__personal:first-child{
		margin-top:10px;
	}
	.footer__owner{
		display:none;
	}
	.footer__parthners{
		margin:20px auto 0;
		font-size:10px;
		text-align:center;
	}
	.footer__email-wrap{
		text-align:center;
	}
	.footer__email{
		font-size:12px;
	}
	.footer__owner_mob{
		display:block;
		margin-top:10px;
		font-weight:500;
		font-size:9px;
		line-height:18px;
		color:#A8ABAD;
		text-align:center;
	}
	.footer__logo{
		margin-top:20px;
	}
	.footer__logo-img{
		width:137px;
		height:24px;
	}	
}

/******************************************************************************
	Verify
******************************************************************************/
.overlay{
	display:none;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0, 0, 0, 0.5);
	z-index:1000;
}
.overlay.active{
	display:block;
}
.verify{
	position:absolute;
	width:758px;
	height:682px;
	top:50%;
	left:50%;
	margin-left:-379px;
	margin-top:-341px;
	padding:100px 70px;
	background:#F7F7F7;
	border-radius:16px;
}
.verify__title{
	font-family:"Russo One";
	font-weight:400;
	font-size:55px;
	line-height:68px;
	text-align:center;
	color:#333333;
}
.verify__desc{
	margin-top:82px;
	font-weight:500;
	font-size:18px;
	line-height:20px;
	color:#8F8F8F;
	text-align:center;
}
.verify-form{
	margin-top:20px;
	width:100%;
	display:flex;
	flex-flow:column nowrap;
	align-items:stretch;
}
.verify-form__btn{
	margin-top:30px;
}
.verify__retry{
	margin-top:40px;
	text-align:center;
}
.verify__retry-link{
	font-weight:400;
	font-size:18px;
	line-height:20px;
	color:#C4C4C4;
	text-decoration:underline;
}
.verify__retry-link:hover{
	text-decoration:none;
}

@media only screen and (max-width: 1278px){

	.verify{
		position:absolute;
		width:330px;
		height:296px;
		margin-left:-165px;
		margin-top:-148px;
		padding:40px 30px;
		border-radius:5px;
	}
	.verify__title{
		font-size:24px;
		line-height:30px;
	}
	.verify__desc{
		margin-top:25px;
		font-size:10px;
		line-height:20px;
	}
	.verify-form{
		margin-top:5px;
	}
	.verify-form__btn{
		margin-top:10px;
	}
	.verify__retry{
		margin-top:10px;
		text-align:center;
	}
	.verify__retry-link{
		font-size:10px;
		line-height:20px;
	}
}

/******************************************************************************
	Thanks
******************************************************************************/
.thanks{
	background:#FFFFFF;
}
.thanks-wrap{
	padding-top:135px;
	padding-bottom:113px;
}
.thanks-logowrap{
	text-align:center;
}
.thanks__logo{
	display:inline-block;
	font-size:0;
}
.thanks__logo-img{
	width:252px;
	height:45px;
}
.thanks__title{
	margin-top:130px;
	margin-left:auto;
	margin-right:auto;
	width:830px;
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:65px;
	text-align:center;
	color:#282828;
}
.thanks__videowrap{
	position:relative;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto; 
	width:971px;
	height:546px;
	overflow:hidden;
	border-radius:16px;
}
.thanks__video{
	width:971px;
	height:546px;
}
.playpause{
	background-image:url("../i/play.png");
	background-repeat:no-repeat;
	position:absolute;
	left:0%;
	right:0%;
	top:0%;
	bottom:0%;
	margin:auto;
	background-size:164px 164px;
	background-position:center;
	cursor:pointer;
}
.thanks__subtitle{
	margin-top:160px;
	margin-left:auto;
	margin-right:auto;
	width:830px;
	font-family:"Russo One";
	font-weight:400;
	font-size:50px;
	line-height:65px;
	text-align:center;
	color:#333333;
}
.thanks__subtitle_red{
	color:var(--red);
}
.thanks-social-box{
	margin-top:75px;
	margin-left:auto;
	margin-right:auto;
	width:312px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
}
.thanks-social__link{
	display:inline-flex;
	justify-content:center;
	align-items:center;
	font-size:0;
	width:94px;
	height:90px;
	background:var(--red);
	border-radius:16px;
}
.thanks__desc{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width:480px;
	font-weight:400;
	font-size:18px;
	line-height:27px;
	text-align:center;
	color:#333333;
}

@media only screen and (max-width: 1278px){
	.thanks-wrap{
		padding-top:56px;
		padding-bottom:88px;
	}
	.thanks__logo{
		display:inline-block;
		font-size:0;
	}
	.thanks__logo-img{
		width:134px;
		height:23px;
	}
	.thanks__title{
		margin-top:60px;
		width:290px;
		font-size:28px;
		line-height:36px;
	}
	.thanks__videowrap{
		margin-top:56px;
		margin-left:auto;
		margin-right:auto; 
		width:290px;
		height:163px;
		overflow:hidden;
		border-radius:5px;
	}
	.thanks__video{
		width:290px;
		height:163px;
	}
	.playpause{
		background-size:66px 66px;
	}
	.thanks__subtitle{
		margin-top:70px;
		width:260px;
		font-size:24px;
		line-height:34px;
	}
	.thanks-social-box{
		margin-top:40px;
		width:215px;
	}
	.thanks-social__link{
		width:65px;
		height:63px;
	}
	.thanks__desc{
		margin-top:20px;
		width:280px;
		font-size:12px;
		line-height:18px;
	}	
}