/* base */
html, body {font: normal 12px/12px Tahoma,Arial,sans-serif;}

/* web-slices */
.hslice .entry-title,
.hslice .entry-href {display: none;}


/* main */
.qip_1st_row {}
.qip_2nd_row {}
.qip_right_column {float: right; padding-right: 20px; width: 240px;}
.qip_center_column {margin-right: 260px;}

.qip_1st_row .qip_center_column {margin-right: 460px;}
.qip_1st_row .qip_right_column  {width: 440px;}

.qip_row {clear: left;}
.qip_row_pr0 {padding-right: 0;}
/* //main */


.q_counters {z-index: -100; top: -100px; left: -100px;}


/* errors and other messages */
.qip_message {position: relative; margin: 0 20px 10px 20px; padding: 7px; text-align: center; line-height: 16px; background-color: #e7f3f7; border: #0b98ca solid 1px; border-width: 0 1px 1px 1px;
	-moz-border-radius: 0 0 10px 10px;
	     border-radius: 0 0 10px 10px;
}
.qip_message p {padding: 0; font: normal 13px/16px Tahoma,Arial,sans-serif;}
.qip_message_pochta {background-color: #efefef;}

.qip_message_pochta form {margin: 7px 0;}
.qip_message_pochta .qmp_tfield {width: 120px;}
.qip_message_pochta .qmp_select {width: 108px; height: 22px;}

.qip_message .qm_close {position: absolute; display: block; bottom: 7px; right: 7px; width: 20px; height: 20px; color: #eee; font: bold 20px/20px Arial; text-decoration: none; background-color: #0b98ca;
	-moz-border-radius: 10px;
	     border-radius: 10px;
}
.qip_message .qm_close:hover {color: #eee; background-color: #48c3f0;}



/* search suggests */
#qip_suggest {border-color: #0d79c5;}


/* icons */
.q_icon {
	position:absolute;
	margin-left:-19px;

	display: inline-block;

	width:16px;
	height: 16px;

	background-image:url(../i/index/index_sprite.png);
}

.q_settings   {background-position: 0 -400px;}
.q_history_wb {background-position: 0 -576px;}
.q_mail_wb    {background-position: 0 -528px;}
.q_love_wb    {background-position: 0 -544px;}
.q_sms        {background-position: 0 -736px;}
.q_infium     {background-position: -80px -64px;}
.q_online     {background-position: -96px -64px;}
.q_mobile     {background-position: -112px -64px;}
.q_bar        {background-position: -128px -64px;}
.q_skins      {background-position: -144px -64px;}
.q_forum      {background-position: -176px -64px;}
.q_smiles     {background-position: 0 -496px;}
.q_plugins    {background-position: 0 -512px;}



.qh_user_block {}
.qh_user_block li {float: right; font-size: 11px; line-height: 22px;}
.qh_user_block .qhu_avatar {top: 2px;}



/* popup message */
.ql_message {position: absolute; padding: 7px 10px 4px 10px; right: 260px; top: -25px; z-index: 10; opacity: 0; line-height: 16px; white-space: nowrap; background-color: #02b0ef;
	display: none\9;
	-moz-border-radius: 7px;
	     border-radius: 7px;
	-webkit-transition: top 300ms ease-in, opacity 300ms ease-in;
	   -moz-transition: top 300ms ease-in, opacity 300ms ease-in;
	     -o-transition: top 300ms ease-in, opacity 300ms ease-in;
	        transition: top 300ms ease-in, opacity 300ms ease-in;
}
.ql_message_showed {top: -10px; opacity: 1;
	display: block\9;
}
.ql_message,
.ql_message a {color: #fff;}

/* login */
.q_login {position: relative; width: 240px; background-color: #a6ce39;
	-moz-border-radius: 4px;
	     border-radius: 4px;
	-webkit-transition: background-color 300ms ease-out;
	   -moz-transition: background-color 300ms ease-out;
	     -o-transition: background-color 300ms ease-out;
	        transition: background-color 300ms ease-out;
}
.q_login_authorized {background-color: #02b0ef;}

.q_login .ql_bg {background-color: #a6ce39; border: #aaa solid 1px;
	-webkit-transition: background-color 300ms ease-out;
	   -moz-transition: background-color 300ms ease-out;
	     -o-transition: background-color 300ms ease-out;
	        transition: background-color 300ms ease-out;
}
.q_login_authorized .ql_bg {background-color: #f0f0f0;}

.q_login_form {padding: 0 5px; height: 100px; overflow: hidden;}

.q_login_form_unauth a,
.q_login_form_unauth a:hover {color: #fff;}
.q_login_form_auth a,
.q_login_form_auth a:hover {color: #000;}

.q_login_form_auth,
.q_login_authorized .q_login_form_unauth {display: none;}
.q_login_authorized .q_login_form_auth {display: block;}


.q_login_form .qlf_login,
.q_login_form .qlf_password {padding: 1px 2px; width: 115px;}

.q_login_form .qlf_login,
.q_login_form .qlf_at,
.q_login_form .qlf_host,
.q_login_form .qlf_password {height: 16px; font: normal 12px/15px Arial;}

.q_login_form .qlf_login,
.q_login_form .qlf_host,
.q_login_form .qlf_password {border: #adadad solid 1px;}

.q_login_form .qlf_at {display: inline-block;}

.q_login_form .qlf_host {width: 90px; height: 20px;}

.q_login_form .qlf_submit {padding: 0; height: 20px; font: bold 13px/14px Arial; color: #fff; border: #0d79c5 solid 1px; background-color: #02b0ef;
	-moz-border-radius: 4px;
	     border-radius: 4px;
}
.q_login_form .qlf_login_submit {width: 47px;}
.q_login_form .qlf_logout_submit {width: 75px;}

.ql_header {padding: 3px 0; height: 16px; font: bold 13px/16px Arial;}
.qlh_para {
	position:relative;
	overflow:hidden;
	padding-right:0.5em;
	white-space: nowrap;
	}
	.qlh_para .q_fade_login {
		position:absolute;
		top:0;
		right:0;
		width:30px;
		height:50px;
		background:none;
		background:-webkit-gradient(linear, left top, right top, from(rgba(240, 240, 240, 0.2)), to(#F0F0F0));
		background:-webkit-linear-gradient(left, rgba(240, 240, 240, 0.2), #F0F0F0);
		background:   -moz-linear-gradient(left, rgba(240, 240, 240, 0.2), #F0F0F0);
		background:    -ms-linear-gradient(left, rgba(240, 240, 240, 0.2), #F0F0F0);
		background:     -o-linear-gradient(left, rgba(240, 240, 240, 0.2), #F0F0F0);
		background:        linear-gradient(left, rgba(240, 240, 240, 0.2), #F0F0F0);
		-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#20F0F0F0', EndColorStr='#F0F0F0')";
		}

.ql_list li {margin: 6px 0; padding-left:19px; white-space: nowrap; line-height:16px;}
.ql_list .qlf_submit_item {
	padding-left:0;
}
.ql_right {width: 75px;}
.ql_messages {width: 150px;}
.ql_messages li a span {font-weight: bold;}

.ql_list .q_login_new_email { background-position:-16px -64px; }
.ql_list .q_settings { background-position:-64px -64px; }
.ql_list .qlm_create_message {background-image: url(../i/index/icons/create_message.png);}
.ql_list .qlm_message { background-position:-48px -64px; }
.ql_list .qlm_history { background-position:-32px -64px;  }
.ql_list .q_love_wb { background-position:-160px -64px; }


/* qip dload */
.qip_dload {height: 50px;}
.qip_dload a {display: block; width: 240px; height: 43px; background: transparent url(../i/index/qip_dload.png) left top no-repeat;
	-moz-border-radius: 5px;
	     border-radius: 5px;
	-webkit-box-shadow: 2px 3px 6px -1px #eb7f7f;
	   -moz-box-shadow: 2px 3px 6px -1px #eb7f7f;
	        box-shadow: 2px 3px 6px -1px #eb7f7f;
}

/* banner */
.q_banner_240x400 {width: 240px;}

/* downloads */
.q_dloads {
	position:relative;

	padding: 0 15px;
}

.q_dloads li {
	padding-left:19px;
}

.q_dloads li:before {
	position:absolute;
	left:0;

	content:'\25BC';
}

/* qip news */
.q_qip_news {width: 240px; font: normal 11px/14px Tahoma,Arial,sans-serif;}
.q_qip_news p {margin-bottom: 5px;}

/* games */
.q_games {margin: 0 auto; width: 240px; height: 120px; background: #73c627 url(../i/index/games.png) right top no-repeat;
	-moz-border-radius: 10px;
	     border-radius: 10px;
}
.q_games h1 {padding-top: 10px; text-transform: uppercase;}
.q_games h1 a {color: #fff; letter-spacing: -1px;}
.q_games select {width: 200px;}
.q_games select,
.q_games option {font: normal 12px/16px Arial;}
.q_games .qg_submit {margin: 10px auto 0; width: 130px; height: 32px; font: bold 22px/30px Arial; color: #fff; text-transform: uppercase; border: #fff solid 1px; background-color: #ff5a00;
	-moz-border-radius: 3px;
	     border-radius: 3px;
}

/* airport adv */
.q_air {}
.q_air h4 {margin: 1em 0 0.5em 0; font: bold 12px/1.2em Tahoma, Arial; color: #027cb2;}
.q_air .qa_users {text-align: center;}
.q_air .qa_users img {margin-right: 1px; vertical-align: middle;}



/* head */
.q_head {height: 23px; font: normal 11px/20px Tahoma,Arial,sans-serif;}

.qt_city {color: #888;}

.qt_city .qt_city_link {cursor: pointer;}
.qt_city .qt_city_link span {font-family: Arial;}
.qt_city .qt_city_loading {color: #000;}
.qt_city .qt_city_list {margin: 0; vertical-align: middle; border: 1px solid #aaa;}
.qt_city .qt_city_list,
.qt_city .qt_city_list option {font-size: 12px;}

.qt_city_normal    .qt_city_loading, .qt_city_normal    .qt_city_list,
.qt_city_loading   .qt_city_link   , .qt_city_loading   .qt_city_list,
.qt_city_selection .qt_city_link   , .qt_city_selection .qt_city_loading {display: none;}

/* logo */
.q_logo {margin-top: 18px; width: 200px; height: 48px; background: transparent url(../i/index/index_sprite.png) 0 0 no-repeat;}
.q_logo .ql_self {display: block; height: 48px;}

.q_logo_1sept {margin: 15px -12px 0px -2px; width: 214px; height: 72px; background-image: url(../i/index/branding/1sept/logo.png);}
.q_logo_1sept .ql_self {width: 214px; height: 72px;}

/* search */
.q_search {margin-left: 210px; height: 85px;}
.q_search_tabs {margin-bottom: 2px;}
.q_search_form {padding: 8px 10px; height: 32px; background-color: #02b0ef;
	-moz-border-radius: 7px;
	     border-radius: 7px;
}
.qs_tfield {border-color: #0d79c5;}
.qs_submit {padding: 0; height: 32px; border: #fff solid 1px; background-color: #a6ce39;}
.qs_example {margin-right: 0; font-size: 11px;}

.q_search_1sept {background: transparent url(../i/index/branding/1sept/board_left.jpg) left top no-repeat;}
.q_search_1sept .q_search_wrap {padding: 10px; background: transparent url(../i/index/branding/1sept/board_right.jpg) right top no-repeat;}

.q_search_1sept .q_search_tabs {margin: 10px 10px 0 10px;}
.q_search_1sept .q_search_tabs,
.q_search_1sept .q_search_tabs a,
.q_search_1sept .q_search_tabs .qm_inactive .qm_link .qm_dotted,
.q_search_1sept .q_search_tabs .qm_inactive .qm_link b {color: #fff;}

.q_search_1sept .q_search_tabs .qm_link .qm_dotted,
.q_search_1sept .q_search_tabs .qm_link b,
.q_search_1sept .q_search_tabs .qm_list a {color: #027cb2;}
.q_search_1sept .q_search_tabs .qm_dotted,
.q_search_1sept .q_search_tabs .qm_dotted:hover {border-bottom-color: #fff;}

.q_search_1sept {margin-right: -10px; height: auto;}
.q_search_1sept .q_search_form {margin-bottom: 25px; padding: 0 27px 0 10px; background-color: transparent;}
.q_search_1sept .qs_tfield {border-width: 0; background-color: transparent;}
.q_search_1sept .qs_submit {border-width: 0; background-color: transparent; font-size: 0px; text-indent: -200px;}
.q_search_1sept .qs_example {}

/* more list */
.qm_list {position: absolute;
	border-color: rgba(13, 121, 197, 0.7);
	-moz-border-radius: 3px;
	     border-radius: 3px;
}
.qm_link .qm_dotted {width: auto;}
.qm_link b {display: inline-block; font-size: 9px; font-family: Arial; color: #000;}


/* date, weather, maps, indices  */
.q_info {margin: 0 auto; max-width: 800px; height: 50px; font: normal 13px/20px Tahoma,Arial,sans-serif;}
.q_info table {width: 100%; border-spacing: 0; border: none;}
.q_info table td {padding: 0;}

/* date */
.q_date .qd_city {color: #444;}

/* weather */
.q_weather .qw_content {margin: 0 auto; width: 220px;}
.q_weather .qw_now,
.q_weather .qw_future {padding-top: 10px; height: 40px;}

.q_weather .qw_now {width: 110px; font: normal 26px/40px Arial; background: transparent left top no-repeat;}

.q_weather .qw_sun-none        {background-image: url(../i/index/weather/sun-none.png);}
.q_weather .qw_sun-cloud-none  {background-image: url(../i/index/weather/sun-cloud-none.png);}
.q_weather .qw_sun-cloud-rain  {background-image: url(../i/index/weather/sun-cloud-rain.png);}
.q_weather .qw_sun-cloud-snow  {background-image: url(../i/index/weather/sun-cloud-snow.png);}
.q_weather .qw_moon-none       {background-image: url(../i/index/weather/moon-none.png);}
.q_weather .qw_moon-cloud-none {background-image: url(../i/index/weather/moon-cloud-none.png);}
.q_weather .qw_moon-cloud-rain {background-image: url(../i/index/weather/moon-cloud-rain.png);}
.q_weather .qw_moon-cloud-snow {background-image: url(../i/index/weather/moon-cloud-snow.png);}
.q_weather .qw_cloud-none      {background-image: url(../i/index/weather/cloud-none.png);}
.q_weather .qw_cloud-rain      {background-image: url(../i/index/weather/cloud-rain.png);}
.q_weather .qw_cloud-rain-lightning {background-image: url(../i/index/weather/cloud-rain-lightning.png);}
.q_weather .qw_cloud-snow      {background-image: url(../i/index/weather/cloud-snow.png);}
.q_weather .qw_wind-snow       {background-image: url(../i/index/weather/wind-snow.png);}

.q_weather .qw_future {margin: 0 0 0 120px; line-height: 18px;}
.q_weather .qw_future span {display: inline-block;}
.q_weather .qw_future .q_small {width: 45px; color: #888;}

.q_weather .q_icon {
	left:0;

	margin-left:0;
}

.q_weather .q_small_arm{
	position:relative;

	width:50px;
}

.q_weather .qfw_sun-none        {background-position: 0  -48px;}
.q_weather .qfw_sun-cloud-none  {background-position: -16px  -48px;}
.q_weather .qfw_sun-cloud-rain  {background-position: -32px  -48px;}
.q_weather .qfw_sun-cloud-snow  {background-position: -48px  -48px;}
.q_weather .qfw_moon-none       {background-position: -64px  -48px;}
.q_weather .qfw_moon-cloud-none {background-position: -80px  -48px;}
.q_weather .qfw_moon-cloud-rain {background-position: -96px  -48px;}
.q_weather .qfw_moon-cloud-snow {background-position: -112px -48px;}
.q_weather .qfw_cloud-none      {background-position: -128px -48px;}
.q_weather .qfw_cloud-rain      {background-position: -144px -48px;}
.q_weather .qfw_cloud-rain-lightning {background-position: -160px -48px;}
.q_weather .qfw_cloud-snow      {background-position: -176px -48px;}
.q_weather .qfw_wind-snow       {background-position: 0 -64px;}

/* maps */
.q_maps {margin: 0 auto; padding-top: 10px; width: 100px; height: 40px;}
.q_maps .qm_static {display: none; width: 60px;}
.q_maps_static .qm_static {display: block;}
.q_maps_static .qm_probki {display: none;}
.q_maps .qm_static,
.q_maps .qm_probki {width: 60px;}

.q_maps .qm_icon {display: block; margin: 4px 0 4px 4px; overflow: hidden;}
.q_maps .qm_icon span {display: block; width: 33px; height: 32px; background: url(../i/index/index_sprite.png) -33px -80px no-repeat;}
.q_maps span.qmp_green  {background-color: #3bff16;}
.q_maps span.qmp_yellow {background-color: #ffdf15;}
.q_maps span.qmp_red    {background-color: #ff4f15;}
.q_maps_static .qm_icon span {background-color: transparent; background-position: 0 -80px;}

/* indices */
.q_indices .qi_up {color: #009900;}
.q_indices .qi_down {color: #cc0000;}
.q_indices span {display: inline-block; padding-left: 8px; width: 50px; text-align: left;}
.q_indices .qi_usd {color: #489f10;}
.q_indices .qi_eur {color: #1670c2;}


/* news */
.q_news {padding-bottom: 10px;}

/* tabulator */
.qn_tabulator {height: 21px; line-height: 18px; border-bottom: #d7d7d7 solid 1px;}
.qn_tabulator li {position: relative; float: left; margin: 0 1px 0 0; padding: 1px 1px 0 1px; height: 20px; overflow: hidden; background-color: #d7d7d7;}
.qn_tabulator i {position: absolute; overflow: hidden; top: 0px; right: 0px; width: 6px; height: 6px; background: transparent url(data:image/gif;base64,R0lGODlhBgAMAJEDAP///9nZ2eLi4gAAACH5BAEAAAMALAAAAAAGAAwAAAIUDH5iOMq9hnRyLgQGzvp1Lh1VWAAAOw==) left top no-repeat;}
.qn_tabulator a {display: inline-block; padding: 0 11px; height: 20px; color: #666; text-decoration: none; background-color: #f0f0f0;}
.qn_tabulator a:hover {color: #027cb2; text-decoration: underline;}
.qn_tabulator .qnh_active {height: 19px; background-color: #a6ce39;}
.qn_tabulator .qnh_active i {background-position: right -7px;}
.qn_tabulator .qnh_active a {color: #fff; text-decoration: none; background: none;}
.qn_tabulator .qnh_active a:hover {text-decoration: underline;}



/* country switcher */
li.qnt_country {float: right; background-color: transparent;}

.q_news .qntc_UA,
.q_news .qntc_RU {display: inline-block; height: 16px; line-height: 16px;}
/* inactive */
.q_news_RU .qntc_UA,
.q_news_UA .qntc_RU {margin: 1px 7px; color: #027cb2; border-bottom: #027cb2 dotted 1px; cursor: pointer;}
/* active */
.q_news_RU .qntc_RU,
.q_news_UA .qntc_UA {margin: 1px 0; padding: 0 7px; color: #fff; border-bottom: #bbb solid 1px; background-color: #bbb; cursor: default;}

.q_news_RU .qn_content_UA,
.q_news_UA .qn_content_RU {display: none;}


/* fade gradient */
.q_fade_out {background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAABCAYAAADJsB7sAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNJREFUeNpi/P//PwMSYAdiDiDmBGIuIOaBYl4g5kPC/Gh8PqgamHouqBkcUDMxAECAAQCjXwP+Pn0cfgAAAABJRU5ErkJggg==) left top repeat-y;}

/* main's news content */
.qn_caption {position: relative; overflow: hidden; white-space: nowrap;}
.qn_caption .q_fade_out {position: absolute; display: block; top: 0; right: -1px; width: 30px; height: 22px;}
.qn_caption {margin-bottom: 15px; height: 22px;}
h2.qn_caption a {color: #000; text-decoration: underline;}
.qn_caption a:hover {text-decoration: none;}

.qn_main {width: 55%; font: normal 12px/18px Tahoma,Arial,sans-serif;}
.qn_main img {margin: 5px 20px 5px 0; max-width: 160px; max-height: 120px; background-color: #f8f8f8;}
.qn_main .qnm_more_link {white-space: nowrap;}

/* news list */
.qn_list {position: relative; padding-left: 15px; overflow: hidden;}
.qn_list li {margin-left: 20px; font: normal 12px/18px Tahoma,Arial,sans-serif; color: #a7a7a7; list-style: square;}
.qn_list li.q_fade_out {position: absolute; top: 0; right: -1px; width: 30px; height: 200px; list-style: none;}
.qn_list li a {white-space: nowrap;}

/* projects icons */
.q_projects {height: 65px; overflow: hidden;}
.q_projects div {float: left; margin: 0 0 0 0; width: 9%; height: 60px; text-align: center;}
.q_projects .qp_link {display: inline-block; margin: 0 auto; height: 60px; color: #000;}
.q_projects .qp_link:hover {color: #027cb2;}
.q_projects .qp_icon {display: block; margin: 0 auto 5px; width: 42px; height: 42px; overflow: visible;}
.q_projects .qp_bg   {display: block; margin: 0; width: 53px; height: 42px; background: transparent url(../i/index/projects.png) center top no-repeat;}

.qp_mail     .qp_bg {background-color: #5ea5e5; background-position: center    0px;}
.qp_file     .qp_bg {background-color: #acacac; background-position: center  -42px;}
.qp_voip     .qp_bg {background-color: #76bc00; background-position: center  -84px;}
.qp_aeterna  .qp_bg {background-color: #ffc73f; background-position: center -126px;}
.qp_5ballov  .qp_bg {background-color: #2b388f; background-position: center -168px;}
.qp_auto     .qp_bg {background-color: #c60000; background-position: center -210px;}
.qp_sport    .qp_bg {background-color: #0b9645; background-position: center -252px;}
.qp_stars    .qp_bg {background-color: #ff69b0; background-position: center -294px;}
.qp_games    .qp_bg {background-color: #90278e; background-position: center -336px;}
.qp_realty   .qp_bg {background-color: #da251d; background-position: center -378px;}
.qp_services .qp_bg {background-color: #000000; background-position: center -420px;}


/* mega blocks */
.q_informers {height: 210px; overflow: hidden;}
.qi_informer {float: left; width: 20%; min-width: 165px; height: 220px; overflow: hidden;}
.qi_informer:first-child .qii_content {border: none;}

@media screen and (min-width: 1191px) {
	.qi_informer {width: 20%;}
}
@media screen and (max-width: 1190px) {
	.qi_air,
	.qi_tests {display: none;}
	.qi_informer {width: 25%;}
}

.qii_caption {height: 30px;}

/* corners */
.qi_photo b {border-top-color: #ffffff; border-bottom-color: #3c507a;}
.qi_video b {border-top-color: #3c507a; border-bottom-color: #02b2ee;}
.qi_love  b {border-top-color: #02b2ee; border-bottom-color: #ff69b0;}
.qi_humor b {border-top-color: #ff69b0; border-bottom-color: #ff833f;}
.qi_tests b {border-top-color: #ff833f; border-bottom-color: #ffc73f;}
.qi_air   b {border-top-color: #ff833f; border-bottom-color: #00609a;}
.qi_informer .qiic_0 {border-bottom-color: #fff;}

.qii_caption b {float: left; display: block; width: 1px; height: 1px; overflow: hidden; border-style: solid; background-color: #fff;}
.qiic_0 {border-width: 8px 0 21px;}
.qiic_1 {border-width: 7px 0 22px;}
.qiic_2 {border-width: 6px 0 23px;}
.qiic_3 {border-width: 5px 0 24px;}
.qiic_4 {border-width: 4px 0 25px;}
.qiic_5 {border-width: 3px 0 26px;}
.qiic_6 {border-width: 2px 0 27px;}
.qiic_7 {border-width: 1px 0 28px;}
.qiic_8 {border-width: 0px 0 29px;}

.qi_photo .qii_caption {background-color: #3c507a;}
.qi_video .qii_caption {background-color: #02b2ee;}
.qi_love  .qii_caption {background-color: #ff69b0;}
.qi_humor .qii_caption {background-color: #ff833f;}
.qi_tests .qii_caption {background-color: #ffc73f;}
.qi_air   .qii_caption {background-color: #00609a;}
.qii_caption h1 {float: left; padding-left: 10px; height: 30px;}
.qii_caption h1 a {color: #fff; text-decoration: underline;}
.qii_caption h1 a:hover {text-decoration: none;}

.qii_content {margin: 0 auto; padding-top: 10px; overflow: hidden; height: 170px; border-left: #d7d7d7 solid 1px; text-align: center;}
.qii_content .qiic_picture {margin: 0 auto 3px; width: 120px; height: 90px;}
.qii_content p {margin: 0 0 10px 0;}
.qii_content p a span {display: block; text-decoration: underline;}
.qii_content p a:hover span {text-decoration: none;}

/* photo */
.qi_photo p a {color: #000;}
.qi_photo .qiic_picture {height: 120px;}

/* video */
.qi_video p a {color: #000;}
.qiic_categories {margin: 0 auto 5px; width: 170px; font: normal 9px/12px Tahoma,Arial,sans-serif; text-transform: uppercase;}
.qiic_categories div {width: 75px;}
.qiic_categories .qiicc_pipe {margin: 0 5px; width: auto;}

/* love */
.qi_love .qil_male {color: #000;}
.qi_love .qil_female {color: #ff69b0;}
.qi_love select {margin: 0; padding: 0;}
.qi_love .qiic_who  {width: 60px;}
.qi_love .qiic_whom {width: 75px;}
.qi_love select,
.qi_love option {font: normal 11px/11px Arial; text-align: center;}
.qi_love .qiic_submit {border: none; background: none; font-size: 11px; color: #027cb2; text-decoration: underline; cursor: pointer;}

/* humor */
.qi_humor .qii_content {padding-left: 5px; padding-right: 5px;}
.qi_humor .qiic_mini {margin: 0 auto; padding: 0 0 0 3px; width: 126px; height: 43px; overflow: hidden;}
.qi_humor .qiic_mini img {margin: 0 3px 0 0; width: 56px; height: 40px;}

/* tests */
.qi_tests form {padding-left: 5px; padding-right: 5px;}
.qi_tests form:first-letter {text-transform: capitalize;}
.qi_tests p {margin-bottom: 5px; white-space: nowrap; overflow: hidden;}
.qi_tests p .q_fade_out {position: absolute; display: block; top: 0; right: -1px; width: 30px; height: 100%;}
.qi_tests p a {color: #000; text-decoration: underline;}
.qi_tests ul {margin: 0 5px; line-height: 13px;}
.qi_tests li {margin: 7px 0;}
.qi_tests li input {float: left; margin-top: 1px; vertical-align: middle;}
.qi_tests p input {display: block; margin: 0 auto;}
.qi_tests span {display: block; padding-left: 24px;}

/* airport */
.qi_air {text-align: center;}


/* horo */
.q_horo {padding-left: 10px; width: 28%; background: transparent 110px top no-repeat;}

.qh_aries       {background-image: url(../i/index/horo/aries.png);}
.qh_taurus      {background-image: url(../i/index/horo/taurus.png);}
.qh_gemini      {background-image: url(../i/index/horo/gemini.png);}
.qh_cancer      {background-image: url(../i/index/horo/cancer.png);}
.qh_leo         {background-image: url(../i/index/horo/leo.png);}
.qh_virgo       {background-image: url(../i/index/horo/virgo.png);}
.qh_libra       {background-image: url(../i/index/horo/libra.png);}
.qh_scorpio     {background-image: url(../i/index/horo/scorpio.png);}
.qh_sagittarius {background-image: url(../i/index/horo/sagittarius.png);}
.qh_capricorn   {background-image: url(../i/index/horo/capricorn.png);}
.qh_aquarius    {background-image: url(../i/index/horo/aquarius.png);}
.qh_pisces      {background-image: url(../i/index/horo/pisces.png);}

.q_horo img {float: right;}
.q_horo select {margin: 5px 0; width: 90px;}
.q_horo select,
.q_horo option {font: normal 12px/16px Arial;}
.q_horo p {margin: 10px 0; font-size: 11px;}
.q_horo h2 a,
.q_horo h2 a:hover {color: #000;}
.q_horo h2 a:hover {text-decoration: underline;}


/* cards */
.q_cards {height: 200px; overflow: hidden;}
.q_cards h3 {margin-bottom: 5px;}
.q_cards h2 a,
.q_cards h2 a:hover {color: #000;}
.q_cards h2 a:hover {text-decoration: underline;}


.qc_normal {margin-right: 10px; width: 55%; border-spacing: 0;}
.qc_normal h3 {margin-left: auto; margin-right: auto; width: 98px;}
.qc_normal h3,
.qc_normal h3 a {color: #02b2ee;}
.qc_normal table {width: 100%; border-spacing: 0;}
.qc_normal td {padding: 0 3px; width: 1%; vertical-align: top;}
.qc_normal a {color: #000;}
.qc_normal img {margin: 0 auto 5px; width: 98px; height: 98px;}
.qc_normal a span {display: block; text-decoration: underline;}
.qc_normal a:hover span {text-decoration: none;}

.qc_small {margin-left: 55%; padding: 0 10px 0 15px; height: 170px; border-right: #d7d7d7 solid 1px;}
.qc_small .qcs_header {height: 19px; overflow: hidden;}
.qc_small .qcs_header h3 {display: inline-block; padding-left: 2px; width: 130px; color: #939393;}
.qc_small .qcs_header h3 a {color: #02b2ee;}
.qc_small .qcs_header div {display: inline-block; margin: 0 3px; width: 60px;}
.qcs_pics {height: 134px; overflow: hidden;}
.qcs_pics img {display: inline-block; margin: 3px; width: 60px; height: 60px;}


/* radio */
.q_radio {position:relative; top:-32px; padding: 0 10px 0 0; height: 175px; overflow: hidden; text-align: center; border-right: #d7d7d7 solid 1px; /*background-color: #eee;*/}
.q_radio h2 {position: relative; display: block; margin-bottom: 7px; overflow: hidden;}
.q_radio h2 a {text-decoration: underline; white-space: nowrap; outline: none;}
.q_radio h2 .q_fade_out {position: absolute; right: 0; top: 0; display: block; width: 30px; height: 100%;}

.q_radio h2 a,
.q_radio h2 span,
.q_radio .qr_logo,
.q_radio .qr_now {display: inline-block; width: 130px;}

.q_radio .qrn_button {
	display: inline-block; padding: 3px 12px; height: 14px;
	font: normal 12px/12px Tahoma, Arial; text-decoration: none;
	-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3); box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.q_radio .qr_logo {padding-bottom: 5px;}
.q_radio .qr_logo .qrn_link {display: inline-block; padding: 8px; width: 100px; border-radius: 60px; border: #d6d6d6 solid 1px; background-color: #fff;}
.q_radio .qr_logo .qrn_link img {width: 100px; height: 100px; border-radius: 50px;}
.q_radio .qr_logo .qrn_button {margin-top: 4px; color: #fff; background-color: #ff2471; border: none;}

.q_radio .qr_now h3 {color: #02b2ee;}
.q_radio .qr_now .qrnp_artist {font-weight: bold;}
.q_radio .qr_now .qrn_button {
	margin-top: 15px; padding-left: 30px; padding-right: 15px;
	color: #333;
	background: #fff url(../i/index/radio/headphones.gif) 10px top no-repeat; border: none;
	//border: #eee solid 1px\0;
	border: #eee solid 1px\0;
}
.q_radio .qr_now .qrn_button:hover {color: #fff; background-color: #ff2471; background-position: 10px bottom;}



/* poll */
.q_darkbox {position: fixed; top: 0; left: 0; z-index: 50; width: 100%; height: 100%; min-height: 100%; background-color: rgba(0,0,0,0.6);
	_position: absolute;
	//background: #000;
	background: #000\9;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	_top: expression(qwe = (document.documentElement.scrollTop || '0') + 'px');
}

.q_poll {position: fixed; top: 20%; left: 50%; margin-left: -170px; width: 340px; z-index: 50; color: #231f20; background-color: rgba(255,255,255,0.95);
	border: #03b0ef solid 4px;
	-moz-border-radius: 20px;
	     border-radius: 20px;
	//background-color: #fff;
	background-color: #fff\9;
	_position: absolute;
	_margin-top: 150px;
	_top: expression(qwe = (document.documentElement.scrollTop || '0') + 'px');
}
.q_poll .qp_header {margin-bottom: 10px; height: 35px; font: normal 16px/35px Tahoma,Arial,sans-serif; background-color: #eaf9fe;
	border-bottom: #03b0ef solid 1px;
	-moz-border-radius: 15px 15px 0 0;
	     border-radius: 15px 15px 0 0;
}
.q_poll p {margin-bottom: 10px; font: normal 13px/16px Tahoma,Arial,sans-serif;}

.q_poll .qp_splitter {margin: 15px 0; height: 1px; overflow: hidden; background-color: #d2d3d5;}

.q_poll .qp_gender {width: 140px; height: 25px; color: #fff; font: normal 16px/25px Tahoma,Arial,sans-serif; border: none; background-color: #c9cacb; cursor: pointer;
	//cursor: hand;
	-moz-border-radius: 15px;
	     border-radius: 15px;
}
.q_poll .qp_gender_male {background-color: #42c3f3;}
.q_poll .qp_gender_female {background-color: #ec008c;}

.q_poll .qp_submit {margin-bottom: 20px; width: 120px; height: 22px; color: #fff; font: normal 13px/22px Tahoma,Arial,sans-serif; border: none; background-color: #a6ce39;
	-moz-border-radius: 5px;
	     border-radius: 5px;
	-webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #a6ce39;
	   -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #a6ce39;
	     -o-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #a6ce39;
	        box-shadow: 0 0 0 1px #fff, 0 0 0 2px #a6ce39;
}
.qip_hidden_selects select {
	_visibility: hidden;
}
.qip_hidden_selects .qp_form select {
	_visibility: visible;
}



/* firefox fixes */
@-moz-document url-prefix()
{
	.q_login_form .qlf_submit {padding-bottom: 0.1em;}
	.qt_2 {margin-left: 103.8%;}
	.qt_3 {margin-left: -105.5%; width: 207.5%;}
}

/* Рекламные информеры (Недвижимость, Скидки) */
.q-realty-market {
	width:100%;
	padding:0;
	height:185px;
	}
.q-realty-market__wrap {
	padding:0 20px;
	}

/* Недвижимость */
.q-realty {
	font-size:90%;
	height:140px;
	overflow: hidden;
	}
.q-realty-title a{
	color:#000;
	}
.q-realty__title {
	font-size:100%;
	font-weight:600;
	position:relative;
	display:block;
	overflow:hidden;
	width:100%;
	line-height:1.5;
	white-space:nowrap;
	margin-bottom:0.5em;
	}
.q-realty .q_fade_out {
	position:absolute;
	right:0;
	bottom:0;
	width:30px;
	height:1.5em;
	}
.q-realty .q-realty__title:first-letter {
	text-transform:uppercase;
	}
.q-realty p {
	margin-bottom:0.3em;
	}
.q-realty p a {
	color: #000;
	text-decoration: none;
	}
.q-realty__list {
	text-align:center;
	}
.q-realty__item {
	float:left;
	width:48%;
	min-width:195px;
	margin:0 1% 4em 0;
	vertical-align:top;
	text-align:left;
	height:100%;
	}
.q-realty__img {
	float:left;
	margin-right:1em;
	}

.q-realty__content {
	overflow:hidden;
	line-height:1.3;
	}

/* Скидки */
.q-disc {
	font:100% Tahoma,sans-serif;
	overflow:hidden;
	}
.q-disc-title a{
	color:#000;
	}
.q-disc__list {
	width:100%;
	text-align:center;
	}
.q-disc__item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin:0 1em 4em 0;
	width:46%;
	//float:left;
	}
.q-disc__img {
	position: relative;
	text-align:center;
	width:170px;
	height:70px;
	overflow: hidden;
	}
.q-disc__img a img{
	width:170px;
	}
.q-disc__title {
	font-weight: normal;
	font-size: 11px;
	display:block;
	text-align: center;
	width:170px;
	word-wrap:break-word;
 	}
a#q_disc_title{
	text-decoration:underline;
}
.q-disc_percent{
	position: absolute;
	top:0px;
	right:0px;
	width: 45px;
	height: 45px;
	background:transparent url(../i/discount.png);
	margin: 2px 2px 0 0;
}
.q-disc_percent span{
	position:relative;
	color: #fff;
	font-family:Tahoma, sans-serif;
	font-size: 14px;
	text-align:center;
	top: 11px;
	width: 100%;
}
/* Конец рекламных информеров */

.qip_box {
	padding-left:37px;
	}
	.q_aside_projects {
		position:relative;
		z-index:1;
		left:-17px;
		float:left;
		overflow:hidden;
		width:24px;
		margin-right:-200%;
		}
	.q_aside_projects_hover {
		width:auto;
		-webkit-box-shadow: 1px 0 4px #999;
		-moz-box-shadow: 1px 0 4px #999;
		-ms-box-shadow: 1px 0 4px #999;
		box-shadow: 1px 0 4px #999;
		}
	.q_rowspan {
		float:left;
		width:100%;
		}
.q_aside_projects__list {
	background:#F0F0F0;
	background:rgba(240, 240, 240, 0.9);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#90F0F0F0', EndColorStr='#90F0F0F0') progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#90F0F0F0', EndColorStr='#90F0F0F0')";
	}
	.q_aside_projects__list li{
		height:24px;
		padding:0 2em 0 32px;
		line-height:24px;
		border-bottom:1px solid #fff;
		}
	.q_aside_projects__list li:hover {
		background-color:#fff;
		}
	.q_aside_projects__list a {
		color:#000;
		}
.q_aside_project_icon{
	position:absolute;
	display:block;
	width:24px;
	height:24px;
	margin-left:-32px;
	background-image:url(../i/index/projects_aside.png);
	background-position:0 0;
	background-repeat:no-repeat;
	background-color:#a7a7a7;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon:BEFORE {
		position:absolute;
		top:9px;
		right:-4px;
		margin-ri:-4px;
		z-index:10;
		display:block;
		content:'';
		line-height:0;
		font-size:0;
		border:1px solid;
		border-top-color:transparent;
		border-bottom-color:transparent;
		border-right-color:transparent;
		border-width:4px 0 4px 4px;
		}
.q_aside_project_icon_mail{
	background-position:0 0;
	color:#64a4d9;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_mail {
		background-color:#64a4d9;
		}
.q_aside_project_icon_video {
	background-position:0 -24px;
	color:#a8a9ac;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_video {
		color:#666;
		background-color:#666;
		}
.q_aside_project_icon_love{
	background-position:0 -48px;
	color:#ff69b0;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_love {
		background-color:#ff69b0;
		}
.q_aside_project_icon_file{
	background-position:0 -72px;
	color:#a8a9ac;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_file {
		color:#666;
		background-color:#666;
		}
.q_aside_project_icon_foto {
	background-position:0 -96px;
	color:#4d5e80;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_foto {
		background-color:#4d5e80;
		}
.q_aside_project_icon_flink{
	background-position:0 -120px;
	color:#0093ba;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_flink {
		background-color:#0093ba;
		}
.q_aside_project_icon_oboi{
	background-position:0 -144px;
	color:#a3238f;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_oboi {
		background-color:#a3238f;
		}
.q_aside_project_icon_avatars{
	background-position:0 -168px;
	color:#00adef;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_avatars {
		background-color:#00adef;
		}
.q_aside_project_icon_5ballov{
	background-position:0 -192px;
	color:#2c3c8f;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_5ballov {
		background-color:#2c3c8f;
		}
.q_aside_project_icon_afisha{
	background-position:0 -216px;
	color:#e62d24;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_afisha {
		background-color:#e62d24;
		}
.q_aside_project_icon_mblogi{
	background-position:0 -240px;
	color:#a6ce39;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_mblogi {
		background-color:#a6ce39;
		}
.q_aside_project_icon_memori{
	background-position:0 -264px;
	color:#ee356c;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_memori {
		background-color:#ee356c;
		}
.q_aside_project_icon_horo {
	background-position:0 -288px;
	color:#ff5ff8;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_horo {
		background-color:#ff5ff8;
		}
.q_aside_project_icon_job{
	background-position:0 -312px;
	color:#5fc6c9;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_job {
		background-color:#5fc6c9;
		}
.q_aside_project_icon_history{
	background-position:0 -336px;
	color:#a67c52;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_history {
		background-color:#a67c52;
		}
.q_aside_project_icon_kards {
	background-position:0 -360px;
	color:#d32027;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_kards {
		background-color:#d32027;
		}
.q_aside_project_icon_aeterna {
	background-position:0 -384px;
	color:#ff9b00;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_aeterna {
		background-color:#ff9b00;
		}
.q_aside_project_icon_realty{
	background-position:0 -408px;
	color:#ed1c24;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_realty {
		background-color:#ed1c24;
		}
.q_aside_project_icon_hosting {
	background-position:0 -432px;
	color:#47a5ae;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_hosting {
		background-color:#47a5ae;
		}
.q_aside_project_icon_auto{
	background-position:0 -456px;
	color:#c62026;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_auto {
		background-color:#c62026;
		}
.q_aside_project_icon_ziza{
	background-position:0 -480px;
	color:#f58245;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_ziza {
		background-color:#f58245;
		}
.q_aside_project_icon_measure{
	background-position:0 -504px;
	color:#7570b3;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_measure {
		background-color:#7570b3;
		}
.q_aside_project_icon_ip{
	background-position:0 -528px;
	color:#55c5cf;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_ip {
		background-color:#55c5cf;
		}
.q_aside_project_icon_maps {
	background-position:0 -552px;
	color:#faa14a;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_maps {
		background-color:#faa14a;
		}
.q_aside_project_icon_sport{
	background-position:0 -576px;
	color:#1c8f45;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_sport {
		background-color:#1c8f45;
		}
.q_aside_project_icon_voip {
	background-position:0 -600px;
	color:#93d015;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_voip {
		background-color:#93d015;
		}
.q_aside_project_icon_fun{
	background-position:0 -624px;
	color:#54a175;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_fun {
		background-color:#54a175;
		}
.q_aside_project_icon_radio{
	background-position:0 -648px;
	color:#37c5d6;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_radio {
		background-color:#37c5d6;
		}
.q_aside_project_icon_news {
	background-position:0 -672px;
	color:#0b377a;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_news {
		background-color:#0b377a;
		}
.q_aside_project_icon_klever{
	background-position:0 -696px;
	color:#276023;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_klever {
		background-color:#276023;
		}
.q_aside_project_icon_search{
	background-position:0 -720px;
	color:#486998;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_search {
		background-color:#486998;
		}
.q_aside_project_icon_i{
	background-position:0 -744px;
	color:#0bb0ed;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_i {
		background-color:#0bb0ed;
		}
.q_aside_project_icon_stars{
	background-position:0 -768px;
	color:#ff69b0;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_stars {
		background-color:#ff69b0;
		}
.q_aside_project_icon_games{
	background-position:0 -792px;
	color:#f36822;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_games {
		background-color:#f26722;
		}
.q_aside_project_icon_pip{
	background-position:0 -816px;
	color:#a6ce39;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_pip {
		background-color:#a6ce39;
		}
.q_aside_project_icon_services{
	background-position:0 -840px;
	color:#231f20;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_services {
		background-color:#231f20;
		}
.q_aside_project_icon_b {
	background-position:0 -888px;
	color:#2e6eb6;
	}
	.q_aside_projects__list li:hover .q_aside_project_icon_b {
		background-color:#2e6eb6;
		}
.q_aside_project_icon_paint {
	background-position:0 -864px;
	color:#d32027;
	}
.q_aside_projects__list li:hover .q_aside_project_icon_paint {
		background-color:#d32027;
}
.q_aside_project_icon_skidki{
	background-position:0 -912px;
	color:#952546;
}
.q_aside_projects__list li:hover .q_aside_project_icon_skidki {
	background-color:#952546;
}
.q_aside_project_icon_how{
	background-position:0 -936px;
	color:#46d224;
}
.q_aside_projects__list li:hover .q_aside_project_icon_how {
	background-color:#46d224;
}
