.qip_center_column {margin-right: 261px;}

.qip_message {zoom: 1;}

.qt_city .qt_city_link {cursor: hand;}

.ql_message {display: none;}
.ql_message_showed {display: block;}

.ql_table {border-spacing: 0;}
.ql_table td {padding: 1px 2px;}
.ql_table input {padding: 1px 3px 3px 3px; height: 14px;}
.ql_table .qlt_login_submit {padding-top: 2px;}

.qs_submit {line-height: 20px;}

.q_info {width: 99%;}
.q_weather .qw_content {width: 230px;}
* html .q_maps .qm_icon span {margin-top: -32px; height: 64px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/index/maps.png', sizingMethod='scale');
	background-image: none;
}

.qn_caption {white-space: normal;}
.qn_tabulator i {right: -1px; background-image: url(../i/index/base64/news_corners.gif);}
.q_news_RU .qntc_UA,
.q_news_UA .qntc_RU {cursor: hand;}
.q_fade_out {
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/index/base64/fade.png', sizingMethod='scale');
	_background: none;
}
.qn_list {width: 37%;}

.q_projects .qp_link {display: block;}
.q_projects .qp_icon {margin: 0 -11px 5px 0; width: 53px; overflow: hidden;}
.q_projects .qp_bg {height: 504px; cursor: hand;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/index/projects.png', sizingMethod='');
	_background-image: none;
}
.qp_mail     .qp_bg {_margin-top:    0px;}
.qp_file     .qp_bg {_margin-top:  -42px;}
.qp_voip     .qp_bg {_margin-top:  -84px;}
.qp_aeterna  .qp_bg {_margin-top: -126px;}
.qp_5ballov  .qp_bg {_margin-top: -168px;}
.qp_auto     .qp_bg {_margin-top: -210px;}
.qp_sport    .qp_bg {_margin-top: -252px;}
.qp_stars    .qp_bg {_margin-top: -294px;}
.qp_games    .qp_bg {_margin-top: -336px;}
.qp_realty   .qp_bg {_margin-top: -378px;}
.qp_services .qp_bg {_margin-top: -420px;}

.qii_caption h1 {padding-left: 5px;}

.qi_photo {width: 19%;}
.qi_photo .qii_content {border: none;}

.qi_love .qiic_submit {cursor: hand;}

.qi_tests li input {float: none; margin-right: 5px; width: 13px; height: 13px;}
.qi_tests li span {display: inline; padding: 0;}

.q_horo {width: 26%;}

.qc_small .qcs_header h3,
.qc_small .qcs_header div {
	display:inline;
	zoom:1;
	}

.q_dloads li{
	zoom:expression(runtimeStyle.zoom = 1, insertBefore(createElement('m'), firstChild));
}

.q_dloads li m{
	position:absolute;
	left:0;
	zoom:expression(runtimeStyle.zoom = 1, innerHTML = '&#9660;');
}
.q-realty__item, .q-market__item  {
	display:inline;
}
.q_aside_projects__list {
	position:relative;
	padding:0;
	background:none;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#90F0F0F0', EndColorStr='#90F0F0F0')
	progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#90F0F0F0', EndColorStr='#90F0F0F0');
	zoom:1;
	}
.q_aside_project_icon {
	font-size:0;
	line-height:0;
	margin-top:-5px;
	}
.q_aside_project_icon {
	zoom:expression(runtimeStyle.zoom = 1, insertBefore(createElement('m'), firstChild));
}
.q_aside_project_icon m {
	position:absolute;
	top:9px;
	right:-9999px;
	z-index:10;
	display:block;
	line-height:0;
	font-size:0;
	border:1px solid;
	border-top-color:transparent;
	border-bottom-color:transparent;
	border-right-color:transparent;
	border-width:4px 0 4px 4px;
	}
.q_aside_projects__list li:hover m {
	right: -4px;
}
*html .q_aside_projects_hover {
	overflow:visible;
	width:0;
	}
.q_aside_projects__list li {
	white-space: nowrap;
	height:auto;
	}
.q-realty-market {
	position:relative;
	}

.qlh_para {
	width:220px;
	}
.qlh_para .q_fade_login {
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#20F0F0F0', EndColorStr='#F0F0F0');
	zoom:1;
	}
