html{
	width:100%;
	height:100%;	
}
a{
	outline:none;
}
body{
	background:transparent url("img/y2012/background_body.jpg") repeat 0 782px;
	width:100%;
	min-width:1000px;
	height:auto !important;
	height:100%;
	min-height:100%;	
}
.qip_head{
	border-bottom:none;
}
.qip_main_wrapper h2{
	font:bold 2em Tahoma, Arial, Helvetica, sans-serif;
	color:#d41820;
	margin-bottom:1em;
}
p{
	margin-bottom:1em ;
}
ul.mdash, ol, ul.disc{
	padding: 1em 0;
}

ul.mdash li:before {
	content: '\2014\a0';
}

ul.mdash li {
	text-indent: -1.3em;
	margin-left: 1.3em;
	margin-bottom: 1em;
}

ol {
	padding-left: 1.7em;
}
ol li{
	list-style: decimal outside;
}
.disc {
	padding-left:1.3em;

}
.disc li{
	list-style-type: disc;
}
.article p img{
	margin:0 2em 1em 0;
	float:left;
}
.article p img.right{
	margin:0 0 1em 2em;
	float:right;
}
.article img.center{
	display:block;
	margin: 0 auto 1em;
}
.article ul{
	margin:1em 0;
}
.article h3{
	clear:both;
}
h3{
	margin-bottom:1em;
	color:#D41820;
}
h4{
	margin:1.5em 0 1em;
}
.navigation-path{
	margin:0;
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
	color:#d41820;
	overflow:hidden;
	clear:both;
}
.navigation-path li{
	display:inline;
}
.navigation-path li b{
	color:black;
}
.navigation-path li a{
	color:#d41820;
}
.navigation-path li img{
	float:left;
	position:relative;
	margin-top:-2px;
}
.qip_footer{
	position:relative;
	z-index:2;
}
.qip_head, .qip_footer{
	background:white;
}
.q_logo{
	background-image:url("../i/logo/2012qip.png");
}
.qip2012-bottom-side-snow{
	width:1215px;
	height:226px;
	top:-46px;
	margin-left:-604px;
	position:relative;
	left:50%; 
	background:transparent url("img/y2012/bottom-side-snow.png");
	z-index:20;
}
.qip_main_wrapper .qip_foot_wrap{
	padding-top:0;
	height:41px;
}
.q2012_footer{
	width:100%;
	height:218px;
	margin-top:-118px;
	overflow:hidden;
}
.qip_footer{
	border-top:none;
	margin:-41px auto 0;
	padding:7px 20px 2px 20px;
	min-width:960px;
}
.qip2012-nav-list{
	margin:0 0 1em 0;
	color:#c6161d;
	width:100%;
	height:6em;
	text-align:center;
	overflow:hidden;
	position:relative;
}
.qip2012-nav-list dt{
	font:bold 1.25em 'Trebuchet MS',Arial,sans-serif;
	text-transform:uppercase;
	margin-left:2em;
	position:relative;
	display:-moz-inline-stack;
	display:inline-block;
}
.qip2012-nav-list dt:first-child{
	margin-left:0;
}
.qip2012-nav-list  dt.selected {
	z-index:3;
	cursor:auto;
}
.qip2012-nav-list dt.selected a.pseudo-link{
	color:#c6161d;
	text-decoration:none; 
}
.qip2012-nav-list dt.selected a.pseudo-link{
	background:url("img/y2012/nav-pointer.png") 50% 22px no-repeat;
	padding-bottom:11px;
	position:relative;
}
.qip2012-nav-list dt a{
	color:black;
}
.qip2012-nav-list dt.first{
	margin-left:0;
}
.qip2012-nav-list dd{
	display:none;
	float:right;
	width:100%;
	margin:2.75em 0 0 -100%;
	position:relative;
	z-index:2;
}
.qip2012-nav-list dd.selected{
	display:block;
}
.qip2012-nav-list dd{
	color:#c6161d;
	font:12px 'Trebuchet MS',Arial,sans-serif;
}
.qip2012-nav-list dd span, .qip2012-nav-list dd a{
	display:inline-block;
	margin:0 1.5em;
	white-space:nowrap;
}
.qip2012-nav-list dd a:hover{
	text-decoration:underline;
	color:#c6161d;
}
.teaser-list li{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:bottom;
	margin:0 14px 7px 0;
}
ul li.teaser_li_right{
	margin:0 0 7px 0;
}
.clear {
	clear: both;
	font-size: 0;
	height: 1px;
	overflow: hidden;
}
.qip2012-informers{
	margin-top:2em;
}
.qip2012-informers h2{
	font:normal 22px/normal Tahoma, Arial, sans-serif;
	margin:4px 4px 8px 4px;
	color:#2091cc;
	text-align:center; 
}
.qip2012-informers .informer{
	float:left;
	width:182px;
	margin-left:12px;
}
.qip2012-informers .first{
	margin-left:0;
}
.qip2012-informers .informer .qii_content{
	height:181px;
	width:162px;
	background:url("img/y2012/box_down.jpg") no-repeat;
	padding:25px 10px 35px 10px;
	text-align:center;
	overflow:hidden;
}
.qip2012-informers .informer img{
	border:1px solid white;
	display:block;
	margin:0 auto 0.5em;
}
.qip2012-informers .qiic_mini img{
	display:inline;
	margin:3px 3px 0 0;
}
.qip2012-informers .qi_love select{
	width:7em;
	font-size:0.9em;
}
.qip2012-informers .qi_love .qiic_submit{
	background:none;
	border:none;
	color:#027CB2;
	cursor:pointer;
	margin-top:0.2em;
}
.qip2012-informers .qi_love h3{
	margin-bottom:0;
}
.qip2012-informers .qi_love p, .qip2012-informers .qi_love h3, .qip2012-informers .qi_humor span.title{
	height:1.1em;
	overflow:hidden;
	display:block;
}

.qip2012-informers .qi_photo p{
	margin-top: 0em;
}
.qip2012-informers .qi_video img, .qip2012-informers .qi_love img, .qip2012-informers .qi_video img.qiic_picture, .qip2012-informers .qi_humor img.qiic_picture{
	width:120px;
	height:90px;
}
.qip2012-informers .qiic_mini img{
	width:56px;
	height:40px;
}
.qip2012-informers .qi_tests .q_alm{
	margin-top:0.5em;
}
.qip2012-informers .qi_tests .q_alm li{
	margin:7px 0;
}
.qip2012-informers .qi_tests .q_alm input{
	float:left;
	vertical-align:middle;
}
.qip2012-informers .qi_tests .q_alm li span{
	display:block;
	padding-left:24px;
}
.xmas-kards a{
	display:-moz-inline-stack;
	display:inline-block;
	color:#c6161d;
	padding: 10px 0;
}
.xmas-kards a img{
	display:block;
	border:1px solid #a1d7fc;
	margin-bottom:0.2em;
	margin-right: 10px;
}
ul.articles-list li{
	padding-left:180px;
	position:relative;
	clear:both;
	margin-bottom:1em;
}
ul.articles-list li img{
	position:relative;
	left:-180px;
	float:left;
	margin-right:-100%;
	width:160px;
}
.aside-menu{
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	color:#f2e385;
	font:1.2em Tahoma, Arial,sans-serif;
	padding:1em;
}
.aside-menu li{
	background:url(img/y2012/aside-menu-bullet.png) 0 0 no-repeat;
	padding:0 0 0.5em 25px;
}
.aside-menu li a{
	color:white;
}
.rbc-news-2012{
	width:220px;
}
.rbc-news-2012 img{
	width:48px;
	height:48px;
	float:left;
	position:relative;
	margin-right:-100%;
	border: none;
}
.rbc-news-2012 h3{
	font:bold 14px/normal "MS Sans Serif", Geneva, sans-serif;
	margin-bottom:0.5em;
}
.rbc-news-2012 h3 a{
	color:#255fcb;
}
.rbc-news-2012 ul a{
	text-decoration:none;
	color:black;
	margin: 0;
	padding: 0px;
}
.rbc-news-2012 span{
	text-decoration:underline;
}
.rbc-news-2012 ul li{
	clear:both;
	overflow:hidden;
	padding: 5px 0;
}
.music-content-table{
	width:100%;
	border:1px solid #dfdfdf;
}
.music-content-table td{
	padding:0.7em;
	border-right:1px solid #ccc;
}
.music-content-table td.none{
	border:none;
	text-align:center;
}
.music-content-table tr.odd td{
	background:#F5F8FB;
}
.music-content-table a{
	color:#d41820;
}
.music-content-table thead td{
	color:#2a2a2a;
	border-color:#bbbbbb;
	font:bold 1em Arial,sans-serif;
	background: #E2E2E2; /* for non-css3 browsers */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E2E2E2', endColorstr='#C7C8C7'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#E2E2E2), to(#C7C8C7)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #E2E2E2,  #C7C8C7); /* for firefox 3.6+ */
	text-shadow: 1px 1px 0px white;

}
.qip2012-count-down{
	background:url(img/y2012/countdown-back.png) 0 0 no-repeat;
	width:398px;
	height:62px;
	position:absolute;
	top:100px;
	left:50%;
	padding:69px 0 0 42px;
	margin-left:-270px;
}
.qip2012-congratulation{
	background:url(img/y2012/count-down-end.png) 0 0 no-repeat;
	width:352px;
	height:145px;
	position:absolute;
	top:30px;
	left:50%;
	padding:0;
	margin-left:-270px;
}
.qip2012-count-down span.section{
	background:url(img/y2012/coundown-section-back.png) 0 0 no-repeat;
	top:-128px;
	display:block;
	float:left;
	position:relative;
	width:50px;
	height:48px;
	margin-right:31px;
	overflow:hidden;
}
.qip2012-count-down span.section.section_sec{
	background:url(img/y2012/coundown-section-backsec.png) 0 0 no-repeat;
}
.qip2012-count-down span.section span{
	font:32px/32px Trebuchet MS, sans-serif;
	position:absolute;
	text-align:center;
	color: #fff;
	margin-top:7px;
	left:0;
	display:block;
	width:100%;
}
.qip2012-count-down span.section.section_sec span{
	color:#763907;
}
.qs_tfield {
    font-weight:normal;
}
.q_script_elka{
	width:70%;
	position:relative;
	display:block;
}
.qs_script_clipboard .qs_clipboard_object{
	position:absolute;
	top:5px;
	right:-24px;
	float:none;
}
.tree{
	width:500px;
	padding:100px 100px 150px;
	margin:0 auto;
	position:relative;
	float:left;
}
.star{
	position:absolute;
	background:url(img/y2012/star.png) 0 0 no-repeat;
	width:130px;
	height:122px;
	top:3px;
	left:282px;
	z-index:1001;
}
.top-tree{
	background:url(img/y2012/top-tree.png) 0 0 no-repeat;
	margin:0 auto -40px;
	width:383px;
	height:335px;
	position:relative;
	z-index:1000;
}
.clone-tree{
	width:580px;
	height:256px;
	background:url(img/y2012/clone-tree.png) 0 0 no-repeat;
	margin:0 auto -130px -42px;
	position:relative;
}
.bottom-tree{
	width:780px;
	height:537px;
	background:url(img/y2012/bottom-tree.png) 0 0 no-repeat;
	margin:22px 0 -130px -160px;
	z-index:1;
}
.podarok{
	top:500px;
	left:500px;
}

.gift, .card-thumb{
	width:90px;
	height:90px;
	display:block;
}
.gift{
	background-image:url(img/y2012/gifts_sprite.png);
}
.card-thumb{
	background-image:url(img/y2012/card-thumbs-sprite.png);
}
.tree .gift{
	position:absolute;
	top:3px;
	left:282px;
	z-index:1001;
}
.card-thumb3{
	background-position: 0 0;
}
.card-thumb4{
	background-position: 90px 0;
}
.card-thumb1{
	background-position: 180px 0;
}
.card-thumb2{
	background-position: 270px 0;
}
.gift0{
 	background-position: 0 0;
}

.gift1{
 	background-position: 90px 0;
}

.gift2{
 	background-position: 180px 0;
}

.gift3{
 	background-position: 270px 0;
}

.gift4{
 	background-position: 360px 0;
}

.gift5{
 	background-position: 450px 0;
}

.gift6{
 	background-position: 540px 0;
}

.gift7{
 	background-position: 630px 0;
}

.gift8{
 	background-position: 720px 0;
}

.gift9{
 	background-position: 810px 0;
}

.gift10{
 	background-position: 900px 0;
}

.gift11{
 	background-position: 990px 0;
}

.gift12{
 	background-position: 1080px 0;
}

.gift13{
 	background-position: 1170px 0;
}

.gift14{
 	background-position: 1260px 0;
}

.gift15{
 	background-position: 1350px 0;
}

.gift div {
	font-weight:bold;

	margin-top: 90px;
	text-align: center;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
	background:none;
	background:rgba(255,255,255,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50ffffff, endColorstr=#50ffffff);
	position:relative;
}
.block-gifts{
	position:absolute;
	left:40px;
	width:240px;
	text-align:center;
	margin-top:16em;
}
.block-gifts, .block-add-wish{
	background:#e8f2fe;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	padding:0.5em 0 1em;
}
.block-gifts h4, .block-add-wish h4{
	color:#3f6ca3;
	margin-bottom:1em;
}
.block-add-wish h4{
	margin-bottom:0.2em;
}
.block-gifts label, .block-add-wish label{
	display:-moz-inline-stack;
	display:inline-block;
	margin-bottom:1em;
}
.block-gifts i.gift{
	margin:0.2em 1em;
	background-color:white;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}
.block-add-wish{
	float:left;
	padding:1em 1.5em 1em 1em;
	margin-top: 0.1em;
	width:600px;
}
.block-add-wish label{
	text-align:center;
	margin-bottom:0;
}
.block-add-wish input.name-fld, .block-add-wish textarea{
	display:block;
	width:100%;
	margin-bottom:1em;
}
.block-add-wish textarea{
	height:100px;
	font:1em Arial,sans-serif;
	margin-bottom:0;
}
.block-add-wish .cards-flds{
	margin:1em 0;
	text-align:center;
}

.darkBoxPopup {
	position: absolute;
	width: 645px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	left: 30%;
	text-align: center;
	z-index:1003;
}
.darkBoxPopupInner {
	background:white;
	padding:10px;
	margin:10px;
	overflow:auto;
	height:405px;
}
.darkBoxPopup img{
	margin:10px;
}
.darkBoxPopupClose {
	position:absolute;
	width:30px;
	height:30px;
	cursor:pointer;
	background:url("img/dload/button.png") 0 0 no-repeat;
	z-index:1004;
	display:block;
	right:-15px;
	top:-10px;
}

.cards{
	width: 604px;
	height:400px;
	background-repeat: no-repeat;
	word-wrap: break-word;
}

.cards p{
	font: italic bold 16px Arial, Helvetica, sans-serif;
}

.cards .type1{
	padding: 9em 1em 0 10em;
}

.cards .type2{
	padding: 10em 9em 0;
}

.cards .type3{
	padding: 13em 24em 0 0;
}

.cards .type4{
	padding: 12em 3em 0;
}
.video-list li{
	display:-moz-inline-stack;
	display:inline-block;
	width:48%;
	margin-bottom:1em;
	vertical-align:top;
}
.video-list li img{
	float:left;
	margin:0 1em 1em 0;
	width:100px;
	height:75px;
}
.video-list li p{
	overflow:hidden;
}
.video-list p span{
	display:block;
	margin-bottom:0.5em;
}
.video-list p a{
	font:bold 1.2em Arial,sans-serif;

}
.horoscope-common a{
	background-image:url(img/y2012/zodiac_s.png);
	background-repeat:no-repeat;
	background-position:50% 0;
}
.horoscope-china a{
	background-image:url(img/y2012/zodiac_china.png);
	background-repeat:no-repeat;
	background-position:50% 0;
}
.horoscope-list, .personal-horo, .anekdots-sections{
	background:#03b0ef;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
}
.horoscope-list{
	float:right;
	margin:0 0 1em 1em;
	width:150px;
	padding:10px 0 10px 10px;
}
.horoscope-list a{
	color:white;
	display:block;
	padding-top:60px;
	width:66px;
	text-align:center;
}
.horoscope-list li{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	margin-bottom:1em;
}
.horoscope-common li.item0 a{
	background-position:50% 0;
}
.horoscope-common li.item1 a{
	background-position:50% -150px;
}
.horoscope-common li.item2 a{
	background-position:50% -300px;
}
.horoscope-common li.item3 a{
	background-position:50% -375px;
}
.horoscope-common li.item4 a{
	background-position:50% -525px;
}
.horoscope-common li.item5 a{
	background-position:50% -600px;
}
.horoscope-common li.item6 a{
	background-position:50% -675px;
}
.horoscope-common li.item7 a{
	background-position:50% -750px;
}
.horoscope-common li.item8 a{
	background-position:50% -825px;
}
.horoscope-common li.item9 a{
	background-position:50% -75px;
}
.horoscope-common li.item10 a{
	background-position:50% -225px;
}
.horoscope-common li.item11 a{
	background-position:50% -450px;
}
.horoscope-china li.item0 a{
	background-position:50% 0;
}
.horoscope-china li.item1 a{
	background-position:50% -675px;
}
.horoscope-china li.item2 a{
	background-position:50% -825px;
}
.horoscope-china li.item3 a{
	background-position:50% -450px;
}
.horoscope-china li.item4 a{
	background-position:50% -225px;
}
.horoscope-china li.item5 a{
	background-position:50% -375px;
}
.horoscope-china li.item6 a{
	background-position:50% -525px;
}
.horoscope-china li.item7 a{
	background-position:50% -75px;
}
.horoscope-china li.item8 a{
	background-position:50% -150px;
}
.horoscope-china li.item9 a{
	background-position:50% -600px;
}
.horoscope-china li.item10 a{
	background-position:50% -750px;
}
.horoscope-china li.item11 a{
	background-position:50% -300px;
}
.personal-horo{
	padding:0.8em;
	margin-top:2em;
	color:white;
	background-image:url(img/y2012/personal-horo-back.png);
	background-position:100% 0;
	background-repeat:no-repeat;
}
.personal-horo h3{
	font:1.5em Arial,sans-serif;
	color:white;
	margin-bottom:0.5em;
}
.personal-horo select{
	margin-right:2em;
}
.personal-horo label{
	margin-right:0.5em;
}
.games-list li{
	display:-moz-inline-stack;
	display:inline-block;
	width:45%;
	padding-right:4%;
	vertical-align:top;
	margin-bottom:1em;
}
.games-list li img{
	float:left;
	margin:0 1em 1em 0;
}
.games-list li p{
	margin-bottom:0.5em;
}
.games-list .games-item-text{
	overflow:hidden;
}
.games-list h3 a{
	color:#D41820;
}
.games-big-link{
	display:inline-block;
	vertical-align:baseline;
	background: #6EAF41; /* for non-css3 browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjZGY1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MDdmMmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #8cdf53 0%, #507f2f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cdf53), color-stop(100%,#507f2f));
	background: -webkit-linear-gradient(top,  #8cdf53 0%,#507f2f 100%);
	background: -o-linear-gradient(top,  #8cdf53 0%,#507f2f 100%);
	background: -ms-linear-gradient(top,  #8cdf53 0%,#507f2f 100%);
	background: linear-gradient(top,  #8cdf53 0%,#507f2f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cdf53', endColorstr='#507f2f',GradientType=0 );
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	border:1px solid white;
	-moz-box-shadow:0px 2px 4px #ccc;
	-webkit-box-shadow:0px 2px 4px #ccc;
	-o-box-shadow:0px 2px 4px #ccc;
	box-shadow:0px 2px 4px #ccc;
	line-height:30px;
	padding:0 1em;
	text-decoration:none;
	color:white;
	font-size:20px;
	margin-left:1em;
}
.games-big-link:hover{
	color:white;
}
.anekdots-sections{
	padding:1em;
	float:right;
	margin:0 0 1em 2em;
	line-height:20px;
}
.anekdots-sections a{
	color:white;
}
.aside-promo-blocks{
	padding-top:1.4em;
}
.aside-promo-blocks a{
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	font-size:1.35em;
	color:white;
	background:#b58901;
	margin-bottom:1em;
	padding:6px 0.3em 0;
	text-decoration:none;
	display:block;
}
.aside-promo-blocks .icon i{
	background-image:url(img/y2012/aside-promo-blocks-sprite.png);
	position:absolute;
	width:72px;
	height:220px;
	top:0;
	left:0;
}
.aside-promo-blocks .icon{
	position:relative;
	width:72px;
	height:52px;
	overflow:hidden;
	float:left;
	display:block;
	margin:0 0.6em -8px 0em;
	top:-2px;
}
.aside-promo-blocks .fireworks .icon i{
	top:-52px;
}
.aside-promo-blocks .tea .icon i{
	top:-104px;
}
.aside-promo-blocks .fireworks{
	background:#074b92;
}
.aside-promo-blocks .tea{
	background:#01b516;
}
.qip2012-nav-list span.tea-mantic{
	margin-left:0px;
}
.aside-promo-blocks .gold-rus{
	background:#c10c14;
}
.aside-promo-blocks .gold-rus .icon i{
	top:-156px;
}
.aside-promo-blocks .gold-rus .icon{
	height:66px;
	margin:-12px 0.6em -12px 0;
}
.aside-promo-blocks .millioners-club{
	background:#ff6600 url(img/y2012/club-back.gif);
	padding-left:0.1em;
	padding-right:0;
}
.aside-promo-blocks .millioners-club .icon{
	background-image:url(img/y2012/millionersClub.png);
	position:relative;
	width:95px;
	height:40px;
	overflow:hidden;
	float:left;
	display:block;
	margin:4px 0.3em 0px 0px;
}
.aside-promo-blocks .white-charcoal{
	background:#0052be url(img/y2012/charcoal-back.gif);
}
.aside-promo-blocks .white-charcoal .icon{
	background-image:url(img/y2012/whiteCharcoal.png);
	position:relative;
	width:83px;
	height:43px;
	overflow:hidden;
	float:left;
	display:block;
	margin:4px 0.3em 0px 0px;
}
.tea-mantic i.icon{
	background-image:url(img/y2012/tea-mantic-back.png);
	background-position:0 0;
	background-repeat:no-repeat;
	display:block;
	position:relative;
	width:40px;
	height:23px;
	overflow:hidden;
	float:left;
	display:block;

}
a.ahmat-tea, .aside-menu a.ahmat-tea{
	text-transform:uppercase;
	color:#01B516;
}
.qip2012-nav-list .tea-mantic i.icon{
	background-color:white;
}
.aside-rand-articles-list{
	background:#E0E9FF; /* for non-css3 browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZmM4ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #afc8ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#afc8ff));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#afc8ff 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#afc8ff 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#afc8ff 100%);
	background: linear-gradient(top,  #ffffff 0%,#afc8ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#afc8ff',GradientType=0 );
	position:relative;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border:1px solid #AFC8FF;
	padding:1em;
	margin-bottom:0em;
	margin-top: 10px;
}
.aside-rand-articles-list h4{
	margin-top:0;
	font-size:1em;
}
.aside-rand-articles-list_biglion{
	background:#aaf3ff; 
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYWUzZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #aae3ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#aae3ff));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#aae3ff 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#aae3ff 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#aae3ff 100%);
	background: linear-gradient(top,  #ffffff 0%,#aae3ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aae3ff',GradientType=0 );
	position:relative;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border:1px solid #aae3ff;
	padding:1em;
	margin-bottom:0em;
	margin-top: 10px;
}
.aside-rand-articles-list_biglion h4{
	margin-top:0;
	font-size:1em;
	padding:5px 5px 0 0;
}
.aside-rand-articles-list_sico{
	background:#fbf5a8; /* for non-css3 browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmU1YTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbe5a8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbe5a8));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbe5a8 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#fbe5a8 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbe5a8 100%);
	background: linear-gradient(top,  #ffffff 0%,#fbe5a8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbe5a8',GradientType=0 );
	position:relative;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border:1px solid #fbe5a8;
	padding:1em;
	margin-bottom:0em;
	margin-top: 10px;
}
.aside-rand-articles-list_sico h4{
	margin-top:0;
	font-size:1em;
	padding:5px 5px 0 0;
}
/* 2012 Rebrand */

.qip2012-header{
	background: transparent url("img/y2012/background_header.jpg") no-repeat 50% 0;
	min-height:781px;
	min-width:1000px;
	overflow:hidden;
	display:block;
	position:relative;
}
.qip_left{
	height:50px;
}
.qip2012-wrap{
	margin:45px 0 0 0;
	width:1048px;
	position:relative;
	left:50%;
	margin-left:-524px;
	padding-bottom:46px;
	background:transparent url("img/y2012/background_center.png") 0 0 repeat-y;
	z-index:10;
}
.qip2012-nav{
	left:0px;
	margin:0 auto;
}
.qip2012-aside{
	float:right;
	margin-right:15px;
	width:233px;
}
.qip2012-aside.content_main{
	width:290px;
	height: 540px;
}
.xmas-kards{
	background:transparent url("img/y2012/xmas-kards-back.png") 0 0 no-repeat;
	width:290px;
	height:550px;
	margin-top:-13px;
	padding: 85px 0 0 37px;
}
.qip2012-content.content_main{
	width:705px;
	margin-left:35px;
}
.qip2012-content.content_art{
	margin-left:330px;
	width:720px;
	overflow:hidden;
}
.qip2012-content-wrap{
	width:100%;
}
.aside-menu{
	background: #d41820; /* for non-css3 browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlNmMxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMDAwMDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fe6c1d 0%, #b00008 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe6c1d), color-stop(100%,#b00008));
	background: -webkit-linear-gradient(top,  #fe6c1d 0%,#b00008 100%);
	background: -o-linear-gradient(top,  #fe6c1d 0%,#b00008 100%);
	background: -ms-linear-gradient(top,  #fe6c1d 0%,#b00008 100%);
	background: linear-gradient(top,  #fe6c1d 0%,#b00008 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6c1d', endColorstr='#b00008',GradientType=0 );
}
.qip2012-informers{
	margin:30px auto 0;
	width:965px;
}
.qip2012-informers .first{
	margin-left:3px;
}
div#rdminfrm_30765{
	margin:40px auto 0;
	position:relative;
}
.pip_container.pip_type1{
	float:right;
}
.footer_santa{
	background:transparent url("img/y2012/footer_santa.png") no-repeat;
	width:657px;
	height:177px;
	position:relative;
	left:50%;
	margin-left:300px;
}
.qip2012_footer_white{
	width:100%;
	height:41px;
	background:#fff;
}
.biglion_big_right{
	position:fixed;
	width:50%;
	height:100%;
	left:50%;
	margin-left:520px;
	z-index:1;
}
.biglion_big_left{
	position:fixed;
	width:50%;
	height:100%;
	right:50%;
	margin-right:520px;
	//margin-top:110px;
	z-index:1;
}
.biglion_big_right a,
.biglion_big_left a{
	display:block;
	width:100%;
	height:100%;
}
/* Biglion.css*/
/* Контент */
.qip2012-content-wrap-biglion{
	width:960px;
	position:relative;
	overflow:hidden;
	left:50%;
	margin-left:-480px;
}
/* Menu */
.biglion_menu{
	width:100%;
	height:36px;
	background:#63b8e6;
	border-radius:8px;
	box-shadow:1px 1px 0px #d6c6b7;
	border-spacing:0;
}
.biglion_menu td{
	width:1px;
	text-align:center;
	padding:1px 5px;
	border-right:1px solid #fff;
}
.biglion_menu td a{
	display:block;
	width:100%;
	height:34px;
	vertical-align:middle;
}
.biglion_menu td a:hover{
	color:#fff !important;
}
.biglion_menu td.biglion_active_item a:hover{
	color:#000 !important;
}
.biglion_menu td, .biglion_menu td a{
	white-space: nowrap;
	font:bold small-caps 16px/34px Arial, sans-serif;
	color:#000;
	text-decoration:none;
}
.brake_bar{
	height:100%;
}

.biglion_left_item{
	padding-left:12px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
}
.biglion_right_item{
	padding-right:12px;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
}
.biglion_menu td.biglion_active_item{
	background:#fff;
	border-bottom:1px solid #63b8e6;
	border-top:2px solid #63b8e6;
}
.biglion_menu td.biglion_active_item.biglion_left_item{
	border-left:1px solid #63b8e6;
}
.biglion_menu td.biglion_active_item.biglion_right_item{
	border-right:1px solid #63b8e6;
}
.biglion_menu td.biglion_active_item a{
	height:35px;
}

/* ---- */
.biglion_act{
	font:bold 30px/30px Tahoma, Arial, sans-serif;
	color:#424242;
	margin:20px 0;
}
.biglion_banner{
	width:960px;
	height:510px;
	position:relative;
	background:transparent url('img/y2012/biglion_banner.jpg') no-repeat;
	z-index:110;
}
.biglion_banner_link1{
	display:block;
	position:absolute;
	width:380px;
	height:170px;
	top:5px;
	left:270px;
	z-index:120;
}
.biglion_banner_link2{
	display:block;
	position:absolute;
	width:300px;
	height:350px;
	bottom:0;
	right:0;
	z-index:120;
}
.biglion_banner_link3{
	display:block;
	position:absolute;
	width:260px;
	height:200px;
	bottom:0;
	right:300px;
	z-index:120;
}
.biglion_logo{
	position:absolute;
	width:188px;
	height:77px;
	background:transparent url('img/y2012/biglion_logo.png') no-repeat;
	top:5px;
	right:10px;
	z-index:130;
}
.biglion_logo a{
	display:block;
	width:100%;
	height:100%;
}
.biglion_text{
	position:absolute;
	width:420px;
	height:225px;
	top:200px;
	left:20px;
	font:normal 14px/18px Arial, sans-serif;
	color:#000;
	z-index:130;
}
.biglion_bold{
	font-weight:bold;
}
.biglion_bull{
	font-size:18px;
	vertical-align:bottom;
}
.biglion_about{
	position:absolute;
	width:151px;
	height:39px;
	background:transparent url('img/y2012/biglion_about.png') no-repeat;
	bottom:20px;
	left:20px;
	z-index:130;
}
.biglion_about a{
	display:block;
	width:100%;
	height:100%;	
}
.biglion_actions_item{
	background:#ffffff;
	background:-moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0));
	background:-webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
	background:-o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
	background:-ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
	background:linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
	width:462px;
	height:415px;
	float:left;
	border:1px solid #d2d2d2;
	border-radius:5px;
	margin:8px !important;
	margin:8px 8px 8px 4px;
	overflow:hidden;
	}
.biglion_item_head{
	/* height:330px; */
	width:442px;
	padding: 10px 10px 0 10px;
}
.biglion_item_head_txt{
	font:bold 14px/18px Arial, sans-serif;
	width:100%;
	height:36px;
	overflow:hidden;
	margin-bottom:0;
}
.biglion_item_img{
	width:434px;
	height:248px;
	margin:5px auto 0 auto;
	border:1px solid #ccc;
	border-bottom:none;	
}
.biglion_item_img a{
	display:block;
	height:246px;
	width:430px;
	overflow:hidden;
	margin:2px 2px 0 2px; 
}
.biglion_item_img img{
	width:440px;
}
.biglion_item_prices{
	height:51px;
	width:462px;
	overflow:visible;
	background:#fff;
	border-top:1px solid #c3d788;
	border-bottom:1px solid #c3d788;
	position:relative;
}
.biglion_coupon_price{
	float:left;
	font:normal 12px/18px Arial, sans-serif;
	text-align:center;
	width:100px;
	padding:8px 0;
	height:35px;
	overflow:visible;
}
.biglion_item_prices div p{
	font:bold 17px/17px Arial, sans-serif;
	text-align:center;
}
.biglion_item_prices div p span{
	font:bold 11px/17px Arial, sans-serif;
}
.biglion_coupon_discount{
	border-left:1px solid #c3d788;
	float:left;
	font:normal 12px/18px Arial, sans-serif;
	text-align: center;
	padding:8px 0;
	width:70px;
	height:35px;
}
.biglion_coupon_economy{
	border-left:1px solid #c3d788;
	float:left;
	font:normal 12px/18px Arial, sans-serif;
	text-align: center;
	padding:8px 0;
	width:90px;
	height:35px;
}
.biglion_coupon_bigprice{
	background:transparent url('img/y2012/biglion_item_price.png') no-repeat;
	width:204px;
	height:61px;
	position:absolute;
	top:-1px;
	right:0;
}
.biglion_item_prices .biglion_coupon_bigprice p{
	float:right;
	font:bold 35px/58px Arial, sans-serif;
	text-align:center;
	width:180px;
}
.biglion_item_prices .biglion_coupon_bigprice p span{
	font:bold 16px/58px Arial, sans-serif;
}
.biglion_spacer{
	width:100%;
	height:1px;
	overflow:hidden;
}
.biglion_number{
	color:#676767;
	float:left;
	font:normal 12px/21px Arial, sans-serif;
	margin:5px 30px 0 10px;
}
.biglion_number p{
	color:#000;
	font:bold 14px/21px Arial, sans-serif;
}
.biglion_timer{
	color:#676767;
	float:left;
	font:normal 12px/21px Arial, sans-serif;
	margin:5px 30px 0 0;
}
.biglion_timer div{
	font:bold 14px/21px Arial, sans-serif;
	color:#000;
	background:transparent url('img/y2012/biglion_timer.png') no-repeat;
	margin-right:30px;
	padding-left:26px;
}
.biglion_about_btn{
	width:112px;
	height:41px;
	float:right;
	background:transparent url('img/y2012/biglion_about_btn.png') no-repeat;
	margin:10px 10px 0 0;
}
.biglion_about_btn a{
	display:block;
	width:100%;
	height:100%;
}

/* Перекрытие фиксированного позиционирования боковых панелей*/
.qip_left{
	position:relative;
	z-index:2;
}
.qip2012_footer_white{
	position:relative;
	z-index:2;
}
.qh_menu #qhm_home{
	position:relative;
	z-index:2;
}
.qh_user_block.qh_unauth,
.qh_user_block.qh_auth{
	position:relative;
	z-index:2;
}
.informer.qi_humor .qii_content p{
	margin-bottom:0; 
}
.informer.qi_humor .qii_content p a{
	display:block;
}
.informer.qi_humor .qii_content p a img{
	margin-bottom:0;
}
.informer.qi_humor .qii_content p a span.title{
	height:32px;
	vertical-align:middle;
}